{% extends 'partials/layout.html.twig' %}

{% block metadata %}
    <title>{{ page.header.meta_title }} | Bison Ranch</title>
    <meta name="description" content="{{ page.header.meta_description }}">
{% endblock %}

{% block content %}
    {% for content in page.header.contents %}
        <section id="{{ content.id }}" class="{{ content.class }}">
            <div class="wrapper">

                {% if content.aside %}
                    <aside>
                        {% for aside in content.aside %}
                            {% if aside.title %}
                                <span class="title">{{ aside.title }}</span>
                            {% endif %}
                            {% if aside.content %}
                                {{ aside.content|markdown }}
                            {% endif %}
                            {% if aside.widget == 'schedule' %}
                                {% include 'partials/aside-schedule.html.twig' %}
                            {% endif %}
                            {% if aside.widget == 'address' %}
                                {% include 'partials/aside-address.html.twig' %}
                            {% endif %}
                        {% endfor %}
                    </aside>
                {% endif %}

                <div class="content">
                    {% for item in content.contents %}
                        {% if item.title %}
                            <h2>{{ item.title }}</h2>
                        {% endif %}
                        {% if item.subtitle %}
                            <h3>{{ item.subtitle }}</h3>
                        {% endif %}
                        {% if item.content %}
                            {{ item.content|markdown }}
                        {% endif %}
                        {% if item.image %}
                            <figure class="photo">
                                <img src="{{ page.media[item.image].url }}" alt="" />
                            </figure>
                        {% endif %}
                        {% if item.gallery %}
                            <div class="gallery photo">
                                {% set first = true %}
                                {% for image in item.gallery %}

                                    {% if first %}
                                        {% set firstClass = 'full' %}
                                        {%  set first = false %}
                                    {% endif %}

                                    <div data-src="{{ page.media[image.image].url }}" class="item {{ firstClass }}">
                                        <img src="{{ page.media[image.image].url }}">
                                    </div>

                                    {% set firstClass = '' %}
                                {% endfor %}
                            </div>
                        {% endif %}
                        {% if item.column_1_content %}
                            <div class="column">{{ item.column_1_content|markdown }}</div>
                        {% endif %}
                        {% if item.column_2_content %}
                            <div class="column">{{ item.column_2_content|markdown }}</div>
                        {% endif %}
                    {% endfor %}
                </div>

            </div>
        </section>
    {% endfor %}
{% endblock %}