{% extends 'partials/layout.html.twig' %}

{% block metadata %}
    <title>{{ page.header.meta_title }} | Bison Ranch</title>
    <meta name="description" content="{{ page.header.meta_description }}">
{% endblock %}

{% block content %}
    <section id="contact-information" class="block">
        <div class="wrapper">
            <aside>
                {% include 'partials/aside-address.html.twig' %}
                {% include 'partials/aside-schedule.html.twig' %}
            </aside>
            <div class="content">
                <h2>{{ 'CONTACT.CONTACT_US'|t }}</h2>

                <form id="request-contact">
                    <div class="form-fieldset" style="">

                        <div style="display:none;" id="request-contact-success">{{ t("CONTACT.NOTICE.SUCCESS") }}</div>

                        <div class="form">

                            <div class="field required">
                                <label for="concerned">{{ t("FIELD.CONCERNED") }}</label>
                                <div>
                                    <select name="subject">
                                        <option value="reservation gîte">{{ 'CONTACT.RESERVATION-GITE'|t }}</option>
                                        <option value="reservation auberge">{{ 'CONTACT.RESERVATION-AUBERGE'|t }}</option>
                                        <option value="question">{{ 'CONTACT.QUESTION'|t }}</option>
                                        <option value="autre">{{ 'CONTACT.OTHER'|t }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="field required" rel="firstname">
                                <label for="firstname">{{ t("FIELD.FIRST_NAME") }}</label>
                                <div>
                                    <input type="text" name="firstname" value="" pattern=".{3,}">
                                </div>
                            </div>

                            <div class="field required" rel="lastname">
                                <label for="lastname">{{ t("FIELD.LAST_NAME") }}</label>
                                <div>
                                    <input type="text" name="lastname" value="" pattern=".{3,}">
                                </div>
                            </div>

                            <div class="field required" rel="email">
                                <label for="email">{{ t("FIELD.EMAIL") }}</label>
                                <div>
                                    <input type="text" name="email" value="" pattern="[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*">
                                </div>
                            </div>

                            <div class="field required" rel="phone">
                                <label for="phone">{{ t("FIELD.PHONE") }}</label>
                                <div>
                                    <input type="text" name="phone" value="" pattern=".{3,}">
                                </div>
                            </div>

                            <div class="field required">
                                <label for="comment">{{ t("FIELD.COMMENT") }}</label>
                                <div>
                                    <textarea pattern=".{3,}" name="comment"></textarea>
                                </div>
                            </div>

                            <!--script src='https://www.google.com/recaptcha/api.js'></script>
                            <div class="g-recaptcha" data-sitekey="{{ site.google_recaptcha.site_key }}"></div>-->

                            <p class="buttons">
                                <button type="reset" class="cancel"><span>{{ t("FIELD.CANCELLED") }}</span></button>
                                <button type="button" class="primary next"><span>{{ t("FIELD.SEND") }}</span></button>
                            </p>

                        </div>

                    </div>
                </form>
            </div>
        </div>
    </section>
    <section id="contact-access" class="block">
        <div class="wrapper">
            <aside>
                <nav class="subnavigation">
                    <ul>
                        <li><a href="https://www.google.ch/maps/dir/''/bisonranch/@47.1469935,7.0538167,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x478e04a129e9b2c5:0xc83c306e29d85eb4!2m2!1d7.122483!2d47.147014" target="_blank">Itinéraire <i>Google Map</i></a></li>
                    </ul>
                </nav>
            </aside>
            <div class="content access-content">
                <h2>{{ 'CONTACT.ACCESS'|t }}</h2>
                {{ page.header.access_content|markdown }}
                <div id="map" style="height:300px;"></div>
            </div>
        </div>
    </section>
    <script>

        function getFormData(data) {
            var unindexed_array = data;
            var indexed_array = {};

            $.map(unindexed_array, function(n, i) {
                indexed_array[n['name']] = n['value'];
            });

            return indexed_array;
        }

        function validateForm(){
            var checkStep = true;
            var fields = $('#request-contact .field').each(function(){
                var field = $(this).find('input, textarea');
                var patt = new RegExp(field.attr('pattern'));

                if( patt.test(field.val()) ){
                    //console.log(field.attr('name'), "parfait !");
                    $("#request-devis-error").fadeOut();
                    $(this).removeClass("error");
                }else{
                    //console.log(field.attr('name'), "Beurk !");
                    $(this).addClass("error");
                    $("#request-devis-error").fadeIn();
                    checkStep = false;
                }
            });
            return checkStep;
        }

        function next(){

            // VALIDATE
            if( !validateForm() ){
                return false;
            }

            var data = $("#request-contact").serializeArray();

            $.ajax({
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                url: "{{ base_url }}/{{ config.plugins.email.apiUrl }}/request-contact-send",
                data: JSON.stringify(getFormData(data)),
                success: function(response) {
                    $("#request-contact-success").fadeIn();
                    $("#request-contact-error").hide();
                    $("#request-contact .form").hide();
                    window.weeboxAnalytics.pageView("request-contact-success", "Demande de contact");
                },
                error: function(response) {
                    $("#request-contact-error").fadeIn();
                    console.log("error", response.responseJSON.error);
                }
            });
        }

        $("#request-contact .next").click(function(){
            next();
            return false;
        });
    </script>
{% endblock %}
