{% extends 'partials/layout.html.twig' %}

{% block under_content %}
<a href="#" class="link-start" data-target="main">
    <span><i class="icon icon-arrow-down"></i><i class="icon icon-arrow-down"></i></span>
</a>
{% endblock %}

{% block metadata %}
    <title>{{ page.header.meta_title }}</title>
    <meta name="description" content="{{ page.header.meta_description }}">
{% endblock %}

{% block content %}
<section class="information" id="home-intro">
    <div class="wrapper">

        {% set is_holiday = false %}
        {% set endHoliday = '' %}

        {% for holiday in page.find('/config').header.holidays %}

            {% set now = "now"|date("U") %}
            {% set start = holiday.start_date|date("U") %}
            {% set end = holiday.end_date|date("U") %}

            {% if now >= start and now <= end %}

                {% set is_holiday = true %}
                {% set endHoliday = holiday.end_date|date("l, d F Y") %}

            {% endif %}

        {% endfor %}

        {% if is_holiday == true %}

            {% set class = 'closed' %}
            {% set message_status = 'HOMEPAGE.HOLIDAY_INFO'|t ~ ' ' ~ endHoliday %}

        {% elseif "now"|date("w") == 1 or "now"|date("w") == 2 %}

            {% set class = 'closed' %}
            {% set message_status = 'HOMEPAGE.CLOSE_INFO'|t %}

        {% else %}

            {% set class = 'opened' %}
            {% set message_status = 'HOMEPAGE.OPEN_INFO'|t %}

        {% endif %}

        <div class='{{ class }}'>
            <p>
                {{ message_status }}
                <span class='info' style="line-height:1.2em;">
                    {{ 'HOMEPAGE.WEEKLY_CLOSE_INFO'|t }} - <a href='{{ page.find('/contact').url }}#horaire'>{{ 'HOMEPAGE.MORE_INFO'|t }}</a>
                    <br> {{ 'HOMEPAGE.RESERVATION_INFO'|t }}
                </span>
            </p>
        </div>

        <div class="banner">
            <div class="mapping">
                <a href="http://www.forestjump.ch" class="poi-1"><span class="icon icon-marker"></span><i>1</i></a>
                <a href="{{ page.find('/hebergement-gite/cabane').url }}" class="poi-2"><span class="icon icon-marker"></span><i>2</i></a>
                <a href="{{ page.find('/bison').url }}" class="poi-3"><span class="icon icon-marker"></span><i>3</i></a>
                <a href="{{ page.find('/hebergement-gite/tipi').url }}" class="poi-4"><span class="icon icon-marker"></span><i>4</i></a>
                <a href="{{ page.find('/auberge').url }}" class="poi-5"><span class="icon icon-marker"></span><i>5</i></a>
                <a href="{{ page.find('/hebergement-gite/dortoir').url }}" class="poi-6"><span class="icon icon-marker"></span><i>6</i></a>
                <img src="{{ page.media[page.header.map].url }}"/>
            </div>
        </div>

        <div class="row">

            <div class="col">

                <nav class="subnavigation">
                    <ul>
                        <li><a href="http://www.forestjump.ch">
                                <div class="marker">
                                    <span class="icon icon-marker"></span>
                                    <span class="index">1</span>
                                </div>
                                {{ 'HOMEPAGE.SUBNAVIGATION.FOREST_JUMP'|t }}</a></li>
                        <li><a href="{{ page.find('/hebergement-gite/cabane').url }}">
                                <div class="marker">
                                    <span class="icon icon-marker"></span>
                                    <span class="index">2</span>
                                </div>
                                {{ 'HOMEPAGE.SUBNAVIGATION.FAR_WEST'|t }}</a></li>
                        <li><a href="{{ page.find('/bison').url }}">
                                <div class="marker">
                                    <span class="icon icon-marker"></span>
                                    <span class="index">3</span>
                                </div>
                                {{ 'HOMEPAGE.SUBNAVIGATION.BISON_PARK'|t }}</a>
                        </li>
                    </ul>
                </nav>

            </div>

            <div class="col">

                <nav class="subnavigation">
                    <ul>
                        <li><a href="{{ page.find('/hebergement-gite/tipi').url }}">
                                <div class="marker">
                                    <span class="icon icon-marker"></span>
                                    <span class="index">4</span>
                                </div>
                                {{ 'HOMEPAGE.SUBNAVIGATION.TIPI'|t }}</a></li>
                        <li><a href="{{ page.find('/auberge').url }}">
                                <div class="marker">
                                    <span class="icon icon-marker"></span>
                                    <span class="index">5</span>
                                </div>
                                {{ 'HOMEPAGE.SUBNAVIGATION.HOSTEL'|t }}</a></li>
                        <li><a href="{{ page.find('/hebergement-gite/dortoir').url }}">
                                <div class="marker">
                                    <span class="icon icon-marker"></span>
                                    <span class="index">6</span>
                                </div>
                                {{ 'HOMEPAGE.SUBNAVIGATION.DORMITORY'|t }}</a></li>
                    </ul>
                </nav>

            </div>
        </div>

        <div class="spacer"></div>

    </div>
</section>

<section class="block" id="home-today">
    <div class="wrapper">

        <aside>

            <div id="TA_selfserveprop972" class="TA_selfserveprop">
                <ul id="CozkWruPfCr3" class="TA_links B20Cdj">
                    <li id="VqGJjsw" class="dQ1neD">
                        <a target="_blank" href="https://fr.tripadvisor.ch/"><img src="https://fr.tripadvisor.ch/img/cdsi/img2/branding/150_logo-11900-2.png" alt="TripAdvisor"/></a>
                    </li>
                </ul>
            </div>
            <script src="https://www.jscache.com/wejs?wtype=selfserveprop&amp;uniq=972&amp;locationId=12118092&amp;lang=fr_CH&amp;rating=true&amp;nreviews=0&amp;writereviewlink=true&amp;popIdx=false&amp;iswide=false&amp;border=false&amp;display_version=2"></script>

            <style>.widSSP{ width: auto !important; }</style>

            <div class="fb-page" style="margin-top: 40px;" data-href="https://www.facebook.com/bisonranch.ch/" data-tabs="timeline" data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/bisonranch.ch/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/bisonranch.ch/">Bison Ranch</a></blockquote></div>

        </aside>

        <div class="content">
            <iframe width="100%" height="315" src="https://www.youtube.com/embed/dTXo1lv6jyU" frameborder="0" allowfullscreen></iframe>
        </div>

    </div>
</section>
<section class="block" id="home-news">
    <div class="wrapper">
        <div class="content">
            <span class="title">{{ 'HOMEPAGE.WEBCAM_CHASSERAL'|t }}</span>
            <iframe src="https://chasseral.roundshot.co/" frameborder="0" allowfullscreen width="100%" height="400"></iframe>
        </div>

        <div class="content" style="text-align: center;">
            <a href="https://www.jurabernois.ch/fr/accueil.html" style="display: inline-block;" target="_blank">
                <img src="{{ url('theme://images/J3L_JBT.jpg') }}" height="100" border="0"/>
			</a>
		</div>

	</div>
</section>
{% endblock %}