{% set body_class = 'page-news' %}
{% set url = uri.url(false)|split('/') %}
{% set category = url[2] %}

{% extends 'partials/layout.html.twig' %}

{% block metadata %}
    <title>{{ page.header.meta_title }} | Bison Ranch</title>
    <meta name="description" content="{{ page.header.meta_description }}">
{% endblock %}

{% block content %}
    <section id="gite-information" class="block">
        <div class="wrapper">
            {% include 'partials/navigation-blog.html.twig' %}
            <div class="content">
                {% for post in page.collection %}
                    {% if category is not null or category is not empty %}

                        {% for item_category in post.header.taxonomy.category %}

                            {% if item_category == category %}

                                {% include 'partials/news-thumb.html.twig' %}

                            {% endif %}

                        {% endfor %}

                    {% else %}
                        {% include 'partials/news-thumb.html.twig' %}
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    </section>
{% endblock %}