{% set body_class = 'page-news' %}

{% set months = [
    'SCHEDULE.MONTHS.JANUARY',
    'SCHEDULE.MONTHS.FEBRUARY',
    'SCHEDULE.MONTHS.MARCH',
    'SCHEDULE.MONTHS.APRIL',
    'SCHEDULE.MONTHS.MAY',
    'SCHEDULE.MONTHS.JUNE',
    'SCHEDULE.MONTHS.JULY',
    'SCHEDULE.MONTHS.AUGUST',
    'SCHEDULE.MONTHS.SEPTEMBER',
    'SCHEDULE.MONTHS.OCTOBER',
    'SCHEDULE.MONTHS.NOVEMBER',
    'SCHEDULE.MONTHS.DECEMBER'
] %}

{% extends 'partials/layout.html.twig' %}

{% block metadata %}
    <title>{{ page.header.meta_title }} | Bison Ranch</title>
    <meta name="description" content="{{ page.header.meta_description }}">
{% endblock %}

{% block image_bg %}
    <div class="bgslide" style="background-image:url({{ page.find('/actualites').media[page.find('/actualites').header.background_image].url }});"></div>
{% endblock %}

{% block header_content %}
    <h1>{{ page.find('/actualites').header.title }}</h1>
    <p>{{ page.find('/actualites').content }}</p>
{% endblock %}

{% block content %}
    <section id="gite-information" class="block">
        <div class="wrapper">
            {% include 'partials/navigation-blog.html.twig' %}
            <div class="content page-news">
                <article class="news">
                    <header>
                        <h1 class="title">{{ page.title }}</h1>
                        <p>
                            {{ 'BLOG.POST_DATE'|t }} {{ page.date|date('d') }} {{ months[(page.date|date('n'))-1]|t }} {{ page.date|date('Y') }} {{ 'BLOG.POST_BY'|t }} Bison Ranch
                        </p>
                    </header>
                    <figure class="news-preview">
                        <img src="{{ page.media[page.header.background_image].url }}">
                    </figure>
                    <div class="news-content">
                        <div class="news-body">
                            {{ page.content }}
                        </div>
                        <div class="gallery photo">
                            {% for gallery in page.header.gallery %}
                                <div data-src="{{ page.media[gallery.image].url }}" class="item">
                                    <img src="{{ page.media[gallery.image].cropZoom(200,200).url }}">
                                </div>
                            {% endfor %}
                        </div>
                        <div class="news-tags">
                            <ul>
                                {% for tag in page.header.taxonomy.tag %}
                                    <li><a href="#">#{{ tag }}</a></li>
                                {% endfor %}
                            </ul>
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </section>
{% endblock %}