{% extends 'partials/layout.html.twig' %}

{% block metadata %}
    <title>{{ page.header.meta_title }} | Bison Ranch</title>
    <meta name="description" content="{{ page.header.meta_description }}">
{% endblock %}

{% block content %}
    <section id="contact-information" class="block">
        <div class="wrapper">
            <aside>
                {% include 'partials/aside-address.html.twig' %}
                {% include 'partials/aside-schedule.html.twig' %}
            </aside>
            <div class="content">
                <h2>{{ 'CONTACT.CONTACT_US'|t }}</h2>

                <form id="request-contact">
                    <div class="form-fieldset" style="">

                        <div style="display:none;" id="request-contact-success">{{ t("CONTACT.NOTICE.SUCCESS") }}</div>

                        <div class="form">

                            <div class="field required">
                                <label for="concerned">{{ t("FIELD.CONCERNED") }}</label>
                                <div>
                                    <select name="subject">
                                        <option value="reservation gîte">{{ 'CONTACT.RESERVATION-GITE'|t }}</option>
                                        <option value="reservation auberge">{{ 'CONTACT.RESERVATION-AUBERGE'|t }}</option>
                                        <option value="question">{{ 'CONTACT.QUESTION'|t }}</option>
                                        <option value="autre">{{ 'CONTACT.OTHER'|t }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="field required" rel="firstname">
                                <label for="firstname">{{ t("FIELD.FIRST_NAME") }}</label>
                                <div>
                                    <input type="text" name="firstname" value="" pattern=".{3,}">
                                </div>
                            </div>

                            <div class="field required" rel="lastname">
                                <label for="lastname">{{ t("FIELD.LAST_NAME") }}</label>
                                <div>
                                    <input type="text" name="lastname" value="" pattern=".{3,}">
                                </div>
                            </div>

                            <div class="field required" rel="email">
                                <label for="email">{{ t("FIELD.EMAIL") }}</label>
                                <div>
                                    <input type="text" name="email" value="" pattern="[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*">
                                </div>
                            </div>

                            <div class="field required" rel="phone">
                                <label for="phone">{{ t("FIELD.PHONE") }}</label>
                                <div>
                                    <input type="text" name="phone" value="" pattern=".{3,}">
                                </div>
                            </div>

                            <div class="field required">
                                <label for="comment">{{ t("FIELD.COMMENT") }}</label>
                                <div>
                                    <textarea pattern=".{3,}" name="comment"></textarea>
                                </div>
                            </div>

                            <!--script src='https://www.google.com/recaptcha/api.js'></script>
                            <div class="g-recaptcha" data-sitekey="{{ site.google_recaptcha.site_key }}"></div>-->

                            <p class="buttons">
                                <button type="reset" class="cancel"><span>{{ t("FIELD.CANCELLED") }}</span></button>
                                <button type="button" class="primary next"><span>{{ t("FIELD.SEND") }}</span></button>
                            </p>

                        </div>

                    </div>
                </form>
            </div>
        </div>
    </section>
    <section id="contact-access" class="block">
        <div class="wrapper">
            <aside>
                <nav class="subnavigation">
                    <ul>
                        <li><a href="https://www.google.ch/maps/dir/''/bisonranch/@47.1469935,7.0538167,12z/data=!3m1!4b1!4m8!4m7!1m0!1m5!1m1!1s0x478e04a129e9b2c5:0xc83c306e29d85eb4!2m2!1d7.122483!2d47.147014" target="_blank">Itinéraire <i>Google Map</i></a></li>
                    </ul>
                </nav>
            </aside>
            <div class="content access-content">
                <h2>{{ 'CONTACT.ACCESS'|t }}</h2>
                {{ page.header.access_content|markdown }}
                <div id="map" style="height:300px;"></div>
            </div>
        </div>
    </section>
{% endblock %}

{% block before_body_end %}
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyA3RZzwpoA9pQ6MTsP2OLTOwNnyBT02XDw&sensor=false"></script>
    <script type="text/javascript">
        // When the window has finished loading create our google map below
        google.maps.event.addDomListener(window, 'load', init);

        function init() {
            // Basic options for a simple Google Map
            // For more options see: https://developers.google.com/maps/documentation/javascript/reference#MapOptions
            var mapOptions = {
                // How zoomed in you want the map to start at (always required)
                zoom: 11,

                //mapTypeId: google.maps.MapTypeId.HYBRID,

                // The latitude and longitude to center the map (always required)
                center: new google.maps.LatLng(47.147014, 7.122483),

                // How you would like to style the map.
                // This is where you would paste any style found on Snazzy Maps.
                styles: [{
                    "featureType":"water",
                    "elementType":"geometry",
                    "stylers":[{"visibility":"on"},{"color":"#aee2e0"}]
                },{
                    "featureType":"landscape",
                    "elementType":"geometry.fill",
                    "stylers":[{"color":"#abce83"}]
                },
                    {
                        "featureType":"poi",
                        "elementType":"geometry.fill",
                        "stylers":[{"color":"#769E72"}]
                    },{
                        "featureType":"poi",
                        "elementType":"labels.text.fill",
                        "stylers":[{"color":"#7B8758"}]
                    },{
                        "featureType":"poi",
                        "elementType":"labels.text.stroke",
                        "stylers":[{"color":"#EBF4A4"}]
                    },{
                        "featureType":"poi.park",
                        "elementType":"geometry",
                        "stylers":[{"visibility":"simplified"},{"color":"#8dab68"}]
                    },{
                        "featureType":"road",
                        "elementType":"geometry.fill",
                        "stylers":[{"visibility":"simplified"}]
                    },{
                        "featureType":"road",
                        "elementType":"labels.text.fill",
                        "stylers":[{"color":"#5B5B3F"}]
                    },{
                        "featureType":"road",
                        "elementType":"labels.text.stroke",
                        "stylers":[{"color":"#ABCE83"}]
                    },{
                        "featureType":"road",
                        "elementType":"labels.icon",
                        "stylers":[{"visibility":"off"}]
                    },{
                        "featureType":"road.local",
                        "elementType":"geometry",
                        "stylers":[{"color":"#A4C67D"}]
                    },{
                        "featureType":"road.arterial",
                        "elementType":"geometry",
                        "stylers":[{"color":"#9BBF72"}]
                    },{
                        "featureType":"road.highway",
                        "elementType":"geometry",
                        "stylers":[{"color":"#EBF4A4"}]
                    },{
                        "featureType":"transit",
                        "stylers":[{"visibility":"off"}]
                    },{
                        "featureType":"administrative",
                        "elementType":"geometry.stroke",
                        "stylers":[{"visibility":"on"},{"color":"#87ae79"}]
                    },{
                        "featureType":"administrative",
                        "elementType":"geometry.fill",
                        "stylers":[{"color":"#7b9365"},{"visibility":"off"}]
                    },{
                        "featureType":"administrative",
                        "elementType":"labels.text.stroke",
                        "stylers":[{"color":"#5f7248"},{"visibility":"on"},{"weight":3}]
                    },{
                        "featureType":"administrative",
                        "elementType":"labels.text.fill",
                        "stylers":[{"color":"#e6f8cc"}]
                    },{
                        "featureType":"administrative.neighborhood",
                        "elementType":"labels",
                        "stylers":[{"visibility":"off"}]
                    }]
            };

            // Get the HTML DOM element that will contain your map
            // We are using a div with id="map" seen below in the <body>
            var mapElement = document.getElementById('map');

            // Create the Google Map using our element and options defined above
            var map = new google.maps.Map(mapElement, mapOptions);

            // Let's also add a marker while we're at it
            var marker = new google.maps.Marker({
                position: new google.maps.LatLng(47.147014, 7.122483),
                map: map,
                title: 'Bison Ranch'
            });
        }
    </script>
    <script>

        function getFormData(data) {
            var unindexed_array = data;
            var indexed_array = {};

            $.map(unindexed_array, function(n, i) {
                indexed_array[n['name']] = n['value'];
            });

            return indexed_array;
        }

        function validateForm(){
            var checkStep = true;
            var fields = $('#request-contact .field').each(function(){
                var field = $(this).find('input, textarea');
                var patt = new RegExp(field.attr('pattern'));

                if( patt.test(field.val()) ){
                    //console.log(field.attr('name'), "parfait !");
                    $("#request-devis-error").fadeOut();
                    $(this).removeClass("error");
                }else{
                    //console.log(field.attr('name'), "Beurk !");
                    $(this).addClass("error");
                    $("#request-devis-error").fadeIn();
                    checkStep = false;
                }
            });
            return checkStep;
        }

        function next(){

            // VALIDATE
            if( !validateForm() ){
                return false;
            }

            var data = $("#request-contact").serializeArray();

            $.ajax({
                type: "POST",
                contentType: 'application/json; charset=utf-8',
                dataType: 'json',
                url: "{{ base_url }}/{{ config.plugins.email.apiUrl }}/request-contact-send",
                data: JSON.stringify(getFormData(data)),
                success: function(response) {
                    $("#request-contact-success").fadeIn();
                    $("#request-contact-error").hide();
                    $("#request-contact .form").hide();
                    window.weeboxAnalytics.pageView("request-contact-success", "Demande de contact");
                },
                error: function(response) {
                    $("#request-contact-error").fadeIn();
                    console.log("error", response.responseJSON.error);
                }
            });
        }

        $("#request-contact .next").click(function(){
            next();
            return false;
        });
    </script>
{% endblock %}
