{% extends 'partials/layout.html.twig' %}

{% block metadata %}
    <title>{{ page.header.meta_title }} | Bison Ranch</title>
    <meta name="description" content="{{ page.header.meta_description }}">
{% endblock %}
