{% extends 'partials/layout.html.twig' %}

{% block metadata %}
    <title>{{ page.header.meta_title }} | Bison Ranch</title>
    <meta name="description" content="{{ page.header.meta_description }}">
{% endblock %}

{% block content %}

    <section id="medias" class="block">
        <div class="wrapper">
            <div class="content">
                <h2>{{ 'MEDIAS.TITLE.SOUND_MOVIE'|t }}</h2>
                <div class="gallery">
                    {% for content in page.header.media_contents %}
                        {% if content.link %}
                            <a href="{{ content.link }}" class="item" target="_blank">
                        {% elseif content.filemedia %}
                                <a href="{{ page.media[content.filemedia].url }}" class="item" target="_blank">
                        {% endif %}
                            <img src="{{ page.media[content.image].url }}">
                            <span>{{ content.title }}<br>{{ content.sub_title }}</span>
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </section>

    <section id="medias-gallery" class="block">
        <div class="wrapper">
            <div class="content">
                <h2>{{ 'MEDIAS.TITLE.PICTURES'|t }}</h2>
                <div class="gallery photo">
                    <div class="gallery photo">
                        {% for content in page.header.media_gallery %}
                            <div data-src="{{ page.media[content.image].url }}" class="item">
                                <img src="{{ page.media[content.image].url }}"/>
                            </div>
                        {% endfor %}

                        <script src="{{ url('theme://js/masonry/masonry.pkgd.min.js') }}"></script>
                        <script src="{{ url('theme://js/masonry/imagesloaded.pkgd.min.js') }}"></script>

                        <script>
                            var $container = $('.gallery.photo');
                            $container.imagesLoaded( function(){
                                $container.masonry({
                                    itemSelector : '.item'
                                    //columnWidth: 200,
                                    //gutter: 20
                                });
                            });
                        </script>

                    </div>
                </div>
            </div>
        </div>
    </section>

    <section id="" class="block">
        <div class="wrapper">
            <div class="content">
                <h2>{{ 'MEDIAS.TITLE.RESOURCES'|t }}</h2>
                <table>
                    <tbody>
                        {% for content in page.header.media_ressources %}
                            <tr>
                                <td><strong>{{ content.label }}</strong></td>
                                <td>{{ content.link|markdown }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </section>

{% endblock %}