@font-face {
    font-family: 'HelveticaNeue';
    src: url('helveticaneueltstd-ultlt.eot');
    src: url('helveticaneueltstd-ultlt.eot') format('embedded-opentype'),
         url('helveticaneueltstd-ultlt.woff') format('woff'),
         url('helveticaneueltstd-ultlt.ttf') format('truetype'),
         url('helveticaneueltstd-ultlt.svg#HelveticaNeueLTStd25UltraLight') format('svg');

    font-weight:100;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('helveticaneueltstd-lt.eot');
    src: url('helveticaneueltstd-lt.eot') format('embedded-opentype'),
         url('helveticaneueltstd-lt.woff') format('woff'),
         url('helveticaneueltstd-lt.ttf') format('truetype'),
         url('helveticaneueltstd-lt.svg#HelveticaNeueLTStd45Light') format('svg');

    font-weight:300;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('helveticaneueltstd-roman.eot');
    src: url('helveticaneueltstd-roman.eot') format('embedded-opentype'),
         url('helveticaneueltstd-roman.woff') format('woff'),
         url('helveticaneueltstd-roman.ttf') format('truetype'),
         url('helveticaneueltstd-roman.svg#HelveticaNeueLTStd55Roman') format('svg');

    font-weight:400;
}

@font-face {
    font-family: 'HelveticaNeue';
    src: url('helveticaneueltstd-bd.eot');
    src: url('helveticaneueltstd-bd.eot') format('embedded-opentype'),
         url('helveticaneueltstd-bd.woff') format('woff'),
         url('helveticaneueltstd-bd.ttf') format('truetype'),
         url('helveticaneueltstd-bd.svg#HelveticaNeueLTStd75Bold') format('svg');

    font-weight:600;
}

