<form id="request-devis">

    <input type="hidden" name="route" value="{{ page.route }}"/>

    <div class="notice success" id="request-devis-success">{{ t("DEVIS.NOTICE.SUCCESS", site.address.phone ) }}</div>
    <div class="notice error" id="request-devis-error">{{ t("DEVIS.NOTICE.ERROR") }}</div>

    <div class="form">
        <div class="form-fieldset" rel="step-1">

            <ul class="steps">
                <li><h3>{{ t("DEVIS.STEP1.TITLE") }}</h3></li>
                <li class="active"><i>1</i></li>
                <li><i>2</i></li>
                <li><i>3</i></li>
                <li><i>4</i></li>
            </ul>

            <p>{{ t("DEVIS.DESCRIPTION") }}</p>

            <div class="form-field form-required" rel="duration">
                <div class="form-label">
                    <label for="duration">{{ t("DEVIS.FIELD.DURATION") }}</label>
                </div>
                <div class="form-input">
                    <div class="form-input-wrapper">
                        <input type="text" name="duration" value="1" pattern="[0-9]{1,}"/>
                    </div>
                </div>
            </div>

            <div class="form-field form-required" rel="km">
                <div class="form-label">
                    <label for="username">{{ t("DEVIS.FIELD.KM") }}</label>
                </div>
                <div class="form-input">
                    <div class="form-input-wrapper">
                        <input type="text" name="km" value="100" pattern="[0-9]{1,}"/>
                    </div>
                </div>
            </div>

            <div class="form-field form-required" rel="date">
                <div class="form-label">
                    <label for="username">{{ t("DEVIS.FIELD.DATE") }}</label>
                </div>
                <div class="form-input">
                    <div class="form-input-wrapper">
                        <input type="text" name="date" value="" pattern=".{1,}"/>
                    </div>
                </div>
            </div>

            <p class="buttons"><button type="button" class="next"><span>{{ t("DEVIS.BUTTON.NEXT") }}</span></button></p>

        </div>

        <div class="form-fieldset" rel="step-2">

            <ul class="steps">
                <li><h3>{{ t("DEVIS.STEP2.TITLE") }}</h3></li>
                <li><i>1</i></li>
                <li class="active"><i>2</i></li>
                <li><i>3</i></li>
                <li><i>4</i></li>
            </ul>

            <p>{{ t("DEVIS.DESCRIPTION") }}</p>

            <div class="form-field form-required" rel="firstname">
                <div class="form-label">
                    <label for="firstname">{{ t("FIELD.FIRST_NAME") }}</label>
                </div>
                <div class="form-input">
                    <div class="form-input-wrapper">
                        <input type="text" name="firstname" value="" pattern=".{3,}"/>
                    </div>
                </div>
            </div>

            <div class="form-field form-required" rel="lastname">
                <div class="form-label">
                    <label for="lastname">{{ t("FIELD.LAST_NAME") }}</label>
                </div>
                <div class="form-input">
                    <div class="form-input-wrapper">
                        <input type="text" name="lastname" value="" pattern=".{3,}"/>
                    </div>
                </div>
            </div>

            <div class="form-field form-required" rel="email">
                <div class="form-label">
                    <label for="username">{{ t("FIELD.EMAIL") }}</label>
                </div>
                <div class="form-input">
                    <div class="form-input-wrapper">
                        <input type="text" name="email" value="" pattern="[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*"/>
                    </div>
                </div>
            </div>

            <div class="form-field form-required" rel="phone">
                <div class="form-label">
                    <label for="username">{{ t("FIELD.PHONE") }}</label>
                </div>
                <div class="form-input">
                    <div class="form-input-wrapper">
                        <input type="text" name="phone" value="" pattern=".{3,}"/>
                    </div>
                </div>
            </div>

            <div class="form-field" rel="company">
                <div class="form-label">
                    <label for="username">{{ t("FIELD.SOCIETY") }}</label>
                </div>
                <div class="form-input">
                    <div class="form-input-wrapper">
                        <input type="text" name="company" value="" pattern=".{3,}|(.*)"/>
                    </div>
                </div>
            </div>

            <p style="clear: both;margin-top: 20px;">{{ t("DEVIS.COMPLEMENT") }}</p>

            <div class="form-field" rel="address">
                <div class="form-label">
                    <label for="username">{{ t("FIELD.ADDRESS.STREET") }}</label>
                </div>
                <div class="form-input">
                    <div class="form-input-wrapper">
                        <input type="text" name="address" value="" pattern=".{3,}|(.*)"/>
                    </div>
                </div>
            </div>


            <div class="form-field" rel="zipcode">
                <div class="form-label">
                    <label for="username">{{ t("FIELD.ADDRESS.ZIPCODE") }}</label>
                </div>
                <div class="form-input">
                    <div class="form-input-wrapper">
                        <input type="text" name="zipcode" value="" pattern=".{3,}|(.*)"/>
                    </div>
                </div>
            </div>

            <div class="form-field" rel="city">
                <div class="form-label">
                    <label for="username">{{ t("FIELD.ADDRESS.CITY") }}</label>
                </div>
                <div class="form-input">
                    <div class="form-input-wrapper">
                        <input type="text" name="city" value="" pattern=".{3,}|(.*)"/>
                    </div>
                </div>
            </div>

            <p>&nbsp;</p>

            <input type="hidden" name="vehicule" value="{{ page.slug }}"/>

            <p class="buttons">
                <button type="button" class="previous"><span>{{ t("DEVIS.BUTTON.PREVIOUS") }}</span></button>
                <button type="button" class="calculate"><span>{{ t("DEVIS.BUTTON.CALCULATE") }}</span></button>
            </p>

        </div>
        <div class="form-fieldset" rel="step-3">

            <ul class="steps">
                <li><h3>{{ t("DEVIS.STEP3.TITLE") }}</h3></li>
                <li><i>1</i></li>
                <li><i>2</i></li>
                <li class="active"><i>3</i></li>
                <li><i>4</i></li>
            </ul>

            <div class="devis-price" data-id="on-price">
                <p class="offer">{{ t("DEVIS.ESTIMATION.PRICE") }}</p>
                <div class="cost"><i class="currency">CHF</i> <span data-id="price">0</span> <i class="ht">{{ t("DEVIS.ESTIMATION.HT") }}</i></div>
                <p class="emplacement">{{ t("DEVIS.ESTIMATION.ADDRESS") }} <span>{{ grav.language.getLanguage == 'fr' ? 'Echandens (VD) ou Vernier (GE)': 'Hendschiken (AG)' }}</span></p>
                <p>{{ "DEVIS.ESTIMATION.INFO_PRICE"|t(site.address.phone) }}</p>
                <p class="mention">{{ t("DEVIS.ESTIMATION.MENTION") }}</p>
            </div>

            <div class="devis-price" data-id="on-demand">
                <p class="offer">{{ t("DEVIS.ESTIMATION.ON_DEMAND") }}</p>
                <p>{{ "DEVIS.ESTIMATION.INFO_ON_DEMAND"|t(site.address.phone) }}</p>
            </div>

            <p class="buttons">
                <button type="button" class="previous"><span>{{ t("DEVIS.BUTTON.PREVIOUS") }}</span></button>
                <button type="button" class="submit" id="submit-on-demand"><span>{{ t("DEVIS.BUTTON.SUBMIT") }}</span></button>
                <button type="button" class="submit" id="submit-price"><span>{{ t("DEVIS.BUTTON.SUBMIT_WITH_PRICE") }}</span></button>
            </p>

        </div>
        <div class="form-fieldset" rel="step-4">

            <ul class="steps">
                <li><h3>{{ t("DEVIS.STEP4.TITLE") }}</h3></li>
                <li><i>1</i></li>
                <li><i>2</i></li>
                <li><i>3</i></li>
                <li class="active"><i>4</i></li>
            </ul>

            <div class="devis-price" data-id="on-price">
                <p class="offer">{{ t("DEVIS.ESTIMATION.PRICE") }}</p>
                <div class="cost" style="margin-bottom: 0 !important;"><i class="currency">CHF</i> <span data-id="price">0</span> <i class="ht">{{ t("DEVIS.ESTIMATION.HT") }}</i></div>
                <p class="mention">{{ t("DEVIS.ESTIMATION.MENTION") }}</p>
            </div>

            <div class="devis-price" data-id="on-demand">
                <p class="offer">{{ t("DEVIS.ESTIMATION.ON_DEMAND") }}</p>
            </div>

            <div class="form-field form-required" rel="firstname">
                <div class="form-label">
                    <label for="firstname">{{ t("FIELD.FIRST_NAME") }}</label>
                </div>
                <div class="form-input">
                    <div class="form-input-wrapper">
                        <input type="text" name="firstname_final" value="" pattern=".{3,}"/>
                    </div>
                </div>
            </div>

            <div class="form-field form-required" rel="lastname">
                <div class="form-label">
                    <label for="lastname">{{ t("FIELD.LAST_NAME") }}</label>
                </div>
                <div class="form-input">
                    <div class="form-input-wrapper">
                        <input type="text" name="lastname_final" value="" pattern=".{3,}"/>
                    </div>
                </div>
            </div>

            <div class="form-field form-required" rel="email">
                <div class="form-label">
                    <label for="username">{{ t("FIELD.EMAIL") }}</label>
                </div>
                <div class="form-input">
                    <div class="form-input-wrapper">
                        <input type="text" name="email_final" value="" pattern="[a-zA-Z0-9.!#$%&’*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*"/>
                    </div>
                </div>
            </div>

            <div class="form-field form-required" rel="phone">
                <div class="form-label">
                    <label for="username">{{ t("FIELD.PHONE") }}</label>
                </div>
                <div class="form-input">
                    <div class="form-input-wrapper">
                        <input type="text" name="phone_final" value="" pattern=".{3,}"/>
                    </div>
                </div>
            </div>

            <div class="form-field" rel="company">
                <div class="form-label">
                    <label for="username">{{ t("FIELD.SOCIETY") }}</label>
                </div>
                <div class="form-input">
                    <div class="form-input-wrapper">
                        <input type="text" name="company_final" value="" pattern=".{3,}|(.*)"/>
                    </div>
                </div>
            </div>

            <div class="form-field form-required" rel="address">
                <div class="form-label">
                    <label for="username">{{ t("FIELD.ADDRESS.STREET") }}</label>
                </div>
                <div class="form-input">
                    <div class="form-input-wrapper">
                        <input type="text" name="address_final" value="" pattern=".{3,}"/>
                    </div>
                </div>
            </div>


            <div class="form-field form-required" rel="zipcode">
                <div class="form-label">
                    <label for="username">{{ t("FIELD.ADDRESS.ZIPCODE") }}</label>
                </div>
                <div class="form-input">
                    <div class="form-input-wrapper">
                        <input type="text" name="zipcode_final" value="" pattern=".{3,}"/>
                    </div>
                </div>
            </div>

            <div class="form-field form-required" rel="city">
                <div class="form-label">
                    <label for="username">{{ t("FIELD.ADDRESS.CITY") }}</label>
                </div>
                <div class="form-input">
                    <div class="form-input-wrapper">
                        <input type="text" name="city_final" value="" pattern=".{3,}"/>
                    </div>
                </div>
            </div>

            <p>&nbsp;</p>

            <p class="buttons">
                <button type="button" class="previous"><span>{{ t("DEVIS.BUTTON.PREVIOUS") }}</span></button>
                <button type="button" class="validate" id="submit-validate"><span>{{ t("DEVIS.BUTTON.VALIDATE") }}</span></button>
            </p>

        </div>
    </div>
</form>

<script>

    var activeStep = 1;
    var currentVehicule = "{{ page.route }}";

    function validateStep(){
        var checkStep = true;
        var fields = $('#request-devis [rel="step-'+activeStep+'"] .form-field').each(function(){
            var field = $(this).find('input, textarea');
            var patt = new RegExp("^"+field.attr('pattern')+"$");

            if( patt.test(field.val()) ){
                //console.log(field.attr('name'), "parfait !");
                $("#request-devis-error").fadeOut();
                $(this).removeClass("form-error");
            }else{
                //console.log(field.attr('name'), "Beurk !");
                $(this).addClass("form-error");
                $("#request-devis-error").fadeIn();
                checkStep = false;
            }
        });
        return checkStep;
    }

    function previous() {

        if (activeStep == 2) {
            $("#request-devis .form-fieldset[rel='step-1']").show();
            $("#request-devis .form-fieldset[rel='step-2']").hide();
            $("#request-devis .form-fieldset[rel='step-3']").hide();
            $("#request-devis .form-fieldset[rel='step-4']").hide();
            activeStep--;
        }

        if (activeStep == 3) {
            $("#request-devis .form-fieldset[rel='step-1']").hide();
            $("#request-devis .form-fieldset[rel='step-2']").show();
            $("#request-devis .form-fieldset[rel='step-3']").hide();
            $("#request-devis .form-fieldset[rel='step-4']").hide();
            activeStep--;
        }

        if (activeStep == 4) {
            $("#request-devis .form-fieldset[rel='step-1']").hide();
            $("#request-devis .form-fieldset[rel='step-2']").hide();
            $("#request-devis .form-fieldset[rel='step-3']").show();
            $("#request-devis .form-fieldset[rel='step-4']").hide();
            activeStep--;
        }
    }

    function next(){

        if( activeStep == 1) {
            if (validateStep()) {

                $("#request-devis .form-fieldset[rel='step-1']").hide();
                $("#request-devis .form-fieldset[rel='step-2']").show();
                $("#request-devis .form-fieldset[rel='step-3']").hide();
                $("#request-devis .form-fieldset[rel='step-4']").hide();
                activeStep ++;
            }
        }
    }

    $("#request-devis .form-fieldset").hide();
    $("#request-devis .form-fieldset[rel='step-1']").show();
    $("#request-devis .form-fieldset .next").click(function(){
        next();
        return false;
    });
    $("#request-devis .form-fieldset .previous").click(function(){
        previous();
        return false;
    });
    $("#request-devis .form-fieldset .submit").click(function(){
        $("#request-devis .form-fieldset[rel='step-1']").hide();
        $("#request-devis .form-fieldset[rel='step-2']").hide();
        $("#request-devis .form-fieldset[rel='step-3']").hide();
        $("#request-devis .form-fieldset[rel='step-4']").show();
        activeStep = 4;

        $("[rel='step-2'] input[type='text']").each(function(){
            console.log("Treat", $(this).attr('name'))
            $("[name='"+$(this).attr('name')+"_final']").val($(this).val());
        });

        return false;
    });
    $("#request-devis .form-fieldset .calculate").click(function(){

        if( !validateStep() ){
            return false;
        }

        var data = $("#request-devis").serializeArray();

        $.ajax({
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            url: "{{ base_url }}/{{ config.plugins.fraikin.apiUrl }}/request-price",
            data: JSON.stringify(getFormData(data)),
            success: function (response) {

                $('.detail-days').html( $('[name="duration"]').val() );
                $('.detail-km').html( $('[name="km"]').val() );

                if( response.on_demand ){
                    $('[data-id="on-demand"]').show();
                    $('[data-id="on-price"]').hide();

                    $('#submit-on-demand').show();
                    $('#submit-price').hide();
                }else{

                    $('#submit-on-demand').hide();
                    $('#submit-price').show();

                    $('[data-id="on-demand"]').hide();
                    $('[data-id="on-price"]').show();

                    $("#request-devis-error").hide();
                    $('[data-id="price"]').html(response.final_price);
                }

                $("#request-devis .form-fieldset[rel='step-1']").hide();
                $("#request-devis .form-fieldset[rel='step-2']").hide();
                $("#request-devis .form-fieldset[rel='step-3']").show();
                $("#request-devis .form-fieldset[rel='step-4']").hide();
                activeStep = 3;

                window.weeboxAnalytics.pageView("request-devis-calculation", "Calculation d'un devis");
            },
            error: function (response) {
                $("#request-devis-error").fadeIn();
                //console.log("error", response.responseJSON.error);
            }
        });

        return false;
    });
    $("#request-devis .form-fieldset .validate").click(function(){

        if( !validateStep() ){
            return false;
        }

        var data = $("#request-devis").serializeArray();

        $.ajax({
            type: "POST",
            contentType: 'application/json; charset=utf-8',
            dataType: 'json',
            url: "{{ base_url }}/{{ config.plugins.fraikin.apiUrl }}/request-devis-send",
            data: JSON.stringify(getFormData(data)),
            success: function(response) {
                $("#request-devis-success").fadeIn();
                $("#request-devis-error").hide();
                $("#request-devis .form").hide();
                window.weeboxAnalytics.pageView("request-devis-success", "Demande de devis");
            },
            error: function(response) {
                $("#request-devis-error").fadeIn();
                console.log("error", response.responseJSON.error);
            }
        });

        return false;
    });
</script>