<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">

<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0">

    <title>Bison Ranch</title>
    <style type="text/css">
        body {
            -webkit-text-size-adjust: 100%;
            -ms-text-size-adjust: 100%;
            -webkit-font-smoothing: antialiased;
            margin: 0 !important;
            padding: 0 !important;
            width: 100% !important;
        }
        table[class="table610"] { max-width: 610px !important; width: 100% !important;}
        a { color:#ffffff; text-decoration:none;}
        a#Clr_gray:hover { color:#0496ba !important; text-decoration:underline;}
        .margin_lft { margin-left:10px;}
        #fnt_size { font-size:165%;}
        @media only screen and (max-width: 768px) {
            body { width: auto !important;}
            img[class="img"] { max-width:100% !important; width: 100% !important; height: auto; display: block;}
            .heading { font-size:175% !important;}
        }

        @media screen and (min-width: 240px) and (max-width: 480px) {
            body { width: auto !important;}
            td[class="dis_block"] { width:100%; max-width:250px; height:auto; display:block; margin-left:auto; margin-right:auto; text-align:center !important; float:none;}
            img[class="center"]{ display:inherit !important;}
            td[class="hide"] { width: 0px; display: none;}
        }
        @media screen and (min-width: 240px) and (max-width: 320px) {
            #fnt_size { font-size:135%;}
        }
    </style>
</head>

<body style="margin:0px; font-family:Times, serif, Arial, Helvetica, sans-serif;" bgcolor="#F7F5F2">
<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
    <tbody>
    <tr>
        <td>
            <!--================================ Header Top Starts here ============================================-->

            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="table610" bgcolor="#161210">
                <tbody>
                <tr>
                    <td width="5">&nbsp;</td>

                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr>
                                <td>&nbsp;</td>
                            </tr>

                            <tr>
                                <td class="dis_block" align="center"><a href="#"><img class="img" src="{{ url('theme://images/logo-bisonranch.png') }}" alt="" border="0" style="display:block;"></a></td>
                            </tr>

                            <tr>
                                <td>&nbsp;</td>
                            </tr>
                            </tbody>
                        </table>
                    </td>

                    <td width="5">&nbsp;</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr><!--================================ Header Top Ends here ============================================-->
    <!--================================ Heading with Text Starts here ============================================-->
    <tr>
        <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="table610" bgcolor="#FFFFFF">
                <tbody>
                <tr>
                    <td width="5">&nbsp;</td>

                    <td style="padding:20px;">
                        <h2 style="font-size:20px; font-weight:normal; margin:10px 0px 5px; color:#161210;">Cher {{ form.firstname }} {{ form.lastname }},</h2>

                        <p>{{ txt_01 }}</p>

                        <p>{{ txt_02 }}</p>

                        <ul>
                            <li>{{ label_subject }}: {{ form.subject }}</li>

                            <li>{{ label_firstname }}: {{ form.firstname }}</li>

                            <li>{{ label_lastname }}: {{ form.lastname }}</li>

                            <li>{{ label_email }}: <a style="color:#000;" href="mailto:{{ form.email }}">{{ form.email }}</a></li>

                            <li>{{ label_phone }}: {{ form.phone }}</li>

                            <li>{{ label_comment }}: {{ form.comment }}</li>
                        </ul>

                        <p>{{ txt_03 }}</p>

                        <p>{{ txt_04 }}</p>
                    </td>

                    <td width="5">&nbsp;</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr><!-- /Heading with Text Ends here -->

    <tr>
        <td height="30">&nbsp;</td>
    </tr>


    <tr>
        <td>
            <table width="100%" border="0" cellspacing="0" cellpadding="0" align="center" class="table610">
                <tbody>
                <tr>
                    <td width="5">&nbsp;</td>

                    <td>
                        <table width="100%" border="0" cellspacing="0" cellpadding="0">
                            <tbody>
                            <tr>
                                <td valign="top" class="dis_block">
                                    <!--post 1 start-->

                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr>
                                            {% set page_content = page.find('/hebergement-gite/dortoir') %}
                                            <td><a href="#"><img class="img" src="{{ page_content.media[page_content.header.background_image].cropZoom(100,100).url }}" alt="" border="0" style="display:block;"></a></td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <h2 style="font-size:18px; color:#5d5d5d; margin:10px 0px 0px;">{{ heberegement.dortoir.title }}</h2>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <p style="font-size:12px; color:#757575; margin:5px 0; line-height:21px;">{{ heberegement.dortoir.text }}</p>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td height="20"></td>
                                        </tr>

                                        <tr>
                                            <td><a href="{{ page_content.url }}" style="color:#ffffff; font-size:13px; background-color:#826d5a; padding:10px 20px; text-decoration:none;">{{ more_info }}</a></td>
                                        </tr>

                                        <tr>
                                            <td height="20"></td>
                                        </tr>
                                        </tbody>
                                    </table><!--post 1 end-->
                                </td>

                                <td width="5" class="hide">&nbsp;</td>

                                <td valign="top" class="dis_block">
                                    <!--post 2 start-->

                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr>
                                            {% set page_content = page.find('/hebergement-gite/cabane') %}
                                            <td><a href="#"><img class="img" src="{{ page_content.media[page_content.header.background_image].cropZoom(100,100).url }}" alt="" border="0" style="display:block;"></a></td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <h2 style="font-size:18px; color:#5d5d5d; margin:10px 0px 0px;">{{ heberegement.cabane.title }}</h2>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <p style="font-size:12px; color:#757575; margin:5px 0; line-height:21px;">{{ heberegement.cabane.text }}</p>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td height="20"></td>
                                        </tr>

                                        <tr>
                                            <td><a href="{{ page_content.url }}" style="color:#ffffff; font-size:13px; background-color:#826d5a; padding:10px 20px; text-decoration:none;">{{ more_info }}</a></td>
                                        </tr>

                                        <tr>
                                            <td height="20"></td>
                                        </tr>
                                        </tbody>
                                    </table><!--post 2 end-->
                                </td>

                                <td width="5" class="hide">&nbsp;</td>

                                <td valign="top" class="dis_block">
                                    <!--post 3 start-->

                                    <table width="100%" border="0" cellspacing="0" cellpadding="0">
                                        <tbody>
                                        <tr>
                                            {% set page_content = page.find('/hebergement-gite/tipi') %}
                                            <td><a href="#"><img class="img" src="{{ page_content.media[page_content.header.background_image].cropZoom(100,100).url }}" alt="" border="0" style="display:block;"></a></td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <h2 style="font-size:18px; color:#5d5d5d; margin:10px 0px 0px;">{{ heberegement.tipi.title }}</h2>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td>
                                                <p style="font-size:12px; color:#757575; margin:5px 0; line-height:21px;">{{ heberegement.tipi.text }}</p>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td height="20"></td>
                                        </tr>

                                        <tr>
                                            <td><a href="{{ page_content.url }}" style="color:#ffffff; font-size:13px; background-color:#826d5a; padding:10px 20px; text-decoration:none;">{{ more_info }}</a></td>
                                        </tr>

                                        <tr>
                                            <td height="10"></td>
                                        </tr>
                                        </tbody>
                                    </table><!--post 3 end-->
                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </td>

                    <td width="5">&nbsp;</td>
                </tr>
                </tbody>
            </table>
        </td>
    </tr><!--================================ Three Images with Text Ends here ============================================-->


    <tr>
        <td>&nbsp;</td>
    </tr>

    <!--================================ Footer Starts here ============================================-->
    <tr>
        <td align="center" style="padding:20px;">
            <p style="color:#757575;font-size:12px;">Copyright Bison ranch - Maven Sàrl</p>
        </td>
    </tr><!--================================ Footer Ends here ============================================-->
    </tbody>
</table>
</body>
</html>
