<span class="title">{{ 'CONTACT.COORDONNEES'|t }}</span>
<div class="vcard">
    <p class="fn"><a href="{{ home_url }}" class="link-url" style="text-transform: uppercase;">{{ site.title }}</a></p>
    <p class="adr">
        <span class="street-address">{{ site.coordonnees.address }}</span>
        <span class="postal-code">{{ site.coordonnees.zip }}</span>
        <span class="locality">{{ site.coordonnees.locality }}</span>
        <span class="country-name">{{ site.coordonnees.country }}</span>
    </p>
    <p class="tel">Tel. <a href="tel:{{ site.coordonnees.tel_number }}" class="link-tel">{{ site.coordonnees.tel_label }}</a></p>
    <p class="fax">Fax <a href="fax:{{ site.coordonnees.fax_number }}" class="link-fax">{{ site.coordonnees.fax_label }}</a></p>
    <p class="email"><a href="mailto:{{ site.coordonnees.email }}" class="link-mail">{{ site.coordonnees.email }}</a></p>
</div>