<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1.0,user-scalable=no">

{% include 'partials/favicons.html.twig' %}

<script>var oldBrowser = false;</script>

<!--[if lte IE 9]>
<script>oldBrowser = true;</script>
<![endif]-->

<link href='https://fonts.googleapis.com/css?family=Rye' rel='stylesheet' type='text/css'>

<!--
<link href='http://fonts.googleapis.com/css?family=Libre+Baskerville:400,700' rel='stylesheet' type='text/css'>
-->

<script src='{{ url('theme://js/bower.js') }}'></script>
<script src='{{ url('theme://js/main.js') }}'></script>

<link href='{{ url('theme://css/bower.css') }}' rel='stylesheet'>
<link href='{{ url('theme://css/core.css') }}' rel='stylesheet'>

