<!DOCTYPE html>
<!--[if lt IE 7]><html class="no-js ie ie6" lang="{{ html_lang }}"><![endif]-->
<!--[if IE 7]><html class="no-js ie ie7" lang="{{ html_lang }}"><![endif]-->
<!--[if IE 8]><html class="no-js ie8" lang="{{ html_lang }}"><![endif]-->
<!--[if IE 9]><html class="no-js ie9" lang="{{ html_lang }}"><![endif]-->
<!--[if gt IE 9]><!--><html class="no-js" lang="{{ html_lang }}"><!--<![endif]-->
<head>
    {% include 'partials/header.html.twig' %}
    {% block metadata %}{% endblock %}
    {% block metadata_og %}
        <meta property="og:title" content=""/>
        <meta property="og:site_name" content=""/>
        <meta property="og:type" content="website"/>
        <meta property="og:description" content=""/>
        <meta property="og:image" content=""/>
        <meta property="og:image:width" content="600" />
        <meta property="og:image:height" content="400" />
    {% endblock %}
    {% block head %}

    {% endblock %}
    {{ page.find('/config').header.googletag_body }}
    {{ page.find('/config').header.googletag_console }}
</head>
<body class="{{ body_class }}">
    {{ page.find('/config').header.googletag_body }}
    <div id="skip-link"><a href="#main" tabindex="1">accéder direct au contenu</a></div>
    <!--@include('partials.facebook-sdk')-->
    <div id="loader" role="presentation">...</div>
    <!--
    <div id="wallpaper" role="presentation">
    </div>
    -->

    <div class="bg" role="presentation">
        {% block image_bg %}
            <div class="bgslide" style="background-image:url({{ page.media[page.header.background_image].url }});"></div>
        {% endblock %}
    </div>

    <div id="wrapper">

        <!--
        <div id="widescreen">
        </div>
        -->

        {% include 'partials/navigation.html.twig' %}

        <header id="header">
            <div class="wrapper">

                <a href="{{ home_url }}" class="logo">
                    <strong>Bison Ranch</strong>
                    <img src="{{ url('theme://images/logo-bisonranch.png') }}"/>
                </a>

            </div>
        </header>

        <main role="main" id="main">

            <header class="header">
                <div class="wrapper">

                    <div class="hgroup" data-sr="move 50px enter top over 1s wait 500ms reset">
                        {% block header_content %}
                            <h1>{{ page.header.title }}</h1>
                            <p>{{ page.content }}</p>
                        {% endblock %}
                        {% block under_content %}{% endblock %}
                    </div>

                </div>
            </header>
            <a id="intro" name="intro"></a>

            {% block content %}

            {% endblock %}

        </main>

        {% include 'partials/footer.html.twig' %}

        <!--  @wbx-include('partials.*.footer')

          @include('partials.google-analytics') -->

        <!--
        <div id="design-element-001" role="presentation"></div>
        <div id="design-element-002" role="presentation"></div>
        <div id="design-element-003" role="presentation"></div>
        <div id="design-element-004" role="presentation"></div>
        -->

    </div>

    <script>window.sr = new scrollReveal();</script>
</body>
</html>