<nav class="navigation" role="navigation">
    <div class="wrapper">
        <div>

            <a href="{{ home_url }}" class="logo"><img src="{{ url('theme://images/logo-bisonranch.png') }}"/></a>

            <a href="#" id="mobile-menu-icon" class="mobile-menu-icon">
                <i class="icon icon-navigation"></i>
                <i class="icon icon-close"></i>
            </a>


            <div class="navigation-menu">

                <div class="nav-main">
                    <ul>
                        {% for menu in page.find('/config').header.navigation_main %}
                            <li class="{{ menu.class }}">
                                {% if menu.internal_url %}
                                    <a href="{{ menu.internal_url }}" tabindex="{{ loop.index }}">{{ menu.name }}</a>
                                {% elseif menu.external_url %}
                                    <a target="_blank" href="{{ menu.external_url }}" tabindex="{{ loop.index }}">{{ menu.name }}</a>
                                {% else %}
                                    <a href="#" tabindex="{{ loop.index }}">{{ menu.name }}</a>
                                {% endif %}
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="nav-options">
                    <ul class="share">
                        {% if page.find('/config').header.facebook %}
                            <li><a href="{{ page.find('/config').header.facebook }}" tabindex="15"><i class="icon icon-facebook"></i></a></li>
                        {% endif %}
                        {% if page.find('/config').header.instagram %}
                            <li><a href="{{ page.find('/config').header.instagram }}" tabindex="16"><i class="icon icon-instagram"></i></a></li>
                        {% endif %}
                    </ul>
                    <ul class="lang">
                        {% for language in langswitcher.languages %}

                            {% set show_language = true %}
                            {% if language == langswitcher.current %}
                                {% set lang_url = page.url %}
                                {% set active_class = ' active' %}
                            {% else %}
                                {% set base_lang_url = base_url_simple ~ grav.language.getLanguageURLPrefix(language) %}
                                {% set lang_url = base_lang_url ~ langswitcher.page_route ~ page.urlExtension %}
                                {% set untranslated_pages_behavior = grav.config.plugins.langswitcher.untranslated_pages_behavior %}
                                {% if untranslated_pages_behavior != 'none' %}
                                    {% set translated_page = langswitcher.translated_pages[language] %}
                                    {% if (not translated_page) or (not translated_page.published) %}
                                        {% if untranslated_pages_behavior == 'redirect' %}
                                            {% set lang_url = base_lang_url ~ '/' %}
                                        {% elseif untranslated_pages_behavior == 'hide' %}
                                            {% set show_language = false %}
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                                {% set active_class = '' %}
                            {% endif %}

                            {% if show_language %}
                                <li><a href="{{ lang_url ~ uri.params }}" class="external{{ active_class }}">{{ language }}</a></li>
                            {% endif %}

                        {% endfor %}
                    </ul>
                </div>

            </div>

        </div>
    </div>
</nav>