/* MIXINS */
.clearfix {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.clearlist,
nav ul,
#footer .links .col ul,
#main > .header aside .info ul,
.subnavigation ul,
.list,
.block aside .info ul,
.call-to-action aside .info ul {
  margin: 0;
  padding: 0;
  list-style: none;
  /*
	&:after{
		.clearfix;
	}
	*/
}
.clearlist li,
nav ul li,
#footer .links .col ul li,
#main > .header aside .info ul li,
.list li,
.block aside .info ul li,
.call-to-action aside .info ul li {
  padding: 0;
  margin: 0;
}
.position-fixed,
#wallpaper,
#wallpaper div.slide,
#loader {
  position: fixed;
  top: 0;
  left: 0;
}
/* END */
html {
  font-size: 16;
}
@media only screen and (max-width: 900px) {
  html {
    font-size: 14px;
  }
}
@media only screen and (max-width: 640px) {
  html {
    font-size: 14px;
  }
}
body {
  font-size: 100%;
  font-family: arial, Times, 'Times New Roman', serif;
  font-weight: 400;
}
* {
  box-sizing: border-box;
}
#skip-link a {
  position: absolute;
  top: -100px;
  left: 0px;
  overflow: hidden;
  width: 1px;
  height: 1px;
}
html,
body,
form,
figure,
article,
section,
nav,
video,
audio,
header,
footer,
h1,
h2,
h3,
h4,
h5,
h6,
dl,
dt,
dd,
p {
  margin: 0;
  padding: 0;
  list-style: none;
  word-wrap: break-word;
}
p,
dl,
ul,
table {
  line-height: 1.4em;
  text-align: left;
  font-size: 0.9375rem;
}
a {
  text-decoration: none;
}
a:hover,
a:visited,
a:active {
  text-decoration: none;
}
a:focus {
  outline: 0;
}
p {
  line-height: 1.5em;
  margin-bottom: 1.25rem;
}
p a {
  display: inline-block;
}
nav ul li {
  display: inline-block;
}
nav ul li a {
  display: block;
}
form .message {
  display: none;
}
form.error .message {
  display: block;
  background: #a53232;
  color: #ffffff;
  padding: 0.625rem;
  margin-bottom: 1.25rem;
}
.field {
  margin-bottom: 1.25rem;
  overflow: hidden;
}
.field > label {
  display: inline-block;
  position: relative;
  font-size: 0.8125rem;
  margin-bottom: 5px;
  color: #b2a395;
}
.field.required > label:after {
  content: "*";
  display: inline-block;
  position: absolute;
  right: -10px;
  font-size: 0.6875rem;
  top: 0;
}
.field > div {
  display: block;
  border: 1px solid #e4dbd2;
  background: #fff;
}
.field > div input[type="text"],
.field > div select,
.field > div textarea {
  width: 100%;
  padding: 10px;
  font-size: 1rem;
  border: 0;
  background: none;
  color: #594e49;
  font-family: arial, Times, 'Times New Roman', serif;
  font-weight: 400;
}
.field > div input[type="text"]:focus,
.field > div select:focus,
.field > div textarea:focus {
  outline: none;
}
.field > div textarea {
  min-height: 200px;
}
.field.error > label {
  color: #a53232;
}
.field.error > div {
  border-color: #a53232;
}
.buttons {
  text-align: right;
  overflow: hidden;
  padding-top: 1.25rem;
}
button {
  display: inline-block;
  border: 0;
  background: #594e49;
  color: #ffffff;
  padding: 0.625rem 1.25rem;
  font-size: 0.8125rem;
  text-transform: uppercase;
  cursor: pointer;
  font-family: arial, Times, 'Times New Roman', serif;
  font-weight: 400;
  transition: 150ms all ease-in;
}
button[disabled="disabled"] {
  opacity: 0.5;
}
button.cancel {
  background: #e4dbd2;
  color: #594e49;
}
button.cancel:not([disabled="disabled"]):hover {
  background: #b2a395;
  color: #ffffff;
}
button.primary {
  background: #594e49;
  color: #ffffff;
}
button.primary:not([disabled="disabled"]):hover {
  background: #161210;
  color: #ffffff;
}
.maven-logo {
  font-family: arial;
  display: inline-block;
  position: relative;
  padding-right: 6px;
  margin-right: 10px;
  text-transform: lowercase;
  padding-left: 6px;
  color: #594e49;
  font-size: 1.125rem;
  transition: all 150ms ease-in;
}
.maven-logo span {
  display: inline-block;
  margin-left: -5px;
}
.maven-logo span:nth-child(4) {
  transform: rotate(-20deg);
}
.maven-logo i {
  font-family: times;
  font-size: 1.6em;
  position: absolute;
  right: 0;
  bottom: -2px;
}
.maven-logo:hover {
  color: #ffffff;
  transform: scale(1.2);
}
.shadow {
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.08);
}
#wrapper {
  margin: auto;
  opacity: 1;
  position: relative;
  z-index: 100;
  height: 100%;
  overflow: hidden;
  transition: all 400ms ease-in;
  /*
	body[data-domready="true"] &{
		opacity:1;
		.lh-transition(all 200ms ease-in);

		height:auto;
		overflow: hidden;
	}

	*/
}
body[data-navigation_mobile="true"] #wrapper {
  transform: translateX(-220px);
  transition: all 200ms ease-out;
}
#mobile-menu-icon {
  font-size: 1.625em;
  color: #1d1a1b;
  display: none;
  position: absolute;
  top: 50%;
  margin-top: -20px;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
#mobile-menu-icon .icon-navigation {
  opacity: 1;
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  transition: all 150ms ease-in;
}
#mobile-menu-icon .icon-close {
  opacity: 0;
  position: absolute;
  top: 8px;
  left: 0;
  width: 100%;
  text-align: center;
  transition: all 150ms ease-in;
}
@media only screen and (max-width: 640px) {
  #mobile-menu-icon {
    display: block;
  }
  body[data-navigation_mobile="true"] #mobile-menu-icon .icon-navigation {
    opacity: 0;
    transition: opacity 150ms ease-in;
    -webkit-transition: opacity 150ms ease-in;
  }
  body[data-navigation_mobile="true"] #mobile-menu-icon .icon-close {
    opacity: 1;
    transition: opacity 150ms ease-in;
    -webkit-transition: opacity 150ms ease-in;
  }
}
#navigation-mobile {
  position: fixed;
  right: -220px;
  top: 0;
  bottom: 0;
  width: 220px;
  z-index: 1000;
  overflow: auto;
  overflow-scrolling: auto;
  -webkit-overflow-scrolling: touch;
  display: none;
  transform: translateX(0px);
  transition: transform 200ms ease-in;
}
body[data-navigation_mobile="true"] #navigation-mobile {
  transform: translateX(-220px);
  transition: transform 200ms ease-out;
}
.navigation {
  position: absolute;
  top: 160px;
  left: 0;
  width: 100%;
  z-index: 500;
  background-size: 100% auto;
  text-transform: uppercase;
}
@media only screen and (max-width: 640px) {
  .navigation {
    height: auto;
  }
}
.navigation > .wrapper {
  text-align: center;
  width: auto;
  background: rgba(22, 18, 16, 0.95);
  padding: 0;
  border-top: rgba(255, 255, 255, 0.2) 1px solid;
}
@media only screen and (max-width: 640px) {
  .navigation > .wrapper {
    text-align: center;
  }
}
.navigation ul {
  display: inline-block;
  width: 100%;
  text-align: center;
}
.navigation ul li {
  display: inline-block;
  padding: 0;
  vertical-align: middle;
}
.navigation ul li a {
  color: #b2a395;
  font-size: 0.875rem;
  display: block;
  text-align: center;
  padding: 1.25rem 1.25rem;
  cursor: pointer;
  font-family: 'nashvilleregular', serif;
  font-family: 'Rye', cursive;
  font-weight: normal;
  letter-spacing: 1px;
  transform: scale(1) rotate(0deg);
  transition: all 100ms ease-out;
}
.navigation ul li.active a {
  color: #fff;
  opacity: 1;
  position: relative;
}
.navigation ul li.active a:after {
  display: block;
  content: "";
  background: #fff;
  height: 1px;
  position: absolute;
  width: 30%;
  left: 35%;
  bottom: 12px;
  opacity: 0.3;
}
.navigation ul li:not(.active) a:hover {
  color: #ffffff;
  opacity: 1;
  transform: scale(1.2) rotate(-1.5deg);
  transition: all 100ms ease-in;
}
.navigation .navigation-menu {
  display: inline-block;
  position: relative;
}
@media only screen and (max-width: 640px) {
  .navigation .navigation-menu {
    display: none;
  }
}
.navigation .nav-main {
  display: inline-block;
}
.navigation .nav-options {
  position: absolute;
  right: 0;
  top: -80px;
  z-index: 100;
}
.navigation .nav-options .share {
  width: auto;
  float: left;
  height: 100%;
  padding-bottom: 4px;
  padding-right: 10px;
  margin-right: 20px;
  border-right: 1px solid #b2a395;
}
.navigation .nav-options .share li {
  margin: 0;
}
.navigation .nav-options .share li a {
  padding: 4px;
}
.navigation .nav-options .lang {
  display: table;
  width: auto;
  float: left;
  margin-top: 3px;
  height: 100%;
}
.navigation .nav-options .lang li {
  display: table-cell;
  margin: 0;
}
.navigation .nav-options .lang li a {
  padding: 4px;
}
.navigation .mobile-menu-icon {
  position: absolute;
  right: 0;
  top: 0;
  margin: 20px;
  background: rgba(89, 78, 73, 0.9);
  text-align: center;
}
.navigation .mobile-menu-icon .icon {
  color: #ffffff;
}
.navigation .logo {
  width: auto;
  display: none;
  margin: auto;
  text-align: center;
  margin-bottom: 0.625rem;
}
.navigation .logo img {
  width: 250px;
}
@media only screen and (max-width: 640px) {
  .navigation .logo {
    float: none;
    display: inline-block;
    margin: auto;
  }
}
@media only screen and (max-width: 640px) {
  .navigation {
    visibility: hidden;
  }
}
#navigation-mobile {
  background: #f2f2f2;
  border-left: 1px solid rgba(0, 0, 0, 0.1);
}
#navigation-mobile .navigation {
  display: block;
  background: none;
  top: 0;
  border: 0;
}
#navigation-mobile .navigation .wrapper {
  padding: 0;
  background: none;
}
#navigation-mobile .navigation > *:not(.navigation-menu) {
  _display: none;
}
#navigation-mobile .navigation .logo {
  display: none;
}
#navigation-mobile .navigation .mobile-menu-icon {
  display: none;
}
#navigation-mobile .navigation .navigation-menu {
  display: block;
  padding: 1.25rem;
}
#navigation-mobile .navigation .navigation-menu .nav-main {
  float: none;
  clear: both;
  padding-top: 0px;
  display: block;
}
#navigation-mobile .navigation .navigation-menu .nav-main li {
  display: block;
  padding: 0;
  margin: 0;
}
#navigation-mobile .navigation .navigation-menu .nav-main li a {
  padding: 10px;
  display: block;
  line-height: 1em;
  color: #1d1a1b;
  text-align: left;
  font-size: 1rem;
}
#navigation-mobile .navigation .navigation-menu .nav-main li a:hover {
  background: #161210;
  color: #ffffff;
  transform: scale(1) rotate(0deg);
}
#navigation-mobile .navigation .navigation-menu .nav-main li.active a {
  border: 0;
}
#navigation-mobile .navigation .navigation-menu .nav-main li.active a:after {
  display: none;
}
#navigation-mobile .navigation .navigation-menu .nav-options {
  float: right;
  position: relative;
  top: inherit;
  right: inherit;
  margin-top: 20px;
  border: 0;
}
@media only screen and (max-width: 640px) {
  #navigation-mobile .navigation .navigation-menu .nav-options {
    float: left;
  }
}
#navigation-mobile .navigation .navigation-menu .nav-options .lang {
  float: left;
}
#navigation-mobile .navigation .navigation-menu .nav-options .share {
  float: left;
  margin: 0;
}
#navigation-mobile .navigation .navigation-menu .nav-options li a {
  padding: 20px;
  display: block;
  line-height: 1em;
  color: #1d1a1b;
}
#navigation-mobile .navigation .navigation-menu .nav-options li a:hover {
  background: #1d1a1b;
  color: #ffffff !important;
  transform: scale(1) rotate(0deg);
}
@media only screen and (max-width: 640px) {
  #navigation-mobile .navigation {
    visibility: visible;
  }
}
@media only screen and (max-width: 640px) {
  #navigation-mobile {
    display: block;
  }
}
#navigation-fixed {
  position: fixed;
  top: -120px;
  left: 0;
  right: 0;
  z-index: 1000;
  height: auto;
  transform: translateZ(0px) translateX(0);
  transition: top 300ms ease-out,transform 200ms ease-in;
}
@media only screen and (max-width: 900px) {
  #navigation-fixed {
    padding: 0;
  }
}
#navigation-fixed .navigation {
  position: relative;
  top: inherit;
  left: inherit;
  background: rgba(22, 18, 16, 0.9);
  height: auto;
}
#navigation-fixed .navigation .wrapper {
  padding: 0;
  text-align: center;
  overflow: hidden;
}
#navigation-fixed .navigation .wrapper > div {
  background: none;
}
#navigation-fixed .navigation ul {
  width: 100%;
  margin: auto;
}
#navigation-fixed .navigation .navigation-menu {
  width: auto;
  display: inline-block;
  height: auto;
  float: none;
}
@media only screen and (max-width: 640px) {
  #navigation-fixed .navigation .navigation-menu {
    display: none;
  }
}
#navigation-fixed .navigation .nav-main {
  text-align: center;
  display: inline-block;
  float: none;
  width: auto;
}
#navigation-fixed .navigation .nav-options {
  display: none;
}
#navigation-fixed .navigation .mobile-menu-icon {
  margin: 10px;
  position: absolute;
  right: 0px;
  top: 5px;
}
#navigation-fixed .navigation .logo {
  margin: auto;
  height: auto;
  width: auto;
  opacity: 1;
  _display: inline-block;
  padding: 0.3125rem;
  text-align: center;
  float: none;
  _margin-right: 20px;
}
#navigation-fixed .navigation .logo img {
  height: 60px;
  width: auto;
}
@media only screen and (max-width: 900px) {
  #navigation-fixed .navigation .logo img {
    height: 40px;
    margin: 10px;
  }
}
@media only screen and (max-width: 640px) {
  #navigation-fixed .navigation {
    visibility: visible;
  }
}
body[data-navigation_fixed="true"] #navigation-fixed {
  top: 0;
  transition: top 200ms ease-out,transform 200ms ease-in;
}
body[data-navigation_mobile="true"] #navigation-fixed {
  transform: translateZ(0px) translateX(-220px);
  transition: top 200ms ease-out,transform 200ms ease-out;
}
@media only screen and (max-width: 640px) {
  #navigation-fixed {
    top: 0;
    transition: top 200ms ease-out,transform 200ms ease-in;
  }
}
/*
.size(@val:1) { 
    @return: unit(@val/@font-size, em); 
}
*/
/*@gutter:unit(20/@font-size, rem);*/
@font-face {
  font-family: "icons";
  src: url("../fonts/icons/icons.eot?f9ec2efc518bd492524b27c0015bb141");
  src: url("../fonts/icons/icons.eot?#iefix") format("embedded-opentype"), url("../fonts/icons/icons.woff?f9ec2efc518bd492524b27c0015bb141") format("woff"), url("../fonts/icons/icons.ttf?f9ec2efc518bd492524b27c0015bb141") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.icon {
  font-family: "icons";
  display: inline-block;
  vertical-align: middle;
  line-height: 1;
  font-weight: normal;
  font-style: normal;
  speak: none;
  text-decoration: inherit;
  text-transform: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon.icon-arrow-down:before {
  content: "\f101";
}
.icon.icon-arrow-left:before {
  content: "\f102";
}
.icon.icon-arrow-right:before {
  content: "\f103";
}
.icon.icon-arrow-up:before {
  content: "\f104";
}
.icon.icon-check:before {
  content: "\f105";
}
.icon.icon-clock:before {
  content: "\f106";
}
.icon.icon-close:before {
  content: "\f107";
}
.icon.icon-connected:before {
  content: "\f108";
}
.icon.icon-edit:before {
  content: "\f109";
}
.icon.icon-facebook:before {
  content: "\f10a";
}
.icon.icon-flag:before {
  content: "\f10b";
}
.icon.icon-home:before {
  content: "\f10c";
}
.icon.icon-info:before {
  content: "\f10d";
}
.icon.icon-instagram:before {
  content: "\f10e";
}
.icon.icon-layout:before {
  content: "\f10f";
}
.icon.icon-linked-in:before {
  content: "\f110";
}
.icon.icon-marker:before {
  content: "\f111";
}
.icon.icon-marketing:before {
  content: "\f112";
}
.icon.icon-mouse:before {
  content: "\f113";
}
.icon.icon-navigation:before {
  content: "\f114";
}
.icon.icon-not-connected:before {
  content: "\f115";
}
.icon.icon-pending:before {
  content: "\f116";
}
.icon.icon-search:before {
  content: "\f117";
}
.icon.icon-stats:before {
  content: "\f118";
}
.icon.icon-student:before {
  content: "\f119";
}
.icon.icon-support:before {
  content: "\f11a";
}
.icon.icon-swiss:before {
  content: "\f11b";
}
.icon.icon-touch:before {
  content: "\f11c";
}
.icon.icon-twitter:before {
  content: "\f11d";
}
.icon.icon-user:before {
  content: "\f11e";
}
.icon.icon-weather-clear-day:before {
  content: "\f11f";
}
.icon.icon-weather-clear-night:before {
  content: "\f120";
}
.icon.icon-weather-cloudy:before {
  content: "\f121";
}
.icon.icon-weather-fleet:before {
  content: "\f122";
}
.icon.icon-weather-fog:before {
  content: "\f123";
}
.icon.icon-weather-partly-cloudy-day:before {
  content: "\f124";
}
.icon.icon-weather-partly-cloudy-night:before {
  content: "\f125";
}
.icon.icon-weather-rain:before {
  content: "\f126";
}
.icon.icon-weather-sleet:before {
  content: "\f127";
}
.icon.icon-weather-snow:before {
  content: "\f128";
}
.icon.icon-weather-wind:before {
  content: "\f129";
}
.icon.icon-work:before {
  content: "\f12a";
}
html,
body {
  background-color: #161210;
}
html[data-scroll_max="true"],
body[data-scroll_max="true"] {
  background: #e4dbd2;
}
.debug {
  width: 100%;
  height: 10px;
  background: white;
  position: fixed;
  z-index: 2000;
  display: none;
}
@media only screen and (max-width: 1024px) {
  .debug {
    width: 1024px;
    background: yellowgreen;
  }
}
@media only screen and (max-width: 900px) {
  .debug {
    width: 900px;
    background: #800080;
  }
}
@media only screen and (max-width: 640px) {
  .debug {
    width: 640px;
    background: red;
  }
}
/*
#audio{
	position:fixed; 
	top:@gutter;
	right:@gutter;
	z-index:2000;

	#btn-play{
		.button;
		background:@color-brand-black;
	}
	#btn-stop{
		.button;
		background:@color-brand-black;
	}
	@media @mq-xs{
		display:none;
	}
}
*/
.reservation-dimanche {
  padding: 1.25rem;
  font-size: 12px;
}
.bg-area {
  position: relative;
  height: 100vh;
}
.bg-area .link-start {
  position: absolute;
  bottom: 100px;
  left: 0;
  right: 0;
}
@media only screen and (max-width: 640px) {
  .bg-area {
    display: none;
  }
}
.video-js {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100% !important;
  height: 100% !important;
  z-index: 200;
  opacity: 0;
}
@media only screen and (max-width: 640px) {
  .video-js {
    position: relative;
  }
}
#wallpaper {
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  z-index: 0;
  background: #161210;
  opacity: 1;
}
#wallpaper:after {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  content: "";
  height: 200px;
  z-index: 10;
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(22, 18, 16, 0) 0%, #161210 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00161210', endColorstr='#161210', GradientType=0);
  /* IE6-9 */
}
#wallpaper div.slide {
  width: 100%;
  height: 100%;
  background: url('') center bottom no-repeat;
  background-size: auto 110%;
  opacity: 0;
  transform: scale(1.1);
  transition: opacity 1000ms ease-in,transform 100ms ease-in 2000ms;
  /*
		&.bg-001{
			background-image:url("@{images}wallpaper_001.jpg");
			z-index:1;
		}

		&.bg-002{
			background-image:url("@{images}wallpaper_003.jpg");
		}
		*/
}
@media only screen and (max-width: 640px) {
  #wallpaper div.slide {
    transform: scale(1);
    transition: opacity 0ms ease-in;
    opacity: 1;
  }
}
#wallpaper div.slide:first-child {
  z-index: 1;
}
#wallpaper div.slide img {
  width: 1px;
  height: 1px;
}
#wallpaper div.slide.active {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1000ms ease-in,transform 10000ms ease-in;
}
@media only screen and (max-width: 640px) {
  #wallpaper div.slide.active {
    transform: scale(1);
    transition: opacity 0ms ease-in;
  }
}
@media only screen and (max-width: 640px) {
  #wallpaper div.slide {
    position: relative;
    height: 100%;
    opacity: 1;
  }
}
@media only screen and (max-width: 640px) {
  #wallpaper {
    position: absolute;
    top: 0;
    height: 300px;
  }
}
@media only screen and (max-width: 640px) {
  body.index #wallpaper {
    position: relative !important;
    height: auto;
    margin-top: 80px;
  }
}
/*
#widescreen{
	background:fade(@color-brand-black, 90%);
	height:160px;
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	z-index:500;
	opacity:0;
	text-align: center;

	.lh-transition(opacity 400ms ease-in);

	body[data-domready="true"] &{
		opacity:1;
		.lh-transition(opacity 200ms ease-in);
	}

	@media @mq-xs{
		display:none;
	}
}
*/
#loader {
  opacity: 1;
  top: 50%;
  left: 50%;
  width: 100px;
  height: 100px;
  margin-left: -50px;
  margin-top: -50px;
  padding: 10px;
  text-align: center;
  text-transform: uppercase;
  background: #fff;
  color: #000;
  line-height: 80px;
  background: url("../images/loader.gif") no-repeat center 20px #fff;
  background-size: 40px auto;
  font-size: 30px;
  border: 10px solid #56544c;
  z-index: 3000;
  display: none;
  transition: transform 250ms ease-out, opacity 250ms ease-out, top 0ms linear 250ms;
}
body[data-domready="true"] #loader {
  opacity: 0;
  transform: scale(1.5);
  top: -400px;
}
.wrapper,
#footer .wrapper {
  max-width: 1000px;
  width: auto;
  margin: auto;
}
@media only screen and (max-width: 900px) {
  .wrapper,
  #footer .wrapper {
    width: auto;
    min-width: 1px;
  }
}
@media only screen and (max-width: 640px) {
  .wrapper,
  #footer .wrapper {
    width: auto;
  }
}
h1 {
  font-size: 2.5rem;
  margin-bottom: 1.875rem;
  font-family: 'nashvilleregular', serif;
  font-family: 'Rye', cursive;
  font-weight: normal;
}
h2 {
  color: #b2a395;
  font-size: 1.75rem;
  margin-bottom: 1.25rem;
  font-family: 'nashvilleregular', serif;
  font-family: 'Rye', cursive;
  font-weight: normal;
  clear: both;
}
hr {
  background: url('../images/line.png') repeat-x center;
  background-size: auto 10px;
  display: block;
  border: 0;
  padding: 3.75rem;
  opacity: 0.5;
  clear: both;
  margin: 0;
}
@media only screen and (max-width: 640px) {
  hr {
    padding: 1.25rem;
  }
}
h3 {
  color: #594e49;
  font-size: 0.9375rem;
  margin: 0;
  padding-bottom: 0.625rem;
  padding-top: 0.625rem;
  clear: both;
}
#wrapper {
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: linear-gradient(to bottom, rgba(22, 18, 16, 0) 0%, rgba(22, 18, 16, 0) 33%, rgba(22, 18, 16, 0.8) 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00161210', endColorstr='#cc161210', GradientType=0);
  /* IE6-9 */
}
#header {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 100;
  height: 194px;
  background: rgba(22, 18, 16, 0.4);
  background: url("../images/texture-bois.png") repeat center rgba(22, 18, 16, 0.85);
  background-size: auto 200px;
}
@media only screen and (max-width: 640px) {
  #header {
    position: relative;
    margin-top: 80px;
    background: none;
  }
}
#header .wrapper {
  padding: 1.25rem;
}
#header .logo {
  display: block;
  margin: auto;
  width: 300px;
}
#header .logo img {
  width: 100%;
}
#header .logo strong {
  text-indent: -9999px;
  position: relative;
  overflow: hidden;
  display: block;
}
#footer {
  margin-top: 1.25rem;
  background: rgba(22, 18, 16, 0.8);
  background: url("../images/texture-bois.png") repeat center rgba(22, 18, 16, 0.8);
  background-size: auto 40%;
  text-align: left;
}
@media only screen and (max-width: 900px) {
  #footer {
    padding: 0px;
    margin-top: 0.625rem;
  }
}
#footer .wrapper {
  overflow: hidden;
  padding: 2.5rem 2.5rem;
  padding-top: 10px;
  padding-bottom: 0;
}
@media only screen and (max-width: 900px) {
  #footer .wrapper {
    padding: 1.25rem;
  }
}
@media only screen and (max-width: 640px) {
  #footer .wrapper {
    padding: 1.25rem;
  }
}
#footer .col {
  width: 50%;
  float: left;
  padding: 1.25rem 0;
  text-align: left;
}
@media only screen and (max-width: 640px) {
  #footer .col {
    width: 100%;
    padding: 0.625rem 2.5rem;
  }
}
#footer .copyright {
  color: #594e49;
}
@media only screen and (max-width: 640px) {
  #footer .copyright {
    text-align: center;
  }
}
#footer .copyright .wrapper {
  border-top: rgba(255, 255, 255, 0.2) 1px solid;
}
#footer .copyright .col:nth-child(2) {
  text-align: right;
}
#footer .links {
  overflow: hidden;
}
#footer .links .wrapper {
  border-top: rgba(255, 255, 255, 0.2) 1px solid;
}
#footer .links .col {
  width: 25%;
  text-align: left;
}
@media only screen and (max-width: 640px) {
  #footer .links .col {
    display: block;
    width: 100%;
    float: none;
    margin: auto;
    text-align: center;
  }
}
#footer .links .col > span {
  color: #594e49;
  font-family: 'nashvilleregular', serif;
  font-family: 'Rye', cursive;
  font-weight: normal;
  font-size: 1.25rem;
  display: block;
  margin: 1.25rem 0;
}
#footer .links .col ul li a {
  color: #d1c2b2;
  display: block;
  padding: 4px 0;
  font-size: 0.875rem;
  transition: all 150ms ease-out;
}
#footer .links .col ul li a:hover {
  color: #ffffff;
  transition: all 150ms ease-out;
}
@media only screen and (max-width: 640px) {
  #footer .links .col ul li a {
    text-align: center;
  }
}
@media only screen and (max-width: 640px) {
  #footer .links .col .vcard * {
    text-align: center;
  }
}
#footer .links .col .vcard span,
#footer .links .col .vcard p,
#footer .links .col .vcard a {
  font-size: 0.875rem;
}
#footer .links .col .vcard,
#footer .links .col .vcard .link-url,
#footer .links .col .vcard .link-tel,
#footer .links .col .vcard .link-fax,
#footer .links .col .vcard .link-mail {
  color: #d1c2b2;
  text-align: left;
}
#footer .links .col .vcard .link-url,
#footer .links .col .vcard .link-tel,
#footer .links .col .vcard .link-fax,
#footer .links .col .vcard .link-mail {
  transition: all 150ms ease-out;
}
#footer .links .col .vcard .link-url:hover,
#footer .links .col .vcard .link-tel:hover,
#footer .links .col .vcard .link-fax:hover,
#footer .links .col .vcard .link-mail:hover {
  color: #ffffff;
  transition: all 150ms ease-out;
}
#footer .links .col .vcard .tel,
#footer .links .col .vcard .fn {
  margin-bottom: 0;
}
#footer .links .col .vcard .fax,
#footer .links .col .vcard .adr {
  margin-top: 0;
}
#footer .links .col .vcard .adr span.street-address,
#footer .links .col .vcard .adr span.country-name {
  display: block;
}
#main {
  position: relative;
  z-index: 100;
}
.link-start {
  color: #e4dbd2;
  display: block;
  margin: auto;
  text-align: center;
  margin-top: 50px;
  height: 60px;
  position: relative;
  border: 0 !important;
}
.link-start i {
  text-align: center;
  line-height: 50px;
  margin-left: 3px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-size: 1.375rem;
  opacity: 0.5;
}
.link-start i:nth-child(2) {
  margin-top: -40px;
  top: 25px;
  font-size: 1.625rem;
  opacity: 1;
}
.link-start span {
  animation: arrow 1.5s infinite backwards;
  text-align: center;
  display: block;
}
@media only screen and (max-width: 640px) {
  .link-start {
    display: none;
  }
}
#main > .header {
  padding: 0 1.25rem;
  position: relative;
  height: 80vh;
  text-align: center;
  overflow: hidden;
}
#main > .header + .block .wrapper {
  padding-top: 0px;
}
@media only screen and (max-width: 900px) {
  #main > .header {
    padding: 0 0.625rem;
  }
}
@media only screen and (max-width: 640px) {
  #main > .header {
    padding: 0;
  }
}
#main > .header:first-of-type {
  margin: 0;
}
#main > .header .wrapper {
  padding: 10px;
  background: rgba(255, 255, 255, 0.95);
}
@media only screen and (max-width: 640px) {
  #main > .header .wrapper {
    display: block;
    display: flex;
    flex-direction: column;
  }
}
#main > .header .wrapper:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
#main > .header .row {
  display: table;
  width: 100%;
}
@media only screen and (max-width: 640px) {
  #main > .header .row {
    width: auto;
    display: block;
  }
}
#main > .header col {
  display: table-cell;
  vertical-align: top;
}
#main > .header .banner {
  margin-bottom: 2.5rem;
  max-width: 700px;
}
#main > .header .banner img {
  width: 100%;
}
#main > .header .column {
  float: left;
  width: 50%;
  padding-right: 2.5rem;
}
#main > .header .column + .column {
  padding-left: 2.5rem;
  padding-right: 0;
  padding-top: 30px;
}
@media only screen and (max-width: 640px) {
  #main > .header .column + .column {
    padding: 0;
  }
}
#main > .header .column + .column:after {
  content: "";
  clear: both;
  height: 1px;
  visibility: hidden;
}
#main > .header .column:nth-child(3n) {
  padding-right: 2.5rem;
  padding-left: 0;
  padding-top: 0px;
}
@media only screen and (max-width: 640px) {
  #main > .header .column {
    width: auto;
    float: none;
    padding: 0;
  }
}
#main > .header .content {
  padding: 5rem;
  background: #fff;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  border: #f7f5f2 1px solid;
}
@media only screen and (max-width: 900px) {
  #main > .header .content {
    padding: 2.5rem;
  }
}
@media only screen and (max-width: 640px) {
  #main > .header .content {
    float: none;
    width: 100%;
    padding: 1.25rem;
    display: block;
  }
}
#main > .header .content p img {
  width: calc(100% - 1.25rem);
  margin: auto;
  max-width: 100%;
  display: block;
}
#main > .header aside {
  float: right;
  width: 35%;
  padding: 5rem 1.25rem;
}
#main > .header aside + .content {
  width: 65%;
  float: left;
}
@media only screen and (max-width: 640px) {
  #main > .header aside + .content {
    width: auto;
    float: none;
    order: 1;
  }
}
@media only screen and (max-width: 640px) {
  #main > .header aside {
    float: none;
    width: 100%;
    display: block;
    padding: 1.25rem;
    order: 2;
  }
}
#main > .header aside > .title {
  font-size: 1rem;
  text-align: left;
  font-family: 'nashvilleregular', serif;
  font-family: 'Rye', cursive;
  font-weight: normal;
  display: block;
  margin-bottom: 1.25rem;
  padding: 0;
  border: 0;
}
#main > .header aside .info {
  border: 1px solid rgba(178, 163, 149, 0.2);
  padding: 1.25rem;
  margin-bottom: 2.5rem;
  background: rgba(255, 255, 255, 0.5);
}
#main > .header aside .info p {
  font-size: 0.875rem;
  text-align: center;
  margin-top: 1.25rem;
}
#main > .header aside .info ul {
  font-size: 0.875rem;
}
#main > .header aside .info ul li {
  color: #b2a395;
  overflow: hidden;
  margin-bottom: 0.625rem;
  border-bottom: 1px solid rgba(178, 163, 149, 0.2);
}
#main > .header aside .info ul li i {
  font-size: 1rem;
  color: #594e49;
  font-style: normal;
  display: block;
  padding: 10px;
}
#main > .header aside .subnavigation {
  margin-bottom: 2.5rem;
  background: rgba(255, 255, 255, 0.5);
}
#main > .header aside .vcard {
  border: 1px solid rgba(178, 163, 149, 0.2);
  padding: 1.25rem;
  margin-bottom: 2.5rem;
  background: rgba(255, 255, 255, 0.5);
}
#main > .header aside .vcard .fn,
#main > .header aside .vcard .tel {
  margin: 0;
}
#main > .header aside .vcard .street-address,
#main > .header aside .vcard .country-name {
  display: block;
}
#main > .header .information {
  background: #594e49;
  padding: 2.5rem 1.25rem;
  color: #e4dbd2;
}
#main > .header .information .title {
  color: #e4dbd2;
  text-align: center;
  margin: 0;
  margin-bottom: 1.25rem;
  font-size: 1rem;
}
#main > .header .information .title:after {
  display: none;
}
#main > .header .information ul {
  margin: 0;
  padding: 0;
  list-style: none;
  /*
	&:after{
		.clearfix;
	}
	*/
}
#main > .header .information ul li {
  padding: 0;
  margin: 0;
}
#main > .header .information ul + ul {
  padding-top: 1.25rem;
  border-top: 1px solid #b2a395;
  margin-top: 1.25rem;
}
#main > .header .information p,
#main > .header .information li,
#main > .header .information td {
  color: #e4dbd2;
  text-align: center;
  font-size: 0.875rem;
  list-style: none;
  margin: 0;
  margin-bottom: 1.25rem;
  padding: 0;
}
#main > .header .information p i,
#main > .header .information li i,
#main > .header .information td i {
  display: block;
  color: #ffffff;
  font-size: 1rem;
  font-style: normal;
  padding: 5px 0;
  margin-bottom: 10px;
}
#main > .header .information.warning {
  background: #a53232;
}
#main > .header .information.warning .title {
  color: #e2b3b3;
  border-top: 1px solid #e2b3b3;
  border-bottom: 1px solid #e2b3b3;
  padding: 1.25rem 0;
}
#main > .header .information.warning p {
  color: #ffffff;
}
#main > .header h2,
#main > .header .title {
  display: block;
  font-size: 1.5rem;
  padding: 1.25rem 0 0.625rem 0;
  text-transform: uppercase;
  position: relative;
  color: #b2a395;
  font-family: 'nashvilleregular', serif;
  font-family: 'Rye', cursive;
  font-weight: normal;
  margin-bottom: 1.25rem;
  border-bottom: 1px solid #b2a395;
}
#main > .header h2:first-child,
#main > .header .title:first-child {
  padding-top: 0;
}
#main > .header h2 a,
#main > .header .title a {
  color: #b2a395;
}
@media only screen and (max-width: 640px) {
  #main > .header h2,
  #main > .header .title {
    font-size: 1.5rem;
  }
}
#main > .header h3 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-size: 1rem;
  font-family: arial, Times, 'Times New Roman', serif;
  font-weight: 700;
  text-transform: uppercase;
}
#main > .header h3 a {
  color: #b2a395;
}
#main > .header h4 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #1d1a1b;
  font-size: 1rem;
  font-family: arial, Times, 'Times New Roman', serif;
  font-weight: 700;
}
#main > .header p a,
#main > .header dd a,
#main > .header td a {
  border-bottom: 1px dashed #b2a395;
  color: #161210;
}
#main > .header p a:hover,
#main > .header dd a:hover,
#main > .header td a:hover {
  background: #f7f5f2;
  color: #1d1a1b;
}
#main > .header p strong,
#main > .header p b {
  font-weight: bold;
}
#main > .header p.btns {
  text-align: right;
  overflow: hidden;
  margin-top: 2.5rem;
}
#main > .header p,
#main > .header li {
  color: #594e49;
  max-width: 700px;
  _text-align: justify;
}
#main > .header p.preamble {
  font-family: arial, Times, 'Times New Roman', serif;
  font-weight: 700;
  color: #161210;
}
#main > .header .more {
  display: inline-block;
  padding: 2px;
  text-transform: uppercase;
  font-size: 0.75rem;
  transition: all 200ms ease-out;
  background: #e4dbd2;
  color: #161210;
  border-color: #594e49;
  letter-spacing: 1px;
  float: none;
}
#main > .header .more span {
  padding: 10px 15px;
  display: block;
  border: #f2f2f2 1px solid;
}
#main > .header .more:hover {
  background: #b2a395;
  color: #f2f2f2;
  border-color: #e4dbd2;
  transition: all 200ms ease-out;
}
#main > .header .more:hover span {
  border-color: #e4dbd2;
}
#main > .header .more.primary {
  background: #b2a395;
  color: #ffffff;
  border: 1px solid #b2a395;
}
#main > .header .more.primary:hover {
  background: #594e49;
  border-color: #594e49;
  transition: all 200ms ease-out;
}
@media only screen and (max-width: 640px) {
  #main > .header .more {
    display: block;
    width: 100%;
    float: none;
    margin: auto;
    margin-top: 10px;
    text-align: center;
  }
}
#main > .header .more:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
#main > .header ul li {
  margin-bottom: 10px;
}
#main > .header dl {
  color: #594e49;
}
#main > .header dl dt {
  font-family: arial, Times, 'Times New Roman', serif;
  font-weight: 700;
  display: block;
  margin-bottom: 4px;
}
#main > .header dl dd {
  display: block;
  margin-bottom: 1.25rem;
}
#main > .header .hint {
  margin: 1.25rem 0;
  padding: 2.5rem;
  background: #f7f5f2;
  border: 1px solid #e4dbd2;
  font-family: arial, Times, 'Times New Roman', serif;
  font-weight: 700;
}
#main > .header .hint b {
  font-family: arial, Times, 'Times New Roman', serif;
  font-weight: 700;
  font-size: 1.125rem;
  display: block;
  margin-bottom: 10px;
}
#main > .header .hint.warning {
  border: 1px solid #a53232;
}
#main > .header .hint.warning p {
  color: #a53232;
}
#main > .header .menu {
  font-size: 0.875rem;
  background: #f7f5f2;
  padding: 1.25rem 2.5rem;
  margin-bottom: 1.25rem;
}
@media only screen and (max-width: 640px) {
  #main > .header .menu {
    padding: 1.25rem 1.25rem;
  }
}
#main > .header .menu .title {
  font-family: 'nashvilleregular', serif;
  font-family: 'Rye', cursive;
  font-weight: normal;
  text-align: center;
  color: #b2a395;
  margin: 1.25rem 0;
}
#main > .header .menu p {
  width: 100%;
  margin-bottom: 1.25rem;
  text-align: center;
}
#main > .header .menu p span {
  display: block;
  margin: 5px 0;
}
#main > .header .menu p:last-child {
  color: #161210;
  font-size: 1rem;
}
#main > .header .nutrition {
  width: 100%;
  font-size: 0.8125rem;
  background: #f7f5f2;
  padding: 1.25rem 2.5rem;
  margin-bottom: 1.25rem;
}
@media only screen and (max-width: 640px) {
  #main > .header .nutrition {
    padding: 1.25rem 1.25rem;
  }
}
#main > .header .tarif {
  width: 100%;
  margin-bottom: 1.25rem;
  overflow: hidden;
}
@media only screen and (max-width: 640px) {
  #main > .header .tarif {
    padding: 1.25rem 1.25rem;
  }
}
#main > .header .tarif .title {
  font-family: 'nashvilleregular', serif;
  font-family: 'Rye', cursive;
  font-weight: normal;
  text-align: left;
  color: #b2a395;
  margin: 1.25rem 0;
}
#main > .header .tarif .hint {
  font-size: 0.8125rem;
  border: 0;
  border-top: 1px dashed #ffffff;
  margin: 0;
  clear: both;
  padding: 1.25rem;
  text-align: center;
  color: #b2a395;
}
#main > .header .tarif dl {
  float: left;
  width: 33.33%;
  border-left: 1px dashed #ffffff;
  text-align: center;
  margin: 0;
  background: #f7f5f2;
}
#main > .header .tarif dl:first-of-type {
  border: 0;
}
#main > .header .tarif dl dt {
  color: #b2a395;
  font-size: 0.875rem;
  display: block;
  padding: 1.25rem 0;
  padding-bottom: 0;
  font-family: arial, Times, 'Times New Roman', serif;
  font-weight: 400;
}
#main > .header .tarif dl dd {
  color: #594e49;
  font-size: 1.875rem;
  display: block;
  padding: 0.625rem 0;
}
#main > .header .tarif dl dd i {
  font-style: normal;
  font-size: 0.5em;
  display: inline-block;
  margin-left: 5px;
  text-transform: uppercase;
}
#main > .header .carte {
  width: 100%;
  font-size: 0.875rem;
  background: #f7f5f2;
  padding: 1.25rem 2.5rem;
  margin-bottom: 1.25rem;
}
@media only screen and (max-width: 640px) {
  #main > .header .carte {
    padding: 1.25rem 1.25rem;
  }
}
#main > .header .carte .title {
  font-family: 'nashvilleregular', serif;
  font-family: 'Rye', cursive;
  font-weight: normal;
  text-align: center;
  color: #b2a395;
  margin: 1.25rem 0;
}
#main > .header .carte table tr td + td {
  width: 100px;
  font-size: 1.125rem;
  color: #161210;
}
@media only screen and (max-width: 640px) {
  #main > .header .carte table tr td + td {
    width: auto;
  }
}
#main > .header .carte table tr td + td i {
  font-style: normal;
  display: inline-block;
  margin-right: 10px;
  font-size: 0.75rem;
  text-transform: uppercase;
}
#main > .header table {
  width: 100%;
  margin-bottom: 1.25rem;
}
#main > .header table tr:last-child td {
  border: 0;
}
#main > .header table tr.options-title td {
  border: 0 !important;
}
#main > .header table tr.options td:first-child {
  padding: 10px 0px;
  padding-left: 20px;
  color: #161210;
  font-size: 0.875rem;
}
#main > .header table tr th {
  border-bottom: 1px solid #e4dbd2;
}
#main > .header table tr td {
  border-bottom: 1px solid #e4dbd2;
  padding: 15px 0px;
  color: #b2a395;
  font-size: 0.75rem;
}
#main > .header table tr td strong,
#main > .header table tr td b {
  color: #161210;
  font-weight: normal;
}
#main > .header table tr td i {
  font-style: normal;
  display: block;
}
#main > .header figure {
  margin-bottom: 2.5rem;
  max-width: 700px;
}
#main > .header figure.photo {
  padding: 0.625rem;
  border: 1px solid #e4dbd2;
}
#main > .header figure img {
  width: 100%;
  display: block;
}
#main > .header figure figcaption {
  display: block;
  font-size: 0.875rem;
  color: #555;
  text-align: left;
  padding: 6px;
}
.page-index #main > .header {
  height: 100vh;
}
@media only screen and (max-width: 640px) {
  .page-index #main > .header {
    height: auto;
  }
}
@media only screen and (max-width: 640px) {
  #main > .header {
    height: auto;
    padding: 2.5rem;
    background: #161210;
  }
}
#main > .header .wrapper {
  display: table;
  height: 100%;
  background: none;
}
#main > .header h1 {
  position: relative;
  color: #f2f2f2;
  font-size: 3.125rem;
  padding: 0.625rem 0;
  text-align: center;
  display: inline-block;
  margin: 0;
  text-transform: uppercase;
  margin-top: 200px;
}
@media only screen and (max-width: 640px) {
  #main > .header h1 {
    font-size: 1.875rem;
    margin-top: 0px;
  }
}
#main > .header div.hgroup {
  display: table-cell;
  vertical-align: middle;
  height: 100%;
  width: 100%;
}
@media only screen and (max-width: 640px) {
  #main > .header div.hgroup {
    margin-top: 100px;
    margin-bottom: 20px;
  }
}
#main > .header p {
  color: #f2f2f2;
  font-size: 1.25rem;
  text-align: center;
  margin: auto;
}
@media only screen and (max-width: 640px) {
  body.index #main > .header div.hgroup {
    margin-top: 20px !important;
  }
}
.block-intro-interior {
  height: 500px;
}
.block-intro-interior h1 {
  margin-top: 200px;
}
/*
.share{
	.block;
	background:darken(@color-brand-dark, 20%);
	text-align: center;
	padding-bottom:10px;
	margin:0 !important;
    display:none;

	.wrapper{
		background:none;
	}

	ul{
		&:extend(.clearlist all);
		text-align: center;

		@media @mq-xs{
			float:none;
			display:block;
			margin-top:0;
		}

		li{
			display:inline-block;
			margin:@gutter/2;

			a.icon{
				color:@color-brand-medium;
				display:block;
				.size(26);
				text-align: center;
				border:1px solid @color-brand-medium;
				width:48px;
				height:48px;
				line-height:42px;
				padding-top:0px;

				.lh-border-radius(50%);
				.lh-transition(all 150ms ease-out);

				&:hover{
					background:@color-white;
					color:@color-brand-dark;

					.lh-transition(all 150ms ease-out);
				}
			}
		}
	}
}
*/
.subnavigation {
  border: 1px solid rgba(178, 163, 149, 0.2);
}
.subnavigation ul li {
  display: block;
  float: none;
  position: relative;
  margin: 0 !important;
  border-bottom: 1px solid rgba(178, 163, 149, 0.2);
}
.subnavigation ul li a {
  display: block;
  color: #594e49;
  padding: 1.25rem;
  font-size: 1rem;
  transition: 150ms linear all;
}
.subnavigation ul li a:hover {
  background: #ffffff;
  color: #161210;
}
.subnavigation ul li a .legend {
  border-radius: 50%;
  background: rgba(178, 163, 149, 0.5);
  width: 30px;
  height: 30px;
  line-height: 30px;
  float: left;
  margin-right: 20px;
  margin-bottom: 40px;
  font-size: 0.875rem;
  text-align: center;
  color: #594e49;
}
.subnavigation ul li a .marker {
  float: left;
  margin-right: 20px;
  margin-bottom: 20px;
  position: relative;
}
.subnavigation ul li a .marker .index {
  position: absolute;
  z-index: 100;
  top: 4px;
  left: 0;
  color: #594e49;
  display: block;
  text-align: center;
  width: 100%;
  font-size: 0.875rem;
}
@media only screen and (max-width: 640px) {
  .subnavigation ul li a .marker .index {
    display: none;
  }
}
.subnavigation ul li a .marker .icon {
  font-size: 2.75rem;
  color: #e4dbd2;
}
.subnavigation ul li a i {
  color: #b2a395;
  font-size: 0.75rem;
  display: block;
  font-style: normal;
  line-height: 1.4em;
  margin-top: 4px;
  width: 90%;
}
.subnavigation ul li:last-child {
  border-bottom: 0;
}
/************************

	COMMON

************************/
/************************

	HOMEPAGE

************************/
#main > .information {
  position: relative;
  z-index: 1000;
}
#main > .information .wrapper {
  padding: 0;
}
#main > .information .banner {
  position: relative;
}
#main > .information .banner img {
  width: 100%;
}
#main > .information .opened,
#main > .information .closed {
  padding: 10px;
  margin: auto;
  margin-bottom: -50px;
  z-index: 500;
  position: relative;
  width: 80%;
  transform: rotate(-1deg);
}
@media only screen and (max-width: 640px) {
  #main > .information .opened,
  #main > .information .closed {
    margin-bottom: -30px;
  }
}
#main > .information .opened:after,
#main > .information .closed:after {
  position: absolute;
  bottom: -32px;
  left: 50%;
  border: 20px solid transparent;
  content: "";
  margin-left: -20px;
}
#main > .information .opened.opened,
#main > .information .closed.opened {
  background: #6d754d;
}
#main > .information .opened.opened:after,
#main > .information .closed.opened:after {
  border-top-color: #6d754d;
}
#main > .information .opened.opened p,
#main > .information .closed.opened p {
  border: 1px solid #d7dcc1;
}
#main > .information .opened.closed,
#main > .information .closed.closed {
  background: #a53232;
}
#main > .information .opened.closed:after,
#main > .information .closed.closed:after {
  border-top-color: #a53232;
}
#main > .information .opened.closed p,
#main > .information .closed.closed p {
  border: 1px solid #e2b3b3;
}
#main > .information .opened span.info,
#main > .information .closed span.info {
  border: 0;
  font-size: 0.8125rem;
  text-transform: none;
  display: block;
}
#main > .information .opened span.info a,
#main > .information .closed span.info a {
  color: #ffffff !important;
  text-decoration: underline;
}
#main > .information .opened p,
#main > .information .closed p {
  padding: 20px;
  margin: 0;
  text-align: center;
  text-transform: uppercase;
  font-size: 1.25rem;
  color: #ffffff !important;
}
@media only screen and (max-width: 640px) {
  #main > .information .opened p,
  #main > .information .closed p {
    font-size: 1rem;
  }
}
#main > .information .row {
  margin: auto;
  margin-top: -10%;
  z-index: 100;
  background: #ffffff;
  width: 100%;
  position: relative;
  display: table;
}
@media only screen and (max-width: 640px) {
  #main > .information .row {
    width: auto;
    display: block;
    margin-top: 0px;
  }
}
#main > .information .row.secondary {
  margin-top: 10px;
  background: #ffffff;
  _border-top: 1px solid #e4dbd2;
}
@media only screen and (max-width: 640px) {
  #main > .information .row + .spacer {
    height: 0;
  }
}
#main > .information .col {
  width: 50%;
  display: table-cell;
  vertical-align: middle;
  padding: 2.5rem;
  padding-right: 1.25rem;
}
@media only screen and (max-width: 640px) {
  #main > .information .col {
    width: auto;
    padding: 1.25rem;
    display: block;
  }
}
#main > .information .col h2 {
  color: #161210;
}
#main > .information .col p {
  color: #594e49;
}
#main > .information .col + .col {
  border: 0px;
  padding-left: 1.25rem;
  padding-right: 2.5rem;
}
@media only screen and (max-width: 640px) {
  #main > .information .col + .col {
    padding-top: 0;
  }
}
.mapping {
  position: relative;
}
.mapping > a {
  display: block;
  position: absolute;
  cursor: pointer;
  width: 3.75rem;
  height: 3.75rem;
}
.mapping > a:before {
  position: absolute;
  background: #000;
  width: 100%;
  height: 30px;
  content: "";
  margin-top: 44px;
  opacity: 0.5;
  border-radius: 50%;
  transition: all 180ms ease-in;
  transform: scale(0.3);
}
.mapping > a .icon {
  font-size: 3.75rem;
  color: #ffffff;
  position: absolute;
  text-align: center;
  width: 100%;
  transform: translateY(0px);
  transition: all 180ms ease-out;
}
.mapping > a i {
  color: #1d1a1b;
  position: absolute;
  width: 100%;
  line-height: 1.75rem;
  text-align: center;
  z-index: 100;
  font-style: normal;
  font-size: 1.5rem;
  padding-top: 10px;
  transform: translateY(0px);
  transition: all 180ms ease-out;
}
.mapping > a.poi-5 {
  bottom: 52%;
  left: 78%;
}
.mapping > a.poi-6 {
  bottom: 50%;
  left: 88%;
}
.mapping > a.poi-4 {
  bottom: 39%;
  left: 68%;
}
.mapping > a.poi-3 {
  bottom: 51%;
  left: 55%;
}
.mapping > a.poi-2 {
  bottom: 42%;
  left: 32%;
}
.mapping > a.poi-1 {
  bottom: 34%;
  left: 12%;
}
.mapping > a:hover {
  background: none;
}
.mapping > a:hover .icon {
  color: #594e49;
  transform: translateY(-20px);
  transition: all 180ms ease-in;
}
.mapping > a:hover i {
  color: #ffffff;
  transform: translateY(-20px);
  transition: all 180ms ease-in;
}
@media only screen and (max-width: 640px) {
  .mapping > a {
    display: none;
  }
}
.meteo {
  display: block;
  padding: 0;
  padding: 2.5rem;
  margin-bottom: 1.25rem;
  position: relative;
  overflow: hidden;
  background: white;
}
@media only screen and (max-width: 900px) {
  .meteo {
    border: 0;
  }
}
.meteo span.title {
  color: #594e49;
  padding: 0;
  display: block;
  padding: 0 !important;
  margin: 0 !important;
  font-size: 1.125rem;
  border: 0 !important;
}
.meteo .group {
  padding-top: 1.25rem;
}
.meteo .group span {
  display: block;
}
.meteo .icon {
  font-size: 10rem;
  display: block;
  color: #b2a395;
  position: absolute;
  right: 0;
  bottom: -40px;
  margin: 1.25rem;
  border-radius: 50%;
}
@media only screen and (max-width: 900px) {
  .meteo .icon {
    font-size: 7.5rem;
    right: -20px;
    bottom: -15px;
  }
}
.meteo .degree {
  font-size: 2.25rem;
  color: #594e49;
  margin: 1.25rem;
  display: inline-block;
  position: absolute;
  right: 130px;
  bottom: 20px;
  text-align: right;
}
@media only screen and (max-width: 900px) {
  .meteo .degree {
    right: 70px;
  }
}
.meteo .degree sup {
  font-size: 0.875rem;
  text-transform: uppercase;
}
.meteo:first-of-type {
  margin-bottom: 0;
  border-bottom: 1px dashed #e4dbd2;
}
.list {
  margin-top: 30px;
  padding-bottom: 1.25rem;
  margin-right: -0.625rem;
}
.list li {
  float: left;
  width: 33.33%;
}
.list li article {
  margin: 0.15625rem;
  padding: 0.625rem;
  background: #fff;
  border: 1px solid #f7f5f2;
}
@media only screen and (max-width: 640px) {
  .list li article {
    border: 0px solid #ffffff;
  }
}
.list li article figure {
  width: 200px;
  overflow: hidden;
  position: relative;
  display: block;
  z-index: 100;
  width: 100%;
}
@media only screen and (max-width: 640px) {
  .list li article figure {
    max-height: auto;
  }
}
.list li article figure img {
  width: 100%;
  display: block;
  z-index: 1;
}
.list li article .title {
  font-size: 1.125rem;
  margin: 0;
  padding: 0;
  font-family: arial, Times, 'Times New Roman', serif;
  font-weight: 400;
  border: 0;
  text-transform: none;
  padding: 0 1.25rem;
}
.list li article .title:after {
  display: none;
}
.list li article .title a {
  color: #594e49;
}
.list li article p {
  min-height: 50px;
  font-size: 0.875rem;
  overflow: hidden;
  padding: 0 1.25rem;
}
.list li article p,
.list li article table,
.list li article ul {
  color: #594e49;
}
.list li article .more {
  display: inline-block;
  padding: 2px;
  text-transform: uppercase;
  font-size: 0.75rem;
  transition: all 200ms ease-out;
  background: #e4dbd2;
  color: #161210;
  border-color: #594e49;
  letter-spacing: 1px;
  margin: auto;
  display: block;
  width: 70%;
  text-align: center;
  margin-bottom: 0.625rem;
}
.list li article .more span {
  padding: 10px 15px;
  display: block;
  border: #f2f2f2 1px solid;
}
.list li article .more:hover {
  background: #b2a395;
  color: #f2f2f2;
  border-color: #e4dbd2;
  transition: all 200ms ease-out;
}
.list li article .more:hover span {
  border-color: #e4dbd2;
}
.list li article .more.primary {
  background: #b2a395;
  color: #ffffff;
  border: 1px solid #b2a395;
}
.list li article .more.primary:hover {
  background: #594e49;
  border-color: #594e49;
  transition: all 200ms ease-out;
}
@media only screen and (max-width: 640px) {
  .list li article .more {
    display: block;
    width: 100%;
    float: none;
    margin: auto;
    margin-top: 10px;
    text-align: center;
  }
}
.list li article .category {
  color: #b2a395;
  margin-bottom: 0.625rem;
  margin-top: 4px;
  display: block;
  font-size: 0.875rem;
  padding: 0 1.25rem;
}
@media only screen and (max-width: 640px) {
  .list li {
    float: none;
    width: auto;
    padding: 0 !important;
    margin: 0;
    padding-bottom: 10px !important;
  }
}
.gallery {
  overflow: hidden;
  margin-bottom: 2.5rem;
}
.gallery .item {
  float: left;
  width: calc(33.33% -  0.3125rem);
  margin: 0.15625rem;
  padding: 0.625rem;
  background: #fff;
  border: 1px solid #f7f5f2;
  transition: 100ms ease-in all;
}
.gallery .item img {
  width: 100%;
  display: block;
}
.gallery .item.double {
  width: calc(66.66% -  0.3125rem);
}
.gallery .item span {
  color: #594e49;
  padding: 10px;
  display: block;
  font-size: 0.8125rem;
}
.gallery .item:hover {
  background: #f7f5f2;
}
.gallery .item.full {
  width: calc(100% -  0.3125rem);
}
@media only screen and (max-width: 640px) {
  .gallery .item {
    width: calc(50% -  0.3125rem);
  }
}
.gallery .image {
  float: left;
  width: 50%;
  margin: 0 !important;
  overflow: hidden;
  transition: all 100ms ease-in;
}
.gallery .image:nth-child(even) {
  background: #e4dbd2;
}
.gallery .image img {
  transition: all 100ms ease-in;
  transform: scale(1);
}
.gallery .image + .image {
  width: 25%;
}
.gallery .image:hover img {
  transition: all 100ms ease-out;
  transform: scale(1.1);
}
.news-thumb {
  margin-bottom: 2.5rem;
  overflow: hidden;
  padding: 1.25rem;
}
.news-thumb .more {
  border: 0 !important;
}
.news-thumb:nth-child(even) {
  background: #f7f5f2;
}
.page-news .news {
  width: 100% !important;
  float: none !important;
}
.page-news .news iframe {
  width: 100% !important;
}
.page-news .news .news-tags {
  overflow: hidden;
}
.page-news .news .news-tags ul,
.page-news .news .news-tags li {
  margin: 0;
  padding: 0;
  list-style: none;
}
.page-news .news .news-tags li {
  float: left;
  margin: 0.3125rem;
}
.page-news .news .news-tags li a {
  displa: block;
  background: #e4dbd2;
  padding: 0.3125rem 0.625rem;
  color: #b2a395;
  font-size: 0.8125rem;
  border-radius: 2px;
}
.news-block,
.page-news .news,
.news-main,
.news-mini {
  padding: 0;
  margin: 0;
  float: left;
  width: 50%;
  overflow: hidden;
  position: relative;
}
@media only screen and (max-width: 640px) {
  .news-block,
  .page-news .news,
  .news-main,
  .news-mini {
    width: auto;
    float: none;
    display: block;
  }
}
.news-block figure,
.page-news .news figure,
.news-main figure,
.news-mini figure {
  width: 100%;
  padding: 0;
}
.news-block figure img,
.page-news .news figure img,
.news-main figure img,
.news-mini figure img {
  display: block;
}
.news-block article,
.page-news .news article,
.news-main article,
.news-mini article {
  padding: 2.5rem;
}
.news-block article h3,
.page-news .news article h3,
.news-main article h3,
.news-mini article h3 {
  padding: 0;
  margin: 0;
}
.news-block article h3 a,
.page-news .news article h3 a,
.news-main article h3 a,
.news-mini article h3 a {
  color: #ffffff;
}
.news-block article p.date,
.page-news .news article p.date,
.news-main article p.date,
.news-mini article p.date {
  font-size: 0.75rem;
}
.news-main {
  width: calc(50% -  1.25rem);
  margin-right: 1.25rem;
}
.news-main .more {
  float: none !important;
  border: 0 !important;
}
@media only screen and (max-width: 640px) {
  .news-main {
    margin: 0;
    margin-bottom: 0.625rem;
    width: auto;
  }
}
.news-main article {
  width: 100%;
  height: 50%;
  background: rgba(22, 18, 16, 0.8);
}
@media only screen and (max-width: 640px) {
  .news-main article {
    height: auto;
  }
}
.news-main article p {
  color: #e4dbd2;
}
.news-main figure {
  margin: 0 !important;
}
.news-mini {
  background: #f7f5f2;
  border: #e4dbd2 1px solid;
  width: calc(50% -  1.25rem);
  margin: 0;
  margin-bottom: 1.25rem;
  margin-left: 1.25rem;
}
.news-mini .more {
  float: none !important;
  border: 0 !important;
}
@media only screen and (max-width: 640px) {
  .news-mini {
    margin: 0;
    margin-bottom: 0.625rem;
    width: auto;
  }
}
.news-mini article {
  width: 50%;
  padding: 0.625rem;
  float: left;
}
.news-mini article .title {
  margin-top: 15px;
  margin-bottom: 10px;
  font-size: 0.875rem;
}
.news-mini article .title a {
  color: #161210;
}
.news-mini figure {
  width: 20%;
  border-radius: 50%;
  overflow: hidden;
  float: left;
  margin: 20px;
  margin-right: 10px;
}
.block {
  position: relative;
  padding: 0 1.25rem;
}
.block + .block .wrapper {
  padding-top: 0px;
}
@media only screen and (max-width: 900px) {
  .block {
    padding: 0 0.625rem;
  }
}
@media only screen and (max-width: 640px) {
  .block {
    padding: 0;
  }
}
.block:first-of-type {
  margin: 0;
}
.block .wrapper {
  padding: 10px;
  background: rgba(255, 255, 255, 0.95);
}
@media only screen and (max-width: 640px) {
  .block .wrapper {
    display: block;
    display: flex;
    flex-direction: column;
  }
}
.block .wrapper:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.block .row {
  display: table;
  width: 100%;
}
@media only screen and (max-width: 640px) {
  .block .row {
    width: auto;
    display: block;
  }
}
.block col {
  display: table-cell;
  vertical-align: top;
}
.block .banner {
  margin-bottom: 2.5rem;
  max-width: 700px;
}
.block .banner img {
  width: 100%;
}
.block .column {
  float: left;
  width: 50%;
  padding-right: 2.5rem;
}
.block .column + .column {
  padding-left: 2.5rem;
  padding-right: 0;
  padding-top: 30px;
}
@media only screen and (max-width: 640px) {
  .block .column + .column {
    padding: 0;
  }
}
.block .column + .column:after {
  content: "";
  clear: both;
  height: 1px;
  visibility: hidden;
}
.block .column:nth-child(3n) {
  padding-right: 2.5rem;
  padding-left: 0;
  padding-top: 0px;
}
@media only screen and (max-width: 640px) {
  .block .column {
    width: auto;
    float: none;
    padding: 0;
  }
}
.block .content {
  padding: 5rem;
  background: #fff;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  border: #f7f5f2 1px solid;
}
@media only screen and (max-width: 900px) {
  .block .content {
    padding: 2.5rem;
  }
}
@media only screen and (max-width: 640px) {
  .block .content {
    float: none;
    width: 100%;
    padding: 1.25rem;
    display: block;
  }
}
.block .content p img {
  width: calc(100% - 1.25rem);
  margin: auto;
  max-width: 100%;
  display: block;
}
.block aside {
  float: right;
  width: 35%;
  padding: 5rem 1.25rem;
}
.block aside + .content {
  width: 65%;
  float: left;
}
@media only screen and (max-width: 640px) {
  .block aside + .content {
    width: auto;
    float: none;
    order: 1;
  }
}
@media only screen and (max-width: 640px) {
  .block aside {
    float: none;
    width: 100%;
    display: block;
    padding: 1.25rem;
    order: 2;
  }
}
.block aside > .title {
  font-size: 1rem;
  text-align: left;
  font-family: 'nashvilleregular', serif;
  font-family: 'Rye', cursive;
  font-weight: normal;
  display: block;
  margin-bottom: 1.25rem;
  padding: 0;
  border: 0;
}
.block aside .info {
  border: 1px solid rgba(178, 163, 149, 0.2);
  padding: 1.25rem;
  margin-bottom: 2.5rem;
  background: rgba(255, 255, 255, 0.5);
}
.block aside .info p {
  font-size: 0.875rem;
  text-align: center;
  margin-top: 1.25rem;
}
.block aside .info ul {
  font-size: 0.875rem;
}
.block aside .info ul li {
  color: #b2a395;
  overflow: hidden;
  margin-bottom: 0.625rem;
  border-bottom: 1px solid rgba(178, 163, 149, 0.2);
}
.block aside .info ul li i {
  font-size: 1rem;
  color: #594e49;
  font-style: normal;
  display: block;
  padding: 10px;
}
.block aside .subnavigation {
  margin-bottom: 2.5rem;
  background: rgba(255, 255, 255, 0.5);
}
.block aside .vcard {
  border: 1px solid rgba(178, 163, 149, 0.2);
  padding: 1.25rem;
  margin-bottom: 2.5rem;
  background: rgba(255, 255, 255, 0.5);
}
.block aside .vcard .fn,
.block aside .vcard .tel {
  margin: 0;
}
.block aside .vcard .street-address,
.block aside .vcard .country-name {
  display: block;
}
.block .information {
  background: #594e49;
  padding: 2.5rem 1.25rem;
  color: #e4dbd2;
}
.block .information .title {
  color: #e4dbd2;
  text-align: center;
  margin: 0;
  margin-bottom: 1.25rem;
  font-size: 1rem;
}
.block .information .title:after {
  display: none;
}
.block .information ul {
  margin: 0;
  padding: 0;
  list-style: none;
  /*
	&:after{
		.clearfix;
	}
	*/
}
.block .information ul li {
  padding: 0;
  margin: 0;
}
.block .information ul + ul {
  padding-top: 1.25rem;
  border-top: 1px solid #b2a395;
  margin-top: 1.25rem;
}
.block .information p,
.block .information li,
.block .information td {
  color: #e4dbd2;
  text-align: center;
  font-size: 0.875rem;
  list-style: none;
  margin: 0;
  margin-bottom: 1.25rem;
  padding: 0;
}
.block .information p i,
.block .information li i,
.block .information td i {
  display: block;
  color: #ffffff;
  font-size: 1rem;
  font-style: normal;
  padding: 5px 0;
  margin-bottom: 10px;
}
.block .information.warning {
  background: #a53232;
}
.block .information.warning .title {
  color: #e2b3b3;
  border-top: 1px solid #e2b3b3;
  border-bottom: 1px solid #e2b3b3;
  padding: 1.25rem 0;
}
.block .information.warning p {
  color: #ffffff;
}
.block h2,
.block .title {
  display: block;
  font-size: 1.5rem;
  padding: 1.25rem 0 0.625rem 0;
  text-transform: uppercase;
  position: relative;
  color: #b2a395;
  font-family: 'nashvilleregular', serif;
  font-family: 'Rye', cursive;
  font-weight: normal;
  margin-bottom: 1.25rem;
  border-bottom: 1px solid #b2a395;
}
.block h2:first-child,
.block .title:first-child {
  padding-top: 0;
}
.block h2 a,
.block .title a {
  color: #b2a395;
}
@media only screen and (max-width: 640px) {
  .block h2,
  .block .title {
    font-size: 1.5rem;
  }
}
.block h3 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-size: 1rem;
  font-family: arial, Times, 'Times New Roman', serif;
  font-weight: 700;
  text-transform: uppercase;
}
.block h3 a {
  color: #b2a395;
}
.block h4 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #1d1a1b;
  font-size: 1rem;
  font-family: arial, Times, 'Times New Roman', serif;
  font-weight: 700;
}
.block p a,
.block dd a,
.block td a {
  border-bottom: 1px dashed #b2a395;
  color: #161210;
}
.block p a:hover,
.block dd a:hover,
.block td a:hover {
  background: #f7f5f2;
  color: #1d1a1b;
}
.block p strong,
.block p b {
  font-weight: bold;
}
.block p.btns {
  text-align: right;
  overflow: hidden;
  margin-top: 2.5rem;
}
.block p,
.block li {
  color: #594e49;
  max-width: 700px;
  _text-align: justify;
}
.block p.preamble {
  font-family: arial, Times, 'Times New Roman', serif;
  font-weight: 700;
  color: #161210;
}
.block .more {
  display: inline-block;
  padding: 2px;
  text-transform: uppercase;
  font-size: 0.75rem;
  transition: all 200ms ease-out;
  background: #e4dbd2;
  color: #161210;
  border-color: #594e49;
  letter-spacing: 1px;
  float: none;
}
.block .more span {
  padding: 10px 15px;
  display: block;
  border: #f2f2f2 1px solid;
}
.block .more:hover {
  background: #b2a395;
  color: #f2f2f2;
  border-color: #e4dbd2;
  transition: all 200ms ease-out;
}
.block .more:hover span {
  border-color: #e4dbd2;
}
.block .more.primary {
  background: #b2a395;
  color: #ffffff;
  border: 1px solid #b2a395;
}
.block .more.primary:hover {
  background: #594e49;
  border-color: #594e49;
  transition: all 200ms ease-out;
}
@media only screen and (max-width: 640px) {
  .block .more {
    display: block;
    width: 100%;
    float: none;
    margin: auto;
    margin-top: 10px;
    text-align: center;
  }
}
.block .more:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.block ul li {
  margin-bottom: 10px;
}
.block dl {
  color: #594e49;
}
.block dl dt {
  font-family: arial, Times, 'Times New Roman', serif;
  font-weight: 700;
  display: block;
  margin-bottom: 4px;
}
.block dl dd {
  display: block;
  margin-bottom: 1.25rem;
}
.block .hint {
  margin: 1.25rem 0;
  padding: 2.5rem;
  background: #f7f5f2;
  border: 1px solid #e4dbd2;
  font-family: arial, Times, 'Times New Roman', serif;
  font-weight: 700;
}
.block .hint b {
  font-family: arial, Times, 'Times New Roman', serif;
  font-weight: 700;
  font-size: 1.125rem;
  display: block;
  margin-bottom: 10px;
}
.block .hint.warning {
  border: 1px solid #a53232;
}
.block .hint.warning p {
  color: #a53232;
}
.block .menu {
  font-size: 0.875rem;
  background: #f7f5f2;
  padding: 1.25rem 2.5rem;
  margin-bottom: 1.25rem;
}
@media only screen and (max-width: 640px) {
  .block .menu {
    padding: 1.25rem 1.25rem;
  }
}
.block .menu .title {
  font-family: 'nashvilleregular', serif;
  font-family: 'Rye', cursive;
  font-weight: normal;
  text-align: center;
  color: #b2a395;
  margin: 1.25rem 0;
}
.block .menu p {
  width: 100%;
  margin-bottom: 1.25rem;
  text-align: center;
}
.block .menu p span {
  display: block;
  margin: 5px 0;
}
.block .menu p:last-child {
  color: #161210;
  font-size: 1rem;
}
.block .nutrition {
  width: 100%;
  font-size: 0.8125rem;
  background: #f7f5f2;
  padding: 1.25rem 2.5rem;
  margin-bottom: 1.25rem;
}
@media only screen and (max-width: 640px) {
  .block .nutrition {
    padding: 1.25rem 1.25rem;
  }
}
.block .tarif {
  width: 100%;
  margin-bottom: 1.25rem;
  overflow: hidden;
}
@media only screen and (max-width: 640px) {
  .block .tarif {
    padding: 1.25rem 1.25rem;
  }
}
.block .tarif .title {
  font-family: 'nashvilleregular', serif;
  font-family: 'Rye', cursive;
  font-weight: normal;
  text-align: left;
  color: #b2a395;
  margin: 1.25rem 0;
}
.block .tarif .hint {
  font-size: 0.8125rem;
  border: 0;
  border-top: 1px dashed #ffffff;
  margin: 0;
  clear: both;
  padding: 1.25rem;
  text-align: center;
  color: #b2a395;
}
.block .tarif dl {
  float: left;
  width: 33.33%;
  border-left: 1px dashed #ffffff;
  text-align: center;
  margin: 0;
  background: #f7f5f2;
}
.block .tarif dl:first-of-type {
  border: 0;
}
.block .tarif dl dt {
  color: #b2a395;
  font-size: 0.875rem;
  display: block;
  padding: 1.25rem 0;
  padding-bottom: 0;
  font-family: arial, Times, 'Times New Roman', serif;
  font-weight: 400;
}
.block .tarif dl dd {
  color: #594e49;
  font-size: 1.875rem;
  display: block;
  padding: 0.625rem 0;
}
.block .tarif dl dd i {
  font-style: normal;
  font-size: 0.5em;
  display: inline-block;
  margin-left: 5px;
  text-transform: uppercase;
}
.block .carte {
  width: 100%;
  font-size: 0.875rem;
  background: #f7f5f2;
  padding: 1.25rem 2.5rem;
  margin-bottom: 1.25rem;
}
@media only screen and (max-width: 640px) {
  .block .carte {
    padding: 1.25rem 1.25rem;
  }
}
.block .carte .title {
  font-family: 'nashvilleregular', serif;
  font-family: 'Rye', cursive;
  font-weight: normal;
  text-align: center;
  color: #b2a395;
  margin: 1.25rem 0;
}
.block .carte table tr td + td {
  width: 100px;
  font-size: 1.125rem;
  color: #161210;
}
@media only screen and (max-width: 640px) {
  .block .carte table tr td + td {
    width: auto;
  }
}
.block .carte table tr td + td i,
#main > .header .menu p:last-child i,
.block .menu p:last-child i,
.call-to-action .menu p:last-child i {
  font-style: normal;
  display: inline-block;
  margin-right: 10px;
  font-size: 0.75rem;
  text-transform: uppercase;
}
.block table {
  width: 100%;
  margin-bottom: 1.25rem;
}
.block table tr:last-child td {
  border: 0;
}
.block table tr.options-title td {
  border: 0 !important;
}
.block table tr.options td:first-child {
  padding: 10px 0px;
  padding-left: 20px;
  color: #161210;
  font-size: 0.875rem;
}
.block table tr th {
  border-bottom: 1px solid #e4dbd2;
}
.block table tr td {
  border-bottom: 1px solid #e4dbd2;
  padding: 15px 0px;
  color: #b2a395;
  font-size: 0.75rem;
}
.block table tr td strong,
.block table tr td b {
  color: #161210;
  font-weight: normal;
}
.block table tr td i {
  font-style: normal;
  display: block;
}
.block figure {
  margin-bottom: 2.5rem;
  max-width: 700px;
}
.block figure.photo {
  padding: 0.625rem;
  border: 1px solid #e4dbd2;
}
.block figure img {
  width: 100%;
  display: block;
}
.block figure figcaption {
  display: block;
  font-size: 0.875rem;
  color: #555;
  text-align: left;
  padding: 6px;
}
.news-subnavigation ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background: rgba(255, 255, 255, 0.3);
}
.news-subnavigation ul li {
  list-style: none;
  margin: 0;
  padding: 0;
  display: block;
}
.news-subnavigation ul li ul {
  display: none;
}
.news-subnavigation ul li.active {
  background: #594e49;
}
.news-subnavigation ul li.active > a {
  color: #f2f2f2;
}
.news-subnavigation ul li.active > ul {
  display: block;
}
.news-subnavigation ul li a {
  display: block;
  padding: 0.625rem;
  color: #594e49;
}
.news-subnavigation ul li:not(.active) a:hover {
  background: #fff;
  color: #594e49;
}
.news-subnavigation ul > li {
  background: #e4dbd2;
  margin-bottom: 1px;
}
.news-subnavigation ul > li > ul {
  padding: 0.625rem;
  background: #f7f5f2;
}
.news-subnavigation ul > li > ul > li {
  background: #f7f5f2;
  margin: 0;
}
.news-subnavigation ul > li > ul > li a {
  padding-left: 1.25rem;
  font-size: 0.8125rem;
}
.call-to-action {
  position: relative;
  padding: 0 1.25rem;
  z-index: 100;
  padding: 0;
}
.call-to-action + .block .wrapper {
  padding-top: 0px;
}
@media only screen and (max-width: 900px) {
  .call-to-action {
    padding: 0 0.625rem;
  }
}
@media only screen and (max-width: 640px) {
  .call-to-action {
    padding: 0;
  }
}
.call-to-action:first-of-type {
  margin: 0;
}
.call-to-action .wrapper {
  padding: 10px;
  background: rgba(255, 255, 255, 0.95);
}
@media only screen and (max-width: 640px) {
  .call-to-action .wrapper {
    display: block;
    display: flex;
    flex-direction: column;
  }
}
.call-to-action .wrapper:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.call-to-action .row {
  display: table;
  width: 100%;
}
@media only screen and (max-width: 640px) {
  .call-to-action .row {
    width: auto;
    display: block;
  }
}
.call-to-action col {
  display: table-cell;
  vertical-align: top;
}
.call-to-action .banner {
  margin-bottom: 2.5rem;
  max-width: 700px;
}
.call-to-action .banner img {
  width: 100%;
}
.call-to-action .column {
  float: left;
  width: 50%;
  padding-right: 2.5rem;
}
.call-to-action .column + .column {
  padding-left: 2.5rem;
  padding-right: 0;
  padding-top: 30px;
}
@media only screen and (max-width: 640px) {
  .call-to-action .column + .column {
    padding: 0;
  }
}
.call-to-action .column + .column:after {
  content: "";
  clear: both;
  height: 1px;
  visibility: hidden;
}
.call-to-action .column:nth-child(3n) {
  padding-right: 2.5rem;
  padding-left: 0;
  padding-top: 0px;
}
@media only screen and (max-width: 640px) {
  .call-to-action .column {
    width: auto;
    float: none;
    padding: 0;
  }
}
.call-to-action .content {
  padding: 5rem;
  background: #fff;
  position: relative;
  vertical-align: top;
  overflow: hidden;
  border: #f7f5f2 1px solid;
}
@media only screen and (max-width: 900px) {
  .call-to-action .content {
    padding: 2.5rem;
  }
}
@media only screen and (max-width: 640px) {
  .call-to-action .content {
    float: none;
    width: 100%;
    padding: 1.25rem;
    display: block;
  }
}
.call-to-action .content p img {
  width: calc(100% - 1.25rem);
  margin: auto;
  max-width: 100%;
  display: block;
}
.call-to-action aside {
  float: right;
  width: 35%;
  padding: 5rem 1.25rem;
}
.call-to-action aside + .content {
  width: 65%;
  float: left;
}
@media only screen and (max-width: 640px) {
  .call-to-action aside + .content {
    width: auto;
    float: none;
    order: 1;
  }
}
@media only screen and (max-width: 640px) {
  .call-to-action aside {
    float: none;
    width: 100%;
    display: block;
    padding: 1.25rem;
    order: 2;
  }
}
.call-to-action aside > .title {
  font-size: 1rem;
  text-align: left;
  font-family: 'nashvilleregular', serif;
  font-family: 'Rye', cursive;
  font-weight: normal;
  display: block;
  margin-bottom: 1.25rem;
  padding: 0;
  border: 0;
}
.call-to-action aside .info {
  border: 1px solid rgba(178, 163, 149, 0.2);
  padding: 1.25rem;
  margin-bottom: 2.5rem;
  background: rgba(255, 255, 255, 0.5);
}
.call-to-action aside .info p {
  font-size: 0.875rem;
  text-align: center;
  margin-top: 1.25rem;
}
.call-to-action aside .info ul {
  font-size: 0.875rem;
}
.call-to-action aside .info ul li {
  color: #b2a395;
  overflow: hidden;
  margin-bottom: 0.625rem;
  border-bottom: 1px solid rgba(178, 163, 149, 0.2);
}
.call-to-action aside .info ul li i {
  font-size: 1rem;
  color: #594e49;
  font-style: normal;
  display: block;
  padding: 10px;
}
.call-to-action aside .subnavigation {
  margin-bottom: 2.5rem;
  background: rgba(255, 255, 255, 0.5);
}
.call-to-action aside .vcard {
  border: 1px solid rgba(178, 163, 149, 0.2);
  padding: 1.25rem;
  margin-bottom: 2.5rem;
  background: rgba(255, 255, 255, 0.5);
}
.call-to-action aside .vcard .fn,
.call-to-action aside .vcard .tel {
  margin: 0;
}
.call-to-action aside .vcard .street-address,
.call-to-action aside .vcard .country-name {
  display: block;
}
.call-to-action .information {
  background: #594e49;
  padding: 2.5rem 1.25rem;
  color: #e4dbd2;
}
.call-to-action .information .title {
  color: #e4dbd2;
  text-align: center;
  margin: 0;
  margin-bottom: 1.25rem;
  font-size: 1rem;
}
.call-to-action .information .title:after {
  display: none;
}
.call-to-action .information ul {
  margin: 0;
  padding: 0;
  list-style: none;
  /*
	&:after{
		.clearfix;
	}
	*/
}
.call-to-action .information ul li {
  padding: 0;
  margin: 0;
}
.call-to-action .information ul + ul {
  padding-top: 1.25rem;
  border-top: 1px solid #b2a395;
  margin-top: 1.25rem;
}
.call-to-action .information p,
.call-to-action .information li,
.call-to-action .information td {
  color: #e4dbd2;
  text-align: center;
  font-size: 0.875rem;
  list-style: none;
  margin: 0;
  margin-bottom: 1.25rem;
  padding: 0;
}
.call-to-action .information p i,
.call-to-action .information li i,
.call-to-action .information td i {
  display: block;
  color: #ffffff;
  font-size: 1rem;
  font-style: normal;
  padding: 5px 0;
  margin-bottom: 10px;
}
.call-to-action .information.warning {
  background: #a53232;
}
.call-to-action .information.warning .title {
  color: #e2b3b3;
  border-top: 1px solid #e2b3b3;
  border-bottom: 1px solid #e2b3b3;
  padding: 1.25rem 0;
}
.call-to-action .information.warning p {
  color: #ffffff;
}
.call-to-action h2,
.call-to-action .title {
  display: block;
  font-size: 1.5rem;
  padding: 1.25rem 0 0.625rem 0;
  text-transform: uppercase;
  position: relative;
  color: #b2a395;
  font-family: 'nashvilleregular', serif;
  font-family: 'Rye', cursive;
  font-weight: normal;
  margin-bottom: 1.25rem;
  border-bottom: 1px solid #b2a395;
}
.call-to-action h2:first-child,
.call-to-action .title:first-child {
  padding-top: 0;
}
.call-to-action h2 a,
.call-to-action .title a {
  color: #b2a395;
}
@media only screen and (max-width: 640px) {
  .call-to-action h2,
  .call-to-action .title {
    font-size: 1.5rem;
  }
}
.call-to-action h3 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  font-size: 1rem;
  font-family: arial, Times, 'Times New Roman', serif;
  font-weight: 700;
  text-transform: uppercase;
}
.call-to-action h3 a {
  color: #b2a395;
}
.call-to-action h4 {
  margin-top: 1.25rem;
  margin-bottom: 1.25rem;
  color: #1d1a1b;
  font-size: 1rem;
  font-family: arial, Times, 'Times New Roman', serif;
  font-weight: 700;
}
.call-to-action p a,
.call-to-action dd a,
.call-to-action td a {
  border-bottom: 1px dashed #b2a395;
  color: #161210;
}
.call-to-action p a:hover,
.call-to-action dd a:hover,
.call-to-action td a:hover {
  background: #f7f5f2;
  color: #1d1a1b;
}
.call-to-action p strong,
.call-to-action p b {
  font-weight: bold;
}
.call-to-action p.btns {
  text-align: right;
  overflow: hidden;
  margin-top: 2.5rem;
}
.call-to-action p,
.call-to-action li {
  color: #594e49;
  max-width: 700px;
  _text-align: justify;
}
.call-to-action p.preamble {
  font-family: arial, Times, 'Times New Roman', serif;
  font-weight: 700;
  color: #161210;
}
.call-to-action .more {
  display: inline-block;
  padding: 2px;
  text-transform: uppercase;
  font-size: 0.75rem;
  transition: all 200ms ease-out;
  background: #e4dbd2;
  color: #161210;
  border-color: #594e49;
  letter-spacing: 1px;
  float: none;
}
.call-to-action .more span {
  padding: 10px 15px;
  display: block;
  border: #f2f2f2 1px solid;
}
.call-to-action .more:hover {
  background: #b2a395;
  color: #f2f2f2;
  border-color: #e4dbd2;
  transition: all 200ms ease-out;
}
.call-to-action .more:hover span {
  border-color: #e4dbd2;
}
.call-to-action .more.primary {
  background: #b2a395;
  color: #ffffff;
  border: 1px solid #b2a395;
}
.call-to-action .more.primary:hover {
  background: #594e49;
  border-color: #594e49;
  transition: all 200ms ease-out;
}
@media only screen and (max-width: 640px) {
  .call-to-action .more {
    display: block;
    width: 100%;
    float: none;
    margin: auto;
    margin-top: 10px;
    text-align: center;
  }
}
.call-to-action .more:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
.call-to-action ul li {
  margin-bottom: 10px;
}
.call-to-action dl {
  color: #594e49;
}
.call-to-action dl dt {
  font-family: arial, Times, 'Times New Roman', serif;
  font-weight: 700;
  display: block;
  margin-bottom: 4px;
}
.call-to-action dl dd {
  display: block;
  margin-bottom: 1.25rem;
}
.call-to-action .hint {
  margin: 1.25rem 0;
  padding: 2.5rem;
  background: #f7f5f2;
  border: 1px solid #e4dbd2;
  font-family: arial, Times, 'Times New Roman', serif;
  font-weight: 700;
}
.call-to-action .hint b {
  font-family: arial, Times, 'Times New Roman', serif;
  font-weight: 700;
  font-size: 1.125rem;
  display: block;
  margin-bottom: 10px;
}
.call-to-action .hint.warning {
  border: 1px solid #a53232;
}
.call-to-action .hint.warning p {
  color: #a53232;
}
.call-to-action .menu {
  font-size: 0.875rem;
  background: #f7f5f2;
  padding: 1.25rem 2.5rem;
  margin-bottom: 1.25rem;
}
@media only screen and (max-width: 640px) {
  .call-to-action .menu {
    padding: 1.25rem 1.25rem;
  }
}
.call-to-action .menu .title {
  font-family: 'nashvilleregular', serif;
  font-family: 'Rye', cursive;
  font-weight: normal;
  text-align: center;
  color: #b2a395;
  margin: 1.25rem 0;
}
.call-to-action .menu p {
  width: 100%;
  margin-bottom: 1.25rem;
  text-align: center;
}
.call-to-action .menu p span {
  display: block;
  margin: 5px 0;
}
.call-to-action .menu p:last-child {
  color: #161210;
  font-size: 1rem;
}
.call-to-action .nutrition {
  width: 100%;
  font-size: 0.8125rem;
  background: #f7f5f2;
  padding: 1.25rem 2.5rem;
  margin-bottom: 1.25rem;
}
@media only screen and (max-width: 640px) {
  .call-to-action .nutrition {
    padding: 1.25rem 1.25rem;
  }
}
.call-to-action .tarif {
  width: 100%;
  margin-bottom: 1.25rem;
  overflow: hidden;
}
@media only screen and (max-width: 640px) {
  .call-to-action .tarif {
    padding: 1.25rem 1.25rem;
  }
}
.call-to-action .tarif .title {
  font-family: 'nashvilleregular', serif;
  font-family: 'Rye', cursive;
  font-weight: normal;
  text-align: left;
  color: #b2a395;
  margin: 1.25rem 0;
}
.call-to-action .tarif .hint {
  font-size: 0.8125rem;
  border: 0;
  border-top: 1px dashed #ffffff;
  margin: 0;
  clear: both;
  padding: 1.25rem;
  text-align: center;
  color: #b2a395;
}
.call-to-action .tarif dl {
  float: left;
  width: 33.33%;
  border-left: 1px dashed #ffffff;
  text-align: center;
  margin: 0;
  background: #f7f5f2;
}
.call-to-action .tarif dl:first-of-type {
  border: 0;
}
.call-to-action .tarif dl dt {
  color: #b2a395;
  font-size: 0.875rem;
  display: block;
  padding: 1.25rem 0;
  padding-bottom: 0;
  font-family: arial, Times, 'Times New Roman', serif;
  font-weight: 400;
}
.call-to-action .tarif dl dd {
  color: #594e49;
  font-size: 1.875rem;
  display: block;
  padding: 0.625rem 0;
}
.call-to-action .tarif dl dd i {
  font-style: normal;
  font-size: 0.5em;
  display: inline-block;
  margin-left: 5px;
  text-transform: uppercase;
}
.call-to-action .carte {
  width: 100%;
  font-size: 0.875rem;
  background: #f7f5f2;
  padding: 1.25rem 2.5rem;
  margin-bottom: 1.25rem;
}
@media only screen and (max-width: 640px) {
  .call-to-action .carte {
    padding: 1.25rem 1.25rem;
  }
}
.call-to-action .carte .title {
  font-family: 'nashvilleregular', serif;
  font-family: 'Rye', cursive;
  font-weight: normal;
  text-align: center;
  color: #b2a395;
  margin: 1.25rem 0;
}
.call-to-action .carte table tr td + td {
  width: 100px;
  font-size: 1.125rem;
  color: #161210;
}
@media only screen and (max-width: 640px) {
  .call-to-action .carte table tr td + td {
    width: auto;
  }
}
.call-to-action .carte table tr td + td i {
  font-style: normal;
  display: inline-block;
  margin-right: 10px;
  font-size: 0.75rem;
  text-transform: uppercase;
}
.call-to-action table {
  width: 100%;
  margin-bottom: 1.25rem;
}
.call-to-action table tr:last-child td {
  border: 0;
}
.call-to-action table tr.options-title td {
  border: 0 !important;
}
.call-to-action table tr.options td:first-child {
  padding: 10px 0px;
  padding-left: 20px;
  color: #161210;
  font-size: 0.875rem;
}
.call-to-action table tr th {
  border-bottom: 1px solid #e4dbd2;
}
.call-to-action table tr td {
  border-bottom: 1px solid #e4dbd2;
  padding: 15px 0px;
  color: #b2a395;
  font-size: 0.75rem;
}
.call-to-action table tr td strong,
.call-to-action table tr td b {
  color: #161210;
  font-weight: normal;
}
.call-to-action table tr td i {
  font-style: normal;
  display: block;
}
.call-to-action figure {
  margin-bottom: 2.5rem;
  max-width: 700px;
}
.call-to-action figure.photo {
  padding: 0.625rem;
  border: 1px solid #e4dbd2;
}
.call-to-action figure img {
  width: 100%;
  display: block;
}
.call-to-action figure figcaption {
  display: block;
  font-size: 0.875rem;
  color: #555;
  text-align: left;
  padding: 6px;
}
.call-to-action .wrapper {
  background: none;
  text-align: center;
  padding: 1.25rem !important;
}
.call-to-action .wrapper > span {
  display: inline-block;
  color: #b2a395;
  padding: 1.25rem;
  font-family: 'nashvilleregular', serif;
  font-family: 'Rye', cursive;
  font-weight: normal;
}
.call-to-action .wrapper > span a {
  font-size: 1.5rem;
  font-weight: normal;
  color: #e4dbd2;
  display: inline-block;
  padding: 0 10px;
}
.call-to-action .wrapper a.btn-book {
  display: inline-block;
  padding: 2px;
  text-transform: uppercase;
  font-size: 0.75rem;
  transition: all 200ms ease-out;
  color: #161210;
  letter-spacing: 1px;
  font-family: 'nashvilleregular', serif;
  font-family: 'Rye', cursive;
  font-weight: normal;
  font-size: 1.5rem;
  padding: 4px;
  color: #594e49;
  border-color: #594e49;
  background: #e4dbd2;
}
.call-to-action .wrapper a.btn-book span {
  padding: 10px 15px;
  display: block;
  border: #f2f2f2 1px solid;
}
.call-to-action .wrapper a.btn-book:hover {
  background: #b2a395;
  color: #f2f2f2;
  border-color: #e4dbd2;
  transition: all 200ms ease-out;
}
.call-to-action .wrapper a.btn-book:hover span {
  border-color: #e4dbd2;
}
.call-to-action .wrapper a.btn-book.primary {
  background: #b2a395;
  color: #ffffff;
  border: 1px solid #b2a395;
}
.call-to-action .wrapper a.btn-book.primary:hover {
  background: #594e49;
  border-color: #594e49;
  transition: all 200ms ease-out;
}
@media only screen and (max-width: 640px) {
  .call-to-action .wrapper a.btn-book {
    display: block;
    width: 100%;
    float: none;
    margin: auto;
    margin-top: 10px;
    text-align: center;
  }
}
.call-to-action .wrapper a.btn-book:hover {
  background: #161210;
  color: #e4dbd2;
  border-color: #161210;
}
.call-to-action .wrapper a.btn-book span {
  padding: 1.25rem 2.5rem;
  display: block;
  border: #b2a395 1px solid;
}
#gite-toilette .preamble {
  font-size: 1.125rem;
  color: #594e49;
}
#gite-toilette ul {
  margin: 0;
  padding: 0;
  list-style: none;
  /*
	&:after{
		.clearfix;
	}
	*/
}
#gite-toilette ul li {
  padding: 0;
  margin: 0;
}
#gite-toilette ul li {
  position: relative;
  padding: 2.5rem 0;
  padding-right: 100px;
  margin: 0;
  border-bottom: 1px solid #e4dbd2;
}
@media only screen and (max-width: 640px) {
  #gite-toilette ul li {
    padding: 1.25rem 0;
  }
}
#gite-toilette ul li h4 {
  margin: 0;
  margin-bottom: 1.25rem;
  font-size: 1.125rem;
  width: 80%;
  line-height: 1.5em;
  color: #594e49;
}
#gite-toilette ul li h4 span {
  color: #b2a395;
  font-size: 0.875rem;
  display: block;
  font-family: arial, Times, 'Times New Roman', serif;
  font-weight: 400;
}
#gite-toilette ul li em {
  position: absolute;
  top: 50%;
  right: 0;
  font-size: 1.5rem;
  font-family: 'nashvilleregular', serif;
  font-family: 'Rye', cursive;
  font-weight: normal;
  color: #a53232;
  font-style: normal;
  border-bottom: 2px solid #a53232;
  transform: rotate(-10deg);
}
@media only screen and (max-width: 640px) {
  #gite-toilette ul li em {
    position: relative;
    display: block;
    padding: 1.25rem 0;
    text-align: center;
    border: 0 !important;
    top: inherit;
    transform: rotate(-4deg);
  }
}
#gite-toilette ul li.true em {
  color: #6d754d;
  border-bottom: 2px solid #6d754d;
}
@media only screen and (max-width: 640px) {
}
#home-video .content {
  padding: 1.25rem;
  background: #161210;
}
#home-video iframe {
  height: 540px;
}
@media only screen and (max-width: 640px) {
  #home-video iframe {
    height: 200px;
  }
}
#home-intro .wrapper {
  background: none !important;
  position: relative;
}
#home-intro .content {
  background: none;
}
#home-intro .banner {
  position: relative;
  z-index: 100;
}
#home-intro .row {
  position: relative;
  z-index: 100;
}
#home-intro .row .col {
  border: 0;
}
form.error .message {
  text-align: center;
}
form.error .message p {
  padding: 4px;
  margin: 0;
  color: #e2b3b3;
}
#lightGallery-outer {
  background: rgba(22, 18, 16, 0.8);
}
#lightGallery-Gallery.opacity .lightGallery-slide {
  padding: 20px 0 !important;
}
#lightGallery-Gallery.opacity .lightGallery-slide .object {
  border: 10px solid #fff !important;
}
.bx-wrapper {
  margin: 0;
  padding: 0;
  border: 0;
  box-shadow: none;
  border: 0px;
  background: none;
}
.bx-wrapper ul {
  padding: 0;
  margin: 0;
  list-style: none;
  box-shadow: none;
  background: none;
}
.bx-wrapper ul li {
  padding: 0;
  margin: 0;
  box-shadow: none;
  background: none;
}
.bx-wrapper .bx-viewport {
  border: 0px;
  left: 0;
  box-shadow: none;
  background: none;
}
.bg {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: 0;
  right: 0;
  overflow: hidden;
  z-index: 0;
}
@media only screen and (max-width: 640px) {
  .bg {
    bottom: inherit;
    max-height: 400px;
    position: static;
  }
}
.bgslide {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: auto;
  right: auto;
  width: 100%;
  height: 100%;
  max-width: none !important;
  opacity: 0.5;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  transform-origin: 0px 0px;
  /* Safari, Chrome and Opera > 12.1 */
  /* Firefox < 16 */
  /* Internet Explorer */
  /* Opera < 12.1 */
  animation: bgMove 75s infinite;
}
@media only screen and (max-width: 640px) {
  .bgslide {
    height: 400px;
  }
}
@keyframes bgMove {
  0% {
    transform: matrix(1, 0, 0, 1, 0, 0) scale(1);
  }
  50% {
    transform: matrix(1, 0, 0, 1, 0, 0) scale(1.15);
    opacity: 0.8;
  }
  100% {
    transform: matrix(1, 0, 0, 1, 0, 0) scale(1);
  }
}
/* Firefox < 16 */
/* Safari, Chrome and Opera > 12.1 */
/* Internet Explorer */
/* Opera < 12.1 */
lesshat-selector {
  -lh-property: 0; }
@keyframes arrow{ 0%{transform: translateY(0px); } 50%{transform: translateY(10px); } 100%{transform: translateY(0px); }}
[not-existing] {
  zoom: 1;
}

/*# sourceMappingURL=core.css.map */
