<span class="title">{{ 'CONTACT.SCHEDDULE'|t }}</span>

<div class="information">

    <ul>
        <li>{{ 'CONTACT.WEDNESDAY'|t }} - {{ 'CONTACT.SUNDAY'|t }} <i>10h - 22h *</i></li>
        <li>{{ 'CONTACT.MONDAY'|t }} - {{ 'CONTACT.TUESDAY'|t }} <i>{{ 'CONTACT.CLOSED'|t }}</i></li>
    </ul>

    <ul>
        {% set months = [
            'SCHEDULE.MONTHS.JANUARY',
            'SCHEDULE.MONTHS.FEBRUARY',
            'SCHEDULE.MONTHS.MARCH',
            'SCHEDULE.MONTHS.APRIL',
            'SCHEDULE.MONTHS.MAY',
            'SCHEDULE.MONTHS.JUNE',
            'SCHEDULE.MONTHS.JULY',
            'SCHEDULE.MONTHS.AUGUST',
            'SCHEDULE.MONTHS.SEPTEMBER',
            'SCHEDULE.MONTHS.OCTOBER',
            'SCHEDULE.MONTHS.NOVEMBER',
            'SCHEDULE.MONTHS.DECEMBER'
        ]  %}

        {% for holiday in page.find('/config').header.holidays %}

            {% set now = "now"|date("U") %}

            {% set start = holiday.start_date|date("U") %}
            {% set end = holiday.end_date|date("U") %}

            {% set start_month = months[(holiday.start_date|date('n'))-1] %}
            {% set end_month = months[(holiday.end_date|date('n'))-1] %}

            {% if now <= end %}
                {% if holiday.start_date|date('Y') == holiday.end_date|date('Y') %}
                    <li>
                        {{ holiday.label }} <i>{{ holiday.start_date|date('d') }} {{ start_month|t }} au {{ holiday.end_date|date('d') }} {{ end_month|t }} {{ holiday.end_date|date('Y') }}</i>
                    </li>
                {% else %}
                    <li>
                        {{ holiday.label }} <i>{{ holiday.start_date|date('d') }} {{ start_month|t }} {{ holiday.start_date|date('Y') }} au {{ holiday.end_date|date('d') }} {{ end_month|t }} {{ holiday.end_date|date('Y') }}</i>
                    </li>
                {% endif %}
            {% endif %}

        {% endfor %}
    </ul>

</div>
<div class="reservation-dimanche">{{ 'CONTACT.NOTICE.SCHEDDULE'|t }}</div>