{% set config = page.find('/config') %}

<footer id="footer">

    <div class="call-to-action">
        <div class="wrapper">

            <a href="{{ page.find('/contact-reservation').url }}" class="btn-book"><span>{{ 'FOOTER.CTA_CONTACT'|t }}</span></a>

            <span>{{ 'FOOTER.CTA_PHONE'|t }} <a href="tel:{{ site.coordonnees.tel_number }}">{{ site.coordonnees.tel_label_2 }}</a></strong></span>

        </div>
    </div>

    <div class="links">
        <div class="wrapper">

            {% for col in config.header.footer_col %}
            <div class="col">
                <span>{{ col.title }}</span>
                <ul>
                    {% for menu in col.navigation %}
                        <li>
                            {% if menu.internal_url %}
                                <a href="{{ menu.internal_url }}">{{ menu.name }}</a>
                            {% elseif menu.external_url %}
                                <a target="_blank" href="{{ menu.external_url }}">{{ menu.name }}</a>
                            {% else %}
                                <a href="#">{{ menu.name }}</a>
                            {% endif %}
                        </li>
                    {% endfor %}
                </ul>
            </div>
            {% endfor %}

            <div class="col">
                <span>Contact</span>
                <div class="vcard">
                    <p class="fn"><a href="{{ home_url }}" class="link-url" style="text-transform: uppercase;">{{ site.title }}</a></p>
                    <p class="adr">
                        <span class="street-address">{{ site.coordonnees.address }}</span>
                        <span class="postal-code">{{ site.coordonnees.zip }}</span>
                        <span class="locality">{{ site.coordonnees.locality }}</span>
                        <span class="country-name">{{ site.coordonnees.country }}</span>
                    </p>
                    <p class="tel">Tel. <a href="tel:{{ site.coordonnees.tel_number }}" class="link-tel">{{ site.coordonnees.tel_label }}</a></p>
                    <p class="fax">Fax <a href="fax:{{ site.coordonnees.fax_number }}" class="link-fax">{{ site.coordonnees.fax_label }}</a></p>
                    <p class="email"><a href="mailto:{{ site.coordonnees.email }}" class="link-mail">{{ site.coordonnees.email }}</a></p>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright">
        <div class="wrapper">
            <div class="col">
                <span class="client">{{ "now"|date('Y') }} &copy; Bison Ranch | {{ 'FOOTER.ALL_RIGHT_RESERVED'|t }}</span>
            </div>
            <div class="col">
                <a href="http://www.maven.ch" target="_blank" class="maven-logo">
                    <span>m</span>
                    <span>a</span>
                    <span>v</span>
                    <span>e</span>
                    <span>n</span>
                    <i>.</i>
                </a>
            </div>
        </div>
    </div>
</footer>