<aside class="news-categories">
    <nav class="news-subnavigation">
        <ul>
            {% for category in page.find('/categories').collection %}
                <li>
                    <a href="{{ page.find('/actualites').url }}/{{ category.slug }}">{{ category.title }}</a>
                </li>
            {% endfor %}
        </ul>
    </nav>
</aside>