{% set months = [
    'SCHEDULE.MONTHS.JANUARY',
    'SCHEDULE.MONTHS.FEBRUARY',
    'SCHEDULE.MONTHS.MARCH',
    'SCHEDULE.MONTHS.APRIL',
    'SCHEDULE.MONTHS.MAY',
    'SCHEDULE.MONTHS.JUNE',
    'SCHEDULE.MONTHS.JULY',
    'SCHEDULE.MONTHS.AUGUST',
    'SCHEDULE.MONTHS.SEPTEMBER',
    'SCHEDULE.MONTHS.OCTOBER',
    'SCHEDULE.MONTHS.NOVEMBER',
    'SCHEDULE.MONTHS.DECEMBER'
] %}

<article class="news-thumb">
    <header>
        <h1 class="title">{{ post.title }}</h1>
        <p>
            {{ 'BLOG.POST_DATE'|t }} {{ post.date|date('d') }} {{ months[(post.date|date('n'))-1]|t }} {{ post.date|date('Y') }} {{ 'BLOG.POST_BY'|t }} Bison Ranch
        </p>
    </header>
    <figure class="news-preview">
        <img src="{{ post.media[post.header.background_image].cropZoom(600,200).url }}">
    </figure>
    <div class="news-content">
        <div class="news-body">
            <p><em>{{ post.header.excerpt }}</em></p>
        </div>
        <a href="{{ post.url }}">
            <div class="more">
                <span>{{ 'BLOG.READ_MORE'|t }}</span>
            </div>
        </a>
    </div>
</article>