@import (reference) "../../node_modules/lesshat/lesshat-prefixed.less";
@import (reference) "mediaqueries.less";
@import "mixins.less";
@import "navigation.less";
@import "variables.less";
@import "../../fonts/icons/icons.less";



.font-family-country(){
  font-family: 'nashvilleregular', serif;
  font-family: 'Rye', cursive;
  font-weight:normal;
}
.font-family-regular(){
  font-family: arial, Times, 'Times New Roman', serif;
  font-weight: 400;
}
.font-family-bold(){
  font-family: arial, Times, 'Times New Roman', serif;
  font-weight: 700;
}




// BREAKPOINTS - RESPONSIVE
@breakpoint-smartphone:@mq-smartphone;
@breakpoint-tablet:@mq-tablet;
@breakpoint-tablet-horizontal:@mq-tablet-horizontal;
//



html,
body{
	
	background-color:@color-brand-black;

	&[data-scroll_max="true"]{
		background:@color-brand-light;
	}
}

.debug{

    width:100%;
    height:10px;
    background:white;
    position: fixed;
    z-index:2000;
    display:none;


  @media @mq-m{
    width:@screen-m;
    background:yellowgreen;
  }


  @media @mq-s{
    width:@screen-s;
    background:#800080;
  }

  @media @mq-xs{
    width:@screen-xs;
    background:red;
  }
}

/*
#audio{
	position:fixed; 
	top:@gutter;
	right:@gutter;
	z-index:2000;

	#btn-play{
		.button;
		background:@color-brand-black;
	}
	#btn-stop{
		.button;
		background:@color-brand-black;
	}
	@media @mq-xs{
		display:none;
	}
}
*/

.reservation-dimanche{
	padding: @gutter;
	font-size: 12px;
}

.bg-area{
	position:relative;
	height:100vh;

	.link-start{
		position:absolute;
		bottom:100px;
		left:0;
		right:0;
	}

	@media @mq-xs{
		display:none;
	}
}

.video-js{
	position:absolute;
	top:0;
	left:0;
	bottom:0;
	right:0;
	width:100% !important;
	height:100% !important;
	z-index:200;
	opacity:0;

	@media @mq-xs{
		position:relative;
	}
}

#wallpaper{
	&:extend(.position-fixed);
	box-sizing: content-box;
	width:100%;
	height:100%;
	z-index:0;
	background:@color-brand-black;
	opacity:1;

	&:after{
		position:absolute;
		bottom:0;
		left:0;
		right:0;
		content:"";
		height:200px;
		z-index:10;

		background: -moz-linear-gradient(top,  rgba(22,18,16,0) 0%, rgba(22,18,16,1) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(22,18,16,0)), color-stop(100%,rgba(22,18,16,1))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top,  rgba(22,18,16,0) 0%,rgba(22,18,16,1) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top,  rgba(22,18,16,0) 0%,rgba(22,18,16,1) 100%); /* Opera 11.10+ */
		background: -ms-linear-gradient(top,  rgba(22,18,16,0) 0%,rgba(22,18,16,1) 100%); /* IE10+ */
		background: linear-gradient(to bottom,  rgba(22,18,16,0) 0%,rgba(22,18,16,1) 100%); /* W3C */
		filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00161210', endColorstr='#161210',GradientType=0 ); /* IE6-9 */

	}

	div.slide{
		&:extend(.position-fixed);
		width:100%;
		height:100%;
		background:url('') center bottom no-repeat;
		background-size:auto 110%;
		opacity: 0;

		.lh-transform(scale(1.1));
		.lh-transition(opacity 1000ms ease-in, transform 100ms ease-in 2000ms);

		@media @mq-xs{
			.lh-transform(scale(1));
			.lh-transition(opacity 0ms ease-in);
			opacity: 1;
		}

		&:first-child{
			z-index:1;
		}

		img{
			width:1px;
			height:1px;
		}
		/*
		&.bg-001{
			background-image:url("@{images}wallpaper_001.jpg");
			z-index:1;
		}

		&.bg-002{
			background-image:url("@{images}wallpaper_003.jpg");
		}
		*/

		&.active{
			opacity: 1;
			.lh-transform(scale(1));
			.lh-transition(opacity 1000ms ease-in, transform 10000ms ease-in);

			@media @mq-xs{
				.lh-transform(scale(1));
				.lh-transition(opacity 0ms ease-in);
			}
		}

		@media @mq-xs{
			position:relative;
			height:100%;
			opacity: 1;
		}

	}


	@media @mq-xs{
		position:absolute;
		top:0;
		height:300px;
	}

	body.index &{
		@media @mq-xs{
			position:relative !important;
			height:auto;
			margin-top:80px;
		}
	}
}


/*
#widescreen{
	background:fade(@color-brand-black, 90%);
	height:160px;
	position:fixed;
	bottom:0;
	left:0;
	right:0;
	z-index:500;
	opacity:0;
	text-align: center;

	.lh-transition(opacity 400ms ease-in);

	body[data-domready="true"] &{
		opacity:1;
		.lh-transition(opacity 200ms ease-in);
	}

	@media @mq-xs{
		display:none;
	}
}
*/


#loader{

	&:extend(.position-fixed);

	opacity:1;
	top:50%;
	left:50%;
	width:100px;
	height:100px;
	margin-left: -50px;
	margin-top:-50px;
	padding:10px;
	text-align: center;
	text-transform: uppercase;
	background:#fff;
	color:#000;
	line-height:80px;
	background:url("@{images}loader.gif") no-repeat center 20px #fff;
	background-size: 40px auto;
	font-size:30px;
	border:10px solid #56544c;
	z-index:3000;
    display:none;

	.lh-transition(transform 250ms ease-out, opacity 250ms ease-out, top 0ms linear 250ms);

	body[data-domready="true"] &{
		opacity:0;
		.lh-transform(scale(1.5));
		top:-400px;
	}
}



.wrapper,
#footer .wrapper{
	max-width:1000px;
	width:auto;
	margin:auto;

	@media @mq-s{
		width:auto;
		min-width:1px;
	}
	@media @mq-xs{
		width:auto;
	}
}


h1{
	.size(40);
	margin-bottom:@gutter*1.5;
	.font-family-country;
}

h2{
	color:@color-brand-medium;
	.size(28);
	margin-bottom:@gutter;
	.font-family-country;
	clear:both;
}

hr{
	background:url('@{images}line.png') repeat-x center;
	background-size:auto 10px;
	display:block;
	border:0;
	padding:@gutter*3;
	opacity:0.5;
	clear:both;
	margin:0;

	@media @mq-xs{
		padding:@gutter;
	}
}

h3{
	color:@color-brand-dark;
	.size(15);
	margin:0;
	padding-bottom:@gutter/2;
	padding-top:@gutter/2;
	clear:both;
	//.font-family-country;
}



.wrapper-padding(){
	padding:@gutter*2 @gutter*2;

	@media @mq-s{
		padding:@gutter;
	}

	@media @mq-xs{
		padding:@gutter;
	}
}


#wrapper{
background: -moz-linear-gradient(top,  rgba(22,18,16,0) 0%, rgba(22,18,16,0) 33%, rgba(22,18,16,0.8) 100%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(22,18,16,0)), color-stop(33%,rgba(22,18,16,0)), color-stop(100%,rgba(22,18,16,0.8))); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  rgba(22,18,16,0) 0%,rgba(22,18,16,0) 33%,rgba(22,18,16,0.8) 100%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  rgba(22,18,16,0) 0%,rgba(22,18,16,0) 33%,rgba(22,18,16,0.8) 100%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  rgba(22,18,16,0) 0%,rgba(22,18,16,0) 33%,rgba(22,18,16,0.8) 100%); /* IE10+ */
background: linear-gradient(to bottom,  rgba(22,18,16,0) 0%,rgba(22,18,16,0) 33%,rgba(22,18,16,0.8) 100%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00161210', endColorstr='#cc161210',GradientType=0 ); /* IE6-9 */

}


#header{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    z-index:100;
    //background:fade(@color-brand-black, 90%);
    height:194px;
  //height:220px;
    background:fade(@color-brand-black, 40%);
  background:url("@{images}texture-bois.png") repeat center fade(@color-brand-black, 85%);
  background-size:auto 200px;

    @media @mq-xs{
      position:relative;
      margin-top:80px;
      background:none;
    }

    //background:fade(@color-brand-black, 70%);
    //border-bottom:1px solid fade(@color-brand-white, 20%);

    .wrapper{
      padding:@gutter;
    }


  .logo{
      display:block;
      margin:auto;
      width:300px;

      img{
        width:100%;
      }

      strong{
        text-indent:-9999px;
        position:relative;
        overflow: hidden;
        display:block;
      }
    }
}

#footer{
	margin-top:@gutter;
  background: fade(@color-brand-black, 80%);
  background:url("@{images}texture-bois.png") repeat center fade(@color-brand-black, 80%);
  background-size:auto 40%;
	text-align: left;

	@media @mq-s{
      padding:0px;
      margin-top:@gutter/2;
	}

	.wrapper{
		overflow:hidden;
		.wrapper-padding;
		padding-top:10px;
		padding-bottom:0;


	}

	

	.col{
		width:50%;
		float:left;
		padding:@gutter 0;
		text-align: left;

		@media @mq-xs{
			width:100%;
			padding:@gutter/2 @gutter*2;
		}
	}

	.copyright{

		color:@color-brand-dark;
		//background:@color-brand-black;

		@media @mq-xs{
			text-align: center;
		}

      .wrapper{
        //background: @color-brand-black;
        border-top:rgba(255,255,255,0.2) 1px solid;
      }
		
		.col:nth-child(2){
			text-align: right;
		}
	}

	.links{
		overflow:hidden;
		//background:@color-brand-black;

      .wrapper{
        border-top:rgba(255,255,255,0.2) 1px solid;
        //background: fade(@color-brand-black, 80%);
        //background:url("@{images}texture-bois.png") no-repeat center fade(@color-brand-black, 80%);
        //background-size:150% 90%;
      }

		.col{
			width:25%;
			text-align: left;

			@media @mq-xs{
				display:block;
				width:100%;
				float:none;
				margin:auto;
				text-align: center;
			}

			& > span{
				color:@color-brand-dark;
				.font-family-country;
				.size(20);
				display:block;
				margin:@gutter 0;
			}

			ul{
				&:extend(.clearlist all);

				li{

					a{
						color:darken(@color-brand-light, 10%);
						display:block;
						padding:4px 0;
						.size(14);

						.lh-transition(all 150ms ease-out);

						&:hover{
							color:@color-white;
							.lh-transition(all 150ms ease-out);

									}

						@media @mq-xs{
							text-align: center;
						}
					}
				}
			}

			.vcard{


				@media @mq-xs{
					*{
						text-align: center;
					}
				}

				span, p, a{
					.size(14);
				}

				&,
				.link-url,
				.link-tel,
				.link-fax,
				.link-mail{
					color:darken(@color-brand-light, 10%);
					text-align: left;
				}
				.link-url,
				.link-tel,
				.link-fax,
				.link-mail{

					.lh-transition(all 150ms ease-out);

					&:hover{
						color:@color-white;

						.lh-transition(all 150ms ease-out);
					}
				}
				.tel,
				.fn{
					margin-bottom:0;
				}
				.fax,
				.adr{
					margin-top:0;
				}
				.adr{
					span.street-address,
					span.country-name{
						display:block;
					}
				}
			}
		}
	}
}



#main{
	position:relative;
	z-index:100;
}



.link-start{
	color:@color-brand-light;
	display:block;
	margin:auto;
	text-align: center;
	margin-top:50px;
	height:60px;
	position:relative;
	border:0 !important;

	i{
		text-align: center;
		line-height:50px;
		margin-left:3px;
		position:absolute;
		top:0;
		left:0;
		width:100%;
		.size(22);
		opacity:0.5;

		&:nth-child(2){
			margin-top:-40px;
			top:25px;
			.size(26);
			opacity:1;
		}
	}
	span{
		.lh-animation(arrow 1.5s infinite backwards);
		text-align: center;
		display:block;
	}

	@media @mq-xs{
		display:none;
	}
}


.button(){
	display:inline-block;
	padding:2px;
	text-transform: uppercase;
	.size(12);

	.lh-transition(all 200ms ease-out);

	background:@color-brand-light;
	color:@color-brand-black;
	border-color:@color-brand-dark;
	//.font-family-country;
	letter-spacing: 1px;

	span{
		padding:10px 15px;
		display:block;
		border:@color-brand-white 1px solid;
	}

	&:hover{
		background:@color-brand-medium;
		color:@color-brand-white;
		border-color:@color-brand-light;
		.lh-transition(all 200ms ease-out);

		span{
			border-color:@color-brand-light;
		}
	}

	&.primary{
		background:@color-brand-medium;
		color:@color-white;
		border:1px solid @color-brand-medium;

		&:hover{
			background:@color-brand-dark;
			border-color:@color-brand-dark;
			.lh-transition(all 200ms ease-out);
		}
	}

	@media @mq-xs{
		display:block;
		width:100%;
		float:none;
		margin:auto;
		margin-top:10px;
		text-align: center;
	}

}


#main > .header{
	.block;

    position:relative;
	height:80vh;
    text-align: center;
    overflow:hidden;


    .page-index & {
      height:100vh;
      @media @mq-xs{
        height:auto;
      }
    }

	@media @mq-xs{
		height:auto;
        padding:@gutter*2;
        background:@color-brand-black;
	}

	.wrapper{
		display: table;
		height:100%;
		background:none;
	}

	h1{
		position:relative;
		color:@color-brand-white;
		.size(50);
		padding:@gutter/2 0;
		text-align: center;
		display: inline-block;
		margin:0;
		text-transform: uppercase;
      margin-top:200px;

		@media @mq-xs{
			.size(30);
			margin-top:0px;
		}
	}

	div.hgroup{
        display:table-cell;
        vertical-align: middle;
        height:100%;
        width:100%;

		@media @mq-xs{
			margin-top:100px;
			margin-bottom:20px;
		}
	}

	p{
		color:@color-brand-white;
		.size(20);
		text-align: center;
        margin:auto;
	}

	body.index &{
		div.hgroup{

			@media @mq-xs{
				margin-top:20px !important;
			}

		}
	}

}
.block-intro-interior{
	&:extend(.block-intro all);
	height:500px;
	h1{
		margin-top:200px;
	}
}




/*
.share{
	.block;
	background:darken(@color-brand-dark, 20%);
	text-align: center;
	padding-bottom:10px;
	margin:0 !important;
    display:none;

	.wrapper{
		background:none;
	}

	ul{
		&:extend(.clearlist all);
		text-align: center;

		@media @mq-xs{
			float:none;
			display:block;
			margin-top:0;
		}

		li{
			display:inline-block;
			margin:@gutter/2;

			a.icon{
				color:@color-brand-medium;
				display:block;
				.size(26);
				text-align: center;
				border:1px solid @color-brand-medium;
				width:48px;
				height:48px;
				line-height:42px;
				padding-top:0px;

				.lh-border-radius(50%);
				.lh-transition(all 150ms ease-out);

				&:hover{
					background:@color-white;
					color:@color-brand-dark;

					.lh-transition(all 150ms ease-out);
				}
			}
		}
	}
}
*/


.subnavigation{

	border:1px solid fade(@color-brand-medium, 20%);
	

	ul{
		&:extend(.clearlist);

		li{
			display:block;
			float:none;
			position:relative;
			margin:0 !important;

			a{
				display:block;
				color:@color-brand-dark;
				padding:@gutter;
				.size(16);

				.lh-transition(150ms linear all);

				&:hover{
					background:(@color-white);
					color:@color-brand-black;
				}

				.legend{
					border-radius:50%;
					background:fade(@color-brand-medium, 50%);
					width:30px;
					height:30px;
					line-height:30px;
					float:left;
					margin-right:20px;
					margin-bottom:40px;
					.size(14);
					text-align: center;
					color:@color-brand-dark;



				}
				.marker{
					float:left;
					margin-right:20px;
					margin-bottom:20px;
					position:relative;

					.index{
						position:absolute;
						z-index:100;
						top:4px;
						left:0;
						color:@color-brand-dark;
						display:block;
						text-align: center;
						width:100%;
						.size(14);

						@media @mq-xs{
							display:none;
						}
					}
					.icon{
						.size(44);
						color:@color-brand-light;
					}
				}
				

				i{
					color:@color-brand-medium;
					.size(12);
					display:block;
					font-style: normal;
					line-height:1.4em;
					margin-top:4px;
					width:90%;
				}
			}

			border-bottom:1px solid fade(@color-brand-medium, 20%);

			&:last-child{
				border-bottom:0;
			}
		}
	}
}




/************************

	COMMON

************************/
.header{
	&:extend(.block-intro all);
}


/************************

	HOMEPAGE

************************/


#main > .information{

	position:relative;
	z-index:1000;

	.wrapper{
		padding:0;
	}

	.banner{
		position:relative;

		img{
			width:100%;
		}
	}

  .opened,
  .closed{
      padding:10px;
      margin:auto;
      margin-bottom:-50px;
      z-index:500;
      position:relative;
      width:80%;
      .lh-transform(rotate(-1deg));

      @media @mq-xs{
        margin-bottom:-30px;
      }

      &:after{
        position:absolute;
        bottom:-32px;
        left:50%;
        border:20px solid transparent;
        content:"";
        margin-left:-20px;
      }

      &.opened{
        background:@color-secondary-green-dark;

        &:after{
          border-top-color:@color-secondary-green-dark;
        }
        p{
          border:1px solid @color-secondary-green-light;
        }
      }
      &.closed{
        background:@color-secondary-red-dark;

        &:after{
          border-top-color:@color-secondary-red-dark;
        }
        p{
          border:1px solid @color-secondary-red-light;
        }
      }

    span.info{
      border:0;
      .size(13);
      text-transform: none;
      display:block;

      a{
        color:@color-white !important;
        text-decoration: underline;
      }
    }

      p{
        padding:20px;
        margin:0;
        //.font-family-country;
        text-align: center;
        text-transform: uppercase;
        .size(20);
        color:@color-white !important;



        @media @mq-xs{
          .size(16);
        }
      }

    }

	.row{
		margin:auto;
		margin-top:-10%;
		z-index:100;
		background:@color-white;
		//width:calc(~"100% - "@gutter*4);
		width:100%;
		position:relative;
		display: table;

		@media @mq-xs{
			width:auto;
			display:block;
			margin-top:0px;
		}

		&.secondary{
			margin-top:10px;
			background:@color-white;
			_border-top:1px solid @color-brand-light;
		}
	}

	.row + .spacer{
		//height:@gutter/2;

		@media @mq-xs{
			height:0;
		}
	}

	.col{
		width:50%;
		display:table-cell;
		vertical-align: middle;
		padding:@gutter*2;
		padding-right:@gutter;

		@media @mq-xs{
			width:auto;
			padding:@gutter;
			display:block;
		}

		h2{
				color:@color-brand-black;
			}
			p{
				color:@color-brand-dark;
			}

		

		& + .col{
			border:0px;
			padding-left:@gutter;
			padding-right:@gutter*2;

			@media @mq-xs{
				padding-top:0;
			}
		}

	}
}


.mapping{
	position:relative;

	& > a{
		display:block;
		position:absolute;
		cursor:pointer;
		width:unit(60/@font-size, rem);
		height:unit(60/@font-size, rem);

		
		&:before{
			position:absolute;
			background:#000;
			border-radius:50%;
			width:100%;
			height:30px;
			content:"";
			margin-top:44px;
			opacity:0.5;
			border-radius:50%;

			.lh-transition(all 180ms ease-in);
			.lh-transform(scale(0.3));
		}
	

		.icon{
			.size(60);
			color:@color-white;
			position:absolute;
			text-align: center;
			width:100%;

			.lh-transform(translateY(0px));
			.lh-transition(all 180ms ease-out);
		}

		i{
			color:@color-black;
			position:absolute;
			width:100%;
			line-height:unit(28/@font-size, rem);
			text-align: center;
			z-index:100;
			font-style: normal;
			.size(24);
			padding-top:10px;

			.lh-transform(translateY(0px));
			.lh-transition(all 180ms ease-out);
		}

		&.poi-5{
			bottom:52%;
			left:78%;
		}
		&.poi-6{
			bottom:50%;
			left:88%;
		}
		&.poi-4{
			bottom:39%;
			left:68%;
		}
		&.poi-3{
			bottom:51%;
			left:55%;
		}
		&.poi-2{
			bottom:42%;
			left:32%;
		}
		&.poi-1{
			bottom:34%;
			left:12%;
		}

		&:hover{
			background:none;

			.icon{
				color:@color-brand-dark;

				.lh-transform(translateY(-20px));
				.lh-transition(all 180ms ease-in);
			}
			i{
				color:@color-white;
				.lh-transform(translateY(-20px));
				.lh-transition(all 180ms ease-in);
			}
		}

		@media @mq-xs{
			display:none;
		}
	}

}



.meteo{
	display:block;

	padding:0;
	padding:@gutter*2;
	margin-bottom:@gutter;
  position:relative;
  overflow:hidden;
  background:white;



	@media @mq-s{
		border:0;
	}

	span.title{
		color:@color-brand-dark;
		padding:0;
        display:block;
        padding:0 !important;
        margin:0 !important;
        .size(18);
        border:0 !important;
	}

	.group{

      padding-top:@gutter;

      span{
        display:block;
      }
	}

	.icon{
		.size(160);
		display:block;
		color:@color-brand-medium;
		position:absolute;
      right:0;
      bottom:-40px;
      margin:@gutter;

      border-radius:50%;

      @media @mq-s{
        .size(120);
        right:-20px;
        bottom:-15px;
      }
	}

	.degree{
		.size(36);
		color:@color-brand-dark;
		margin:@gutter;
		display:inline-block;
      position:absolute;
      right:130px;
      bottom:20px;
      text-align:right;

      @media @mq-s{
        right:70px;
      }

		sup{
			.size(14);
			text-transform: uppercase;
		}
	}

    &:first-of-type{
      margin-bottom:0;
      border-bottom:1px dashed @color-brand-light;
    }
}

.list{
	&:extend(.clearlist all);
	margin-top:30px;
	padding-bottom:@gutter;
	margin-right:-@gutter/2;

	li{
		float:left;
		width:33.33%;
		
		article{
			margin:@gutter/8;
			padding:@gutter/2;
			background:#fff;
			border:1px solid @color-brand-extra-light;


			@media @mq-xs{
				border:0px solid @color-white;
			}

			figure{
				width:@list-thumb-default;
				overflow:hidden;
				position:relative;
				display:block;
				z-index:100;
				width:100%;

				@media @mq-xs{
					max-height:auto;
				}

				img{
					width:100%;
					display:block;
					z-index:1;
				}
			}

			.title{
				.size(18);
				margin:0;
				padding:0;
				.font-family-regular;
				border:0;
				text-transform: none;

				&:after{
					display:none;
				}

				a{
					color:@color-brand-dark;
				}
				padding:0 @gutter;
			}

			p{
				min-height:50px;
				.size(14);
				overflow:hidden;
				padding:0 @gutter;
			}

			p, table, ul{
				color:@color-brand-dark;
			}

			.more{
				.button;
				margin:auto;
				display: block;
				width:70%;
				text-align: center;
				margin-bottom:@gutter/2;

			}

			.category{
				color:@color-brand-medium;
				margin-bottom:@gutter/2;
				margin-top:4px;
				display:block;
				.size(14);
				padding:0 @gutter;
			}
		}

		@media @mq-xs{
			float:none;
			width:auto;
			padding:0 !important;
			margin:0;
			padding-bottom:10px !important;
		}
	}
}

.gallery{

	overflow:hidden;
	margin-bottom:@gutter*2;

	.item{
		float:left;
		width:calc(~"33.33% - "@gutter/4);
		margin:@gutter/8;
		padding:@gutter/2;
		background:#fff;
		border:1px solid @color-brand-extra-light;

		.lh-transition(100ms ease-in all);

		img{
			width:100%;
			display:block;
		}

		&.double{
			width:calc(~"66.66% - "@gutter/4);
		}

		span{
			color:@color-brand-dark;
			padding:10px;
			display:block;
			.size(13);
		}

		&:hover{
			background: @color-brand-extra-light;
		}

		&.full{
			width:calc(~"100% - "@gutter/4);
		}

		@media @mq-xs{
			width:calc(~"50% - "@gutter/4);
		}
	}

	.image{
		float:left;
		width:50%;
		margin:0 !important;
		overflow:hidden;

		&:nth-child(even){
				background:@color-brand-light;
			}

		&.empty{
			
		}

		.lh-transition(all 100ms ease-in);

		img{
			.lh-transition(all 100ms ease-in);
			.lh-transform(scale(1));
		}

		& + .image{
			width:25%;
		}

		&:hover{

			img{
				.lh-transition(all 100ms ease-out);
				.lh-transform(scale(1.1));
			}
		}
	}
}

.news-thumb{
  margin-bottom:@gutter*2;
  overflow:hidden;
  padding:@gutter;

  .more{
    border:0 !important;
  }

  &:nth-child(even){
    background:@color-brand-extra-light;
  }
}

.page-news .news{
  &:extend(.news-block all);

  width:100% !important;
  float:none !important;

  iframe{
    width:100% !important;
  }



  .news-preview{

  }

  .news-tags{
    overflow:hidden;

    ul, li{
      margin:0;
      padding:0;
      list-style:none;
    }
    li{
      float:left;
      margin:@gutter/4;

      a{
        displa:block;
        background:@color-brand-light;
        padding:@gutter/4 @gutter/2;
        color:@color-brand-medium;
        .size(13);
        border-radius:2px;
      }
    }
  }
}


.news-block{
	padding:0;
	margin:0;
	float:left;
	width:50%;
	overflow:hidden;
	position:relative;

	@media @mq-xs{
		width:auto;
		float:none;
		display:block;
	}

	figure{
		width:100%;
		padding:0;

		img{
			display: block;
		}
	}

	article{
		padding:@gutter*2;

		h3{
			padding:0;
			margin:0;

			a{
				color:@color-white;
			}
		}
		p.date{
			.size(12);
		}
	}
}


.news-main{
	&:extend(.news-block all);
	width:calc(~"50% - "@gutter);
	margin-right:@gutter;

    .more{
      float:none !important;
      border:0 !important;
    }

	@media @mq-xs{
		margin:0;
		margin-bottom:@gutter/2;
		width:auto;
	}

	article{
		width:100%;
		height:50%;
		background:fade(@color-brand-black, 80%);

		@media @mq-xs{
			height:auto;
		}

		p{
			color:@color-brand-light;
		}
	}

	figure{
		margin:0 !important;
	}
}
.news-mini{
	&:extend(.news-block all);
	background:@color-brand-extra-light;
	border:@color-brand-light 1px solid;
	width:calc(~"50% - "@gutter);
	margin:0;
	margin-bottom:@gutter;
	margin-left:@gutter;

    .more{
      float:none !important;
      border:0 !important;
    }

	@media @mq-xs{
		margin:0;
		margin-bottom:@gutter/2;
		width:auto;
	}

	article{
		width:50%;
		padding:@gutter/2;
		float:left;

		.title{
			margin-top:15px;
			margin-bottom:10px;
			.size(14);

			a{
				color:@color-brand-black;
			}
		}
	}

	figure{
		width:20%;
		border-radius:50%;
		overflow:hidden;
		float:left;
		margin:20px;
		margin-right:10px;
	}
}


.block{
	position:relative;
	//margin-top:1px;
    padding:0 @gutter;

    & + .block{
      .wrapper{
        padding-top:0px;
      }
    }


	@media @mq-s{
		//margin-top:0px;
        padding:0 @gutter/2;
	}

    @media @mq-xs{
      padding:0;
    }

    &:first-of-type{
      margin:0;
    }
	

	.wrapper{
		padding:10px;

        background:fade(@color-white, 95%);


		@media @mq-xs{
			display:block;
            .lh-display(flex);
            .lh-flex-direction(column);
		}
		
		&:after{
			.clearfix;
		}
	}

	.row{
		display:table;
		width:100%;

		@media @mq-xs{
			width:auto;
			display:block;
		}
	}

	col{
		display:table-cell;
		vertical-align: top;
	}
	.banner{
		margin-bottom:@gutter*2;
		max-width:700px;

		img{
			width:100%;
		}
	}

	.column{
		float: left;
		width:50%;
		padding-right:@gutter*2;

		& + .column{
			padding-left:@gutter*2;
			padding-right:0;
			padding-top:30px;

			@media @mq-xs{
				padding:0;
			}

			&:after{
				content:"";
				clear:both;
				height:1px;
				visibility: hidden;
			}
		}

		&:nth-child(3n){
			padding-right:@gutter*2;
			padding-left:0;
			padding-top:0px;
		}


		@media @mq-xs{
			width:auto;
			float:none;
			padding:0;
		}

		
	}

	.content{
		padding:@gutter*4;
		background:#fff;
		position: relative;
		vertical-align: top;
        overflow: hidden;

        border:@color-brand-extra-light 1px solid;

        @media @mq-s{
          padding:@gutter*2;
        }

		@media @mq-xs{
			float:none;
			width:100%;
			padding:@gutter;
			display:block;
        }

		p {
			img {
				width: calc(~'100%' - @gutter);
				margin: auto;
				max-width: 100%;
				display: block;
			}
		}
	}

	aside{
		
		float:right;
		width:35%;
		padding:@gutter*4 @gutter;

        & + .content{
          width:65%;
          float:left;

          @media @mq-xs{
            width:auto;
            float:none;
            .lh-order(1);
          }
        }


		@media @mq-xs{
			float:none;
			width:100%;
			display: block;
			padding:@gutter;
            .lh-order(2);
		}

		& > .title{
			.size(16);
			text-align: left;
			.font-family-country;
			display:block;
			margin-bottom:@gutter;
			padding:0;
			border:0;
		}

		.info{
			border:1px solid fade(@color-brand-medium, 20%);
			padding:@gutter;
			margin-bottom:@gutter*2;
			background:fade(@color-white, 50%);

			p{
				.size(14);
				text-align: center;
				margin-top:@gutter;
			}

			ul{
				&:extend(.clearlist all);
				.size(14);

				li{
					color:@color-brand-medium;
					overflow: hidden;
					margin-bottom:@gutter/2;
					border-bottom:1px solid fade(@color-brand-medium, 20%);

					i{
						.size(16);
						color:@color-brand-dark;
						font-style: normal;
						display: block;
						padding:10px;
					}
				}
			}
		}



		.subnavigation{
			margin-bottom:@gutter*2;
			background:fade(@color-white, 50%);
		}

		.vcard{
			border:1px solid fade(@color-brand-medium, 20%);
			padding:@gutter;
			margin-bottom:@gutter*2;
			background:fade(@color-white, 50%);

			.fn,
			.tel{
				margin:0;

			}

			.street-address,
			.country-name{
				display:block;
			}
		}

	}

	.information{
			background:@color-brand-dark;
			padding:@gutter*2 @gutter;
			color:@color-brand-light;

			.title{
				color:@color-brand-light;
				text-align: center;
				margin:0;
				margin-bottom:@gutter;
				.size(16);

				&:after{
					display: none;
				}
			}
			ul{
				.clearlist;

				& + ul{
					padding-top:@gutter;
					border-top:1px solid @color-brand-medium;
					margin-top:@gutter;
				}
			}
			p,li,td{
				color:@color-brand-light;
				text-align: center;
				.size(14);
				list-style: none;
				margin:0;
				margin-bottom:@gutter;
				padding:0;

				i{
					display:block;
					color:@color-white;
					.size(16);
					font-style: normal;
					padding:5px 0;
					margin-bottom:10px;
				}
			}

			&.warning{
				background:@color-secondary-red-dark;
				.title{
					color:@color-secondary-red-light;
					border-top:1px solid @color-secondary-red-light;
					border-bottom:1px solid @color-secondary-red-light;
					padding:@gutter 0;
				}
				p{
					color:@color-white;
				}
			}
		}


	h2,
	.title{
		display:block;
		.size(24);
		padding:@gutter 0 @gutter/2 0;
		text-transform: uppercase;
		position:relative;
		color:@color-brand-medium;
		.font-family-country;

		margin-bottom:@gutter;
		border-bottom:1px solid @color-brand-medium;

		&:first-child{
			padding-top:0;
		}

      a{
        color:@color-brand-medium;
      }

		@media @mq-xs{
			.size(24);
		}
	}
	h3{
		margin-top:@gutter;
		margin-bottom:@gutter;
		.size(16);
		.font-family-bold;
		text-transform: uppercase;

      a{
        color:@color-brand-medium;
      }
	}
	h4{
		margin-top:@gutter;
		margin-bottom:@gutter;
		color:@color-black;
		.size(16);
		.font-family-bold;
	}
	p a,
	dd a,
	td a{
		border-bottom:1px dashed @color-brand-medium;
		color:@color-brand-black;

		&:hover{
			background:@color-brand-extra-light;
			color:@color-black;
		}
	}
	p strong, p b{
		//color:@color-brand-black;
		font-weight: bold;
	}
	p.btns{
		text-align: right;
		overflow:hidden;
		margin-top:@gutter*2;
	}
	p, li{
		color:@color-brand-dark;
		max-width:700px;
		_text-align: justify;
	}
	p.preamble{
		.font-family-bold;
		color:@color-brand-black;
	}

	.more{
		.button;
		float:none;

		&:after{
			.clearfix;
		}
	}

	ul{

		li{
			margin-bottom:10px;
		}
	}

	dl{
		color:@color-brand-dark;

		dt{
			.font-family-bold;
			display:block;
			margin-bottom:4px;
		}
		dd{
			display:block;
			margin-bottom:@gutter;
		}
	}

	.hint{
		margin:@gutter 0;
		padding:@gutter*2;
		background:@color-brand-extra-light;
		border:1px solid @color-brand-light;
        .font-family-bold;


		b{
			.font-family-bold;
			.size(18);
			display:block;
			margin-bottom:10px;
		}

		&.warning{
			border:1px solid @color-secondary-red-dark;
			p{
				color:@color-secondary-red-dark;
			}
		}
		
	}

	.menu{
		.size(14);
		background:@color-brand-extra-light;
		padding:@gutter @gutter*2;
		margin-bottom:@gutter;

		@media @mq-xs{
			padding:@gutter @gutter;
		}

		.title{
			.font-family-country;
			text-align: center;
			color:@color-brand-medium;
			margin:@gutter 0;
		}

		p{
			width:100%;
			margin-bottom:@gutter;
			text-align: center;

			span{
				display: block;
				margin:5px 0;
			}

			&:last-child{
				color:@color-brand-black;
				.size(16);

				i{
					&:extend(.block .carte table tr td + td i);
				}
			}
		}
	}

	.nutrition{
		width:100%;
		.size(13);
		background:@color-brand-extra-light;
		padding:@gutter @gutter*2;
		margin-bottom:@gutter;

		@media @mq-xs{
			padding:@gutter @gutter;
		}
	}

	.tarif{
		width:100%;
		margin-bottom:@gutter;
		overflow:hidden;

		@media @mq-xs{
			padding:@gutter @gutter;
		}

		.title{
			.font-family-country;
			text-align: left;
			color:@color-brand-medium;
			margin:@gutter 0;
		}

		.hint{
			.size(13);
			border:0;
			border-top:1px dashed @color-white;
			margin:0;
			clear:both;
			padding:@gutter;
			text-align: center;
			color:@color-brand-medium;
		}

		dl{
			float:left;
			width:33.33%;
			border-left:1px dashed @color-white;
			text-align: center;
			margin:0;
			background:@color-brand-extra-light;

			&:first-of-type{
				border:0;
			}

			dt{
				color:@color-brand-medium;
				.size(14);
				display:block;
				padding:@gutter 0;
				padding-bottom:0;
				.font-family-regular;
			}
			dd{
				color:@color-brand-dark;
				.size(30);
				display:block;
				padding:@gutter/2 0;

				i{
					font-style: normal;
					font-size:0.5em;
					display:inline-block;
					margin-left:5px;
					text-transform: uppercase;
				}
			}
		}

	}

	.carte{
		width:100%;
		.size(14);
		background:@color-brand-extra-light;
		padding:@gutter @gutter*2;
		margin-bottom:@gutter;

		@media @mq-xs{
			padding:@gutter @gutter;
		}

		.title{
			.font-family-country;
			text-align: center;
			color:@color-brand-medium;
			margin:@gutter 0;
		}

		table tr td + td{
			width:100px;
			.size(18);
			color:@color-brand-black;

			@media @mq-xs{
				width:auto;
			}

			i{
				font-style: normal;
				display:inline-block;
				margin-right:10px;
				.size(12);
				text-transform: uppercase;
			}
		}
	}

	table{
		width:100%;
		margin-bottom:@gutter;

		tr{
			&:nth-child(even){
				
			}
			&:last-child td{
				border:0;
			}
			&.options-title td{
				border:0 !important;
			}
			&.options td:first-child{
				padding:10px 0px;
				padding-left:20px;
				color:@color-brand-black;
				.size(14);
			}
			th{
				border-bottom:1px solid @color-brand-light;
			}
			td{
				border-bottom:1px solid @color-brand-light;
				padding:15px 0px;
				color:@color-brand-medium;
				.size(12);

				strong, b{
					color:@color-brand-black;
					font-weight:normal;
				}

				i{
					font-style: normal;
					display:block;
				}
			}
		}
	}

	figure{
		margin-bottom:@gutter*2;
		max-width:700px;
		
		&.photo{
			padding:@gutter/2;
			border:1px solid @color-brand-light;
		}

		img{
			width:100%;
			display:block;
		}

		figcaption{
			display:block;
			.size(14);
			color:#555;
			text-align: left;
			padding:6px;
		}
	}
}

.news-subnavigation{

  ul{
    list-style: none;
    margin:0;
    padding:0;
    background:rgba(255,255,255,0.3);

    li{
      list-style: none;
      margin:0;
      padding:0;
      display:block;

      ul{
        display:none;
      }

      &.active{
        background:@color-brand-dark;

        & > a{
          color:@color-brand-white;
        }

        & > ul{
          display:block;
        }
      }

      a{
        display:block;
        padding:@gutter/2;
        color:@color-brand-dark;


      }

      &:not(.active){
        a:hover{
          background:#fff;
          color:@color-brand-dark;
        }
      }
    }
  }

  ul > li{
    background:@color-brand-light;
    margin-bottom:1px;
    a{
      //border-bottom:1px solid @color-brand-light;
    }
  }
  ul > li > ul{
    padding:@gutter/2;
    background:@color-brand-extra-light;
  }
  ul > li > ul > li{
    background:@color-brand-extra-light;
    margin:0;

    a{
      //border-bottom:1px solid @color-brand-light;
      padding-left:@gutter;
      .size(13);
    }
  }

}

.call-to-action{
	.block;
	z-index:100;
	//background:fade(@color-brand-black, 90%);
	padding:0;

	.wrapper{
		background:none;
		text-align: center;
		padding:@gutter !important;

		& > span{
			display:inline-block;
			color:@color-brand-medium;
			padding:@gutter;
			.font-family-country;

			a{
				.size(24);
				font-weight:normal;
				color:@color-brand-light;
				display:inline-block;
				padding:0 10px;
			}
		}

		a.btn-book{
			.button;
			.font-family-country;
			.size(24);
			padding:4px;
			color:@color-brand-dark;
			border-color:@color-brand-dark;
			background:@color-brand-light;

			&:hover{
				background:@color-brand-black;
				color:@color-brand-light;
				border-color:@color-brand-black;
			}

			span{
				padding:@gutter @gutter*2;
				display:block;
				border:@color-brand-medium 1px solid;
			}
		}
	}
}


#gite-toilette{

	.preamble{
		.size(18);
		color:@color-brand-dark;
	}

	ul{
		.clearlist;

		li{
			position:relative;
			padding:@gutter*2 0;
			padding-right:100px;
			margin:0;
			border-bottom:1px solid @color-brand-light;

			&:nth-child(odd){
			}

			@media @mq-xs{
				padding:@gutter 0;
			}

			h4{
				margin:0;
				margin-bottom:@gutter;
				.size(18);
				width:80%;
				line-height:1.5em;
				color:@color-brand-dark;

				span{
					color:@color-brand-medium;
					.size(14);
					display:block;
					.font-family-regular;
				}
			}

			em{
				position:absolute;
				top:50%;
				right:0;
				.size(24);
				.font-family-country;
				color:@color-secondary-red-dark;
				font-style: normal;
				border-bottom:2px solid @color-secondary-red-dark;

				.lh-transform(rotate(-10deg));

				@media @mq-xs{
					position:relative;
					display:block;
					padding:@gutter 0;
					text-align: center;
					border:0 !important;
					top:inherit;

					.lh-transform(rotate(-4deg));
				}
			}

			&.true{
				em{
					color:@color-secondary-green-dark;
					border-bottom:2px solid @color-secondary-green-dark;
				}
			}
		}
	}
}

#home-video{
  //margin-bottom:100px;

  @media @mq-xs{
    //margin-bottom:40px;
  }

  .content{
    padding:@gutter;
    background:@color-brand-black;
  }
  iframe{
    height:540px;

    @media @mq-xs{
      height:200px;
    }
  }
}

#home-intro{
	.wrapper{
      background:none !important;
      position:relative;
	} 
	.content{
		background:none;

	}
  .banner{
    position:relative;
    z-index:100;
  }
	.row{
      position:relative;
      z-index:100;

		.col{
			border:0;
		}
	}
}

form{
	&.error{
		.message{
			text-align: center;

			p{
				padding:4px;
				margin:0;
				color:@color-secondary-red-light;
			}
		}
	}
}

#lightGallery-outer{
	background:fade(@color-brand-black, 80%);
}
#lightGallery-Gallery.opacity .lightGallery-slide{
	padding:20px 0 !important;
}
#lightGallery-Gallery.opacity .lightGallery-slide .object{
	border:10px solid #fff !important;
}

.bx-wrapper{
	margin:0;
	padding:0;
	border:0;
	box-shadow:none;
	border:0px;
	background:none;

	ul{
		padding:0;
		margin:0;
		list-style: none;
		box-shadow:none;
		background:none;

		li{
			padding:0;
			margin:0;
			box-shadow:none;
			background:none;
		}
	}

	.bx-viewport{
		border:0px;
		left:0;
		box-shadow:none;
		background:none;
	}
}





.bg{
  position: fixed;
  top: 0px;
  left: 0px;
  bottom:0;
  right:0;
  overflow: hidden;
  z-index: 0;

  @media @mq-xs{
    bottom:inherit;
    max-height:400px;
    position:static;
  }
}
.bgslide {
  position: fixed;
  top: 0px;
  left: 0px;
  bottom: auto;
  right: auto;
  width: 100%;
  height: 100%;
  max-width: none !important;
  opacity:0.5;
  background-repeat:no-repeat;
  background-position: center;
  background-size:cover;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;

  transform-origin: 0px 0px;
  -webkit-animation: bgMove 75s infinite; /* Safari, Chrome and Opera > 12.1 */
  -moz-animation: bgMove 75s infinite; /* Firefox < 16 */
  -ms-animation: bgMove 75s infinite; /* Internet Explorer */
  -o-animation: bgMove 75s infinite; /* Opera < 12.1 */
  animation: bgMove 75s infinite;

  @media @mq-xs{
    height:400px;
  }
}

@keyframes bgMove {
  0% {
    transform: matrix(1, 0, 0, 1, 0, 0) scale(1.0);
  }
  50% {
    transform: matrix(1, 0, 0, 1, 0, 0) scale(1.15);
    opacity:0.8;
  }
  100% {
    transform: matrix(1, 0, 0, 1, 0, 0) scale(1.0);
  }
}

/* Firefox < 16 */
@-moz-keyframes bgMove {
  0% {
    transform: matrix(1, 0, 0, 1, 0, 0) scale(1.0);
  }
  50% {
    transform: matrix(1, 0, 0, 1, 0, 0) scale(1.15);
    opacity:0.8;
  }
  100% {
    transform: matrix(1, 0, 0, 1, 0, 0) scale(1.0);
  }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes bgMove {
  0% {
    transform: matrix(1, 0, 0, 1, 0, 0) scale(1.0);
  }
  50% {
    transform: matrix(1, 0, 0, 1, 0, 0) scale(1.15);
    opacity:0.8;
  }
  100% {
    transform: matrix(1, 0, 0, 1, 0, 0) scale(1.0);
  }
}

/* Internet Explorer */
@-ms-keyframes bgMove {
  0% {
    transform: matrix(1, 0, 0, 1, 0, 0) scale(1.0);
  }
  50% {
    transform: matrix(1, 0, 0, 1, 0, 0) scale(1.15);
    opacity:0.8;
  }
  100% {
    transform: matrix(1, 0, 0, 1, 0, 0) scale(1.0);
  }
}

/* Opera < 12.1 */
@-o-keyframes bgMove {
  0% {
    transform: matrix(1, 0, 0, 1, 0, 0) scale(1.0);
  }
  50% {
    transform: matrix(1, 0, 0, 1, 0, 0) scale(1.15);
    opacity:0.8;
  }
  100% {
    transform: matrix(1, 0, 0, 1, 0, 0) scale(1.0);
  }
}


.lh-keyframes(~'arrow, 0%{ transform: translateY(0px); } 50%{ transform: translateY(10px); } 100%{ transform: translateY(0px); }');
