
/* MIXINS */
.size(@value; @unit:rem){
	font-size:unit(@value/@font-size, @unit);
}
.clearfix{
	visibility: hidden;
	display: block;
	font-size: 0;
	content: " ";
	clear: both;
	height: 0;
}

.clearlist{
	margin:0;
	padding:0;
	list-style:none;
	/*
	&:after{
		.clearfix;
	}
	*/
	li{
		padding:0;
		margin:0;
	}
}

.position-fixed{
	position:fixed;
	top:0;
	left:0;
}

/* END */



html{
	font-size:@font-size;

	@media @mq-s{
		font-size:14px;
	}
	
	@media @mq-xs{
		font-size:14px;
	}
}
body{
	font-size:100%;
	.font-family-regular;
}



*{
	box-sizing:border-box;
}

#skip-link{
  a{
    position:absolute;
    top:-100px;
    left:0px;
    overflow:hidden;
    width:1px;
    height:1px;
  }
}

html,
body,
form,
figure,
article,
section,
nav,
video,
audio,
header,
footer,
h1, h2, h3, h4, h5, h6,
dl, dt, dd, p{
	margin:0;
	padding:0;
	list-style: none;
	word-wrap: break-word;
}

p, dl, ul, table{
	line-height:1.4em;
	text-align: left;
	.size(15);
}


a{
	text-decoration:none;

	&:hover,
	&:visited,
	&:active{
		text-decoration:none;
	}
    &:focus{
      outline:0;
    }
}

p{
	line-height:1.5em;
	margin-bottom:@gutter;
	a{
		display:inline-block;
	}
}


nav{

	ul{
		&:extend(.clearlist all);

		li{
			display:inline-block;

			a{
				display:block;
			}
		}
	}
}

form{
	.message{
		display: none;
	}
	&.error{
		.message{
			display: block;
			background: @color-secondary-red-dark;
			color:@color-white;
			padding:@gutter/2;
			margin-bottom:@gutter;
		}
	}
}

.field{
	margin-bottom:@gutter;
	overflow:hidden;

	& > label{
		display:inline-block;
		position:relative;
		.size(13);
		margin-bottom:5px;
		color:@color-brand-medium;

		
	}
	&.required > label:after{
			content:"*";
			display:inline-block;
			position:absolute;
			right:-10px;
			.size(11);
			top:0;
	}
	& > div{
		display:block;
		border:1px solid @color-brand-light;
		background:#fff;
		

		input[type="text"],
		select,
		textarea{
			width:100%;
			padding:10px;
			.size(16);
			border:0;
			background:none;
			color:@color-brand-dark;
			.font-family-regular;

			&:focus{
				outline:none;
			}
		}
		textarea{
			min-height:200px;
		}
	}

	&.error{
		& > label{
			color:@color-secondary-red-dark;
		}
		& > div{
			border-color:@color-secondary-red-dark;
		}
	}
}

.buttons{
	text-align: right;
	overflow:hidden;
    padding-top:@gutter;
}

button{
	display:inline-block;
	border:0;
	background:@color-brand-dark;
	color:@color-white;
	padding:@gutter/2 @gutter;
	.size(13);
	text-transform: uppercase;
	cursor:pointer;
	.font-family-regular;

	.lh-transition(150ms all ease-in);

	&[disabled="disabled"]{
		opacity:0.5;
	}

	&.cancel{
		background:@color-brand-light;
		color:@color-brand-dark;

		&:not([disabled="disabled"]):hover{
			background:@color-brand-medium;
			color:@color-white;
		}
	}

	&.primary{
		background:@color-brand-dark;
		color:@color-white;

		&:not([disabled="disabled"]):hover{
			background:@color-brand-black;
			color:@color-white;
		}
	}
}


.maven-logo{
	font-family: arial;
	display:inline-block;
	position:relative;
	padding-right:6px;
	margin-right:10px;
	text-transform: lowercase;
	padding-left:6px;
	color:@color-brand-dark;
	.size(18);
	.lh-transition(all 150ms ease-in);

	span{
		display:inline-block;
		margin-left:-5px;

		&:nth-child(4){
			.lh-transform(rotate(-20deg));
		}
	}

	i{
		font-family:times;
		font-size:1.6em;
		position:absolute;
		right:0;
		bottom:-2px;
	}	

	&:hover{
		color:@color-white;
		.lh-transform(scale(1.2));
	}
}









.dark(){
	background:url('images/pattern_dark.jpg') center top no-repeat @color-brand-dark;
	background-size:1200px auto;

	background:@color-brand-dark-fade;
	_background:none;

}

.light(){
	background:url('images/pattern.png') center top;
	background-size:600px auto;

	background:url('images/pattern_light.jpg') center top no-repeat @color-brand-light;
	background-size:1200px auto;

	
	background:@color-brand-light-fade;
	_background:none;
}

.default(){
	background:none;
}

.shadow{
	.lh-box-shadow(2px 2px 5px rgba(0,0,0,0.08));
}



#wrapper{
	margin:auto;
	opacity:1;
	position:relative;
	z-index:100;
	height:100%;
	overflow: hidden;

	.lh-transition(all 400ms ease-in);

  /*
	body[data-domready="true"] &{
		opacity:1;
		.lh-transition(all 200ms ease-in);

		height:auto;
		overflow: hidden;
	}

	*/

	body[data-navigation_mobile="true"] &{
		.lh-transform(translateX(-@menu-width));
		.lh-transition(all 200ms ease-out);
	}
	
}

#mobile-menu-icon{
	font-size:unit(26/@font-size, em);
	color:@color-black;
	display:none;
	position:absolute;
	top:50%;
	margin-top:-20px;
	width:40px;
	height:40px;
	cursor:pointer;

	.icon-navigation{
		opacity:1;
		position:absolute;
		top:8px;
		left:0;
		width:100%;
		transition:all 150ms ease-in;
	}
	.icon-close{
		opacity:0;
		position:absolute;
		top:8px;
		left:0;
		width:100%;
		text-align: center;
		transition:all 150ms ease-in;
	}

	@media @mq-xs{

		display:block;

		body[data-navigation_mobile="true"] &{

			.icon-navigation{
				opacity:0;
				transition:opacity 150ms ease-in;
				-webkit-transition:opacity 150ms ease-in;
			}
			.icon-close{
				opacity:1;
				transition:opacity 150ms ease-in;
				-webkit-transition:opacity 150ms ease-in;
			}
		}
	}
}

#navigation-mobile{
	position:fixed;
	right:-@menu-width;
	top:0;
	bottom:0;
	width:@menu-width;
	z-index:1000;

	//.transition-menu-close;

	overflow:auto;
	overflow-scrolling: auto;
	-webkit-overflow-scrolling: touch;

	display:none;

	.lh-transform(translateX(0));
	.lh-transition(transform 200ms ease-in);


	body[data-navigation_mobile="true"] &{
		.lh-transform(translateX(-@menu-width));
		.lh-transition(transform 200ms ease-out);
	}
}