
.navigation{
	position:absolute;
	top:160px;
	left:0;
	width:100%;
	z-index:500;

    //background:fade(@color-brand-black, 70%);

	background-size:100% auto;
	text-transform:uppercase;

	@media @mq-xs{
		height:auto;
	}

	& > .wrapper{
		//padding:@gutter/2 @gutter*2;
		text-align: center;
		width:auto;
        background:fade(@color-brand-black, 95%);
        //border-top:1px solid fade(@color-brand-medium, 30%);
        padding:0;
        border-top:rgba(255,255,255,0.2) 1px solid;

		@media @mq-xs{
			text-align: center;
		}
	}

	ul{
		display:inline-block;
		width:100%;
        text-align: center;

		li{
			display:inline-block;
			padding:0;
			vertical-align:middle;

			a{
				color:@color-brand-medium;
				.size(14);
				display:block;
				text-align: center;
				padding:@gutter @gutter;
				cursor:pointer;
				.font-family-country;
				letter-spacing: 1px;

				.lh-transform(scale(1) rotate(0));
				.lh-transition(all 100ms ease-out);
			}

			&.active{
              //background:fade(@color-brand-black, 100%);

				a{
					color:#fff;
					opacity:1;
                    position:relative;

                    &:after{
                      display:block;
                      content:"";
                      background:#fff;
                      height:1px;
                      position:absolute;
                      width:30%;
                      left:35%;
                      bottom:12px;
                      opacity:0.3;
                    }
				}
			}

			&:not(.active){
				a:hover{
					color:lighten(@color-brand-light, 20%);
					opacity:1;

					.lh-transform(scale(1.2) rotate(-1.5deg));
					.lh-transition(all 100ms ease-in);
				}
			}
		}
	}
	
	.navigation-menu{
		display:inline-block;
		position:relative;

		@media @mq-xs{
			display:none;
		}
	}
	.nav-main{
		display:inline-block;
	}
	.nav-options{

		position:absolute;
		right:0;
		top:-80px;
		z-index:100;

        .share{
          width:auto;
          float:left;
          height:100%;
          padding-bottom:4px;

          li{
            margin:0;
            a{
              padding:4px;
            }
          }

          padding-right:10px;
          margin-right:20px;
          border-right:1px solid @color-brand-medium;
        }

		.lang{
			display:table;
            width:auto;
            float:left;
            margin-top:3px;
            height:100%;

            li {
              display: table-cell;
              margin:0;

              a{
                padding:4px;
              }
            }


		}
	}

	.mobile-menu-icon{

		position:absolute;
		right:0;
		top:0;
		margin:20px;
		background:fade(@color-brand-dark, 90%);
		text-align: center;

		.icon{
			color:@color-white;
		}
	}


	.logo{
		width:auto;
		display:none;
		margin:auto;
		text-align: center;
		margin-bottom:@gutter/2;

		img{
			width:250px;
		}

		@media @mq-xs{
			float:none;
			display:inline-block;
			margin:auto;
		}
	}

	@media @mq-s{
		
	}

	@media @mq-xs{
		visibility:hidden;
	}

}

#navigation-mobile{

	background:@color-brand-white;
    border-left:1px solid rgba(0,0,0,0.1);

	.navigation{

		display:block;
		background:none;
		top:0;
		border:0;

		.wrapper{
			padding:0;
          background:none;
		}	

		& > *:not(.navigation-menu){
			_display:none;
		}

		.logo{
			display:none;
		}

		.mobile-menu-icon{
			display:none;
		}

		.navigation-menu{

			display:block;
          padding:@gutter;

			.nav-main{
				float:none;
				clear:both;
				padding-top:0px;
				display:block;

				li{
					display:block;
					padding:0;
					margin:0;

					a{
						padding:10px;
						display:block;
						line-height:1em;
						color:@color-black;
						text-align: left;
						.size(16);

						&:hover{
							background:@color-brand-black;
							color:@color-white;

							.lh-transform(scale(1) rotate(0deg));
						}
					}

					&.active{
						a{
                          border:0;

                          &:after{
                            display:none;
                          }
						}
					}
				}
			}
			.nav-options{
				float:right;
				position:relative;
				top:inherit;
				right:inherit;
				margin-top:20px;
				border:0;

				@media @mq-xs{
					float:left;
				}

				.lang{
					float:left;
				}
				.share{
					float:left;
					margin:0;
				}

				li{

					a{
						padding:20px;
						display:block;
						line-height:1em;
                        color:@color-black;

						&:hover{
							background:@color-black;
							color:@color-white !important;

							.lh-transform(scale(1) rotate(0deg));
						}
					}
				}
			}
		}

		@media @mq-xs{
			visibility:visible;
		}
	}

	@media @mq-xs{
		display:block;
	}
}

#navigation-fixed{
	position:fixed;
	top:-120px;
	left:0;
	right:0;
	z-index:1000;
	height:auto;

	

	.lh-transform(translateZ(0) translateX(0));
	.lh-transition(top 300ms ease-out, transform 200ms ease-in);


	@media @mq-s{
		padding:0;
	}

	.navigation{
		position:relative;
		top:inherit;
		left:inherit;
		background:fade(@color-brand-black, 90%);
		height: auto;

		.wrapper{
			padding:0;
			text-align: center;
			overflow: hidden;

			& > div{
				background:none;
			}
		}

		ul{
			width:100%;
			margin:auto;

			li{
				a{
					//padding:20px 10px;
					//.size(16);
				}

			}
		}

		.navigation-menu{
			width:auto;
			display: inline-block;
			height: auto;
			float:none;

			@media @mq-xs{
				display:none;
			}
		}

		.nav-main{
			text-align: center;
			display:inline-block;
			float:none;
			width:auto;
		}

		.nav-options{
			display:none;
		}

		.mobile-menu-icon{
			margin:10px;
			position:absolute;
			right:0px;
			top:10px/2;
		}

		.logo{
			margin:auto;
			height:auto;
			width:auto;
			opacity:1;
			_display:inline-block;
			padding:@gutter/4;
			text-align: center;
			float:none;
			_margin-right:20px;

			img{
				height:60px;
				width:auto;

				@media @mq-s{
					height:40px;
					margin:10px;
				}
			}
		}

		@media @mq-xs{
			visibility:visible;
		}
	}


	body[data-navigation_fixed="true"] & {
		top:0;
		.lh-transition(top 200ms ease-out, transform 200ms ease-in);
	}


	body[data-navigation_mobile="true"] &{
		.lh-transform(translateZ(0) translateX(-@menu-width));
		.lh-transition(top 200ms ease-out, transform 200ms ease-out);
	}

	

	@media @mq-xs{
		top:0;
		.lh-transition(top 200ms ease-out, transform 200ms ease-in);
	}
}
