
@font-size: 16;
@line-height: 24;
@font-family:arial;

@images:"../images/";

/*
.size(@val:1) { 
    @return: unit(@val/@font-size, em); 
}
*/

@wrapper-max-width:unit((1600 / @font-size), rem);
@wrapper-content-max-width:unit((1000 / @font-size), rem);

@menu-width:220px;


@color-white:lighten(@color-brand-light, 20%);
@color-black:#1d1a1b;

@color-brand-white:#f2f2f2;
@color-brand-black:#161210;

@color-brand-extra-light:lighten(@color-brand-light, 10%);
@color-brand-light:#e4dbd2;
@color-brand-medium:#b2a395;
@color-brand-dark:#594e49;

@color-secondary-green-dark:#6d754d;
@color-secondary-green-light:#d7dcc1;

@color-secondary-red-dark:#a53232;
@color-secondary-red-light:#e2b3b3;

@color-brand-dark-fade:rgba(22, 18, 16, 0.94);
@color-brand-light-fade:rgba(255, 255, 255, 0.94);


@list-thumb-default:200px;


/*@gutter:unit(20/@font-size, rem);*/
@gutter:20px;
@gutter:unit(20/@font-size, rem);

